.campus-classes-landing-component {
  .card-container {
    height: 150px;
    margin: 10px 0;
    padding: 20px 20px 10px 20px;
    border: solid 1px #631a90;
    box-shadow: 3px 2px 3px #ccc;
    background: #fff;
  }
}