<mat-form-field appearance="standard"
                [ngClass]="jpCustomFormFieldClass">
  <mat-label>{{label}}</mat-label>
  <input matInput
         (click)="y_openDatepickerOnClick(datepicker)"
         (dateChange)="y_dateChangeHandler($event.value)"
         (dateInput)="y_dateChangeHandler($event.value)"
         (keydown.arrowdown)="y_openDatepickerOnClick(datepicker)"
         (keydown.enter)="y_openDatepickerOnClick(datepicker)"
         [formControl]="y_inputCtrl"
         [matDatepickerFilter]="y_customFilter"
         [matDatepicker]="datepicker"
         [max]="y_max"
         [min]="y_min"
         readonly>
</mat-form-field>
<mat-datepicker #datepicker
                (closed)="y_takeFocusAway(datepicker)"
                [touchUi]="touchUi">
</mat-datepicker>
