<app-navbar [active]="'campus'"></app-navbar>

<div class="container fixed-header">
    <div class="row">
        <div class="col-md-2 fixed-sidebar-wrapper">
            <div class="sticky-width sticky wide">
                <!--left sidebar-->
                  <app-community-navbar [active]="'group'"></app-community-navbar>
                <!--left sidebar-->
            </div>
        </div>
        <div class="col-md-10 fixed-sidebar-content">
            <h1 class="page-title">My Club List
              <a (click)="createClubPage()" class="btn btn-blue pull-right">Create Club Page</a>
            </h1>
            <p class="text-right"><a routerLink="/community/club-list" class="btn btn-sm btn-primary">CLUBS &
                SOCIETIES</a></p>
            <div class="clear"></div>
            <div class="col-md-4" *ngFor="let club of clubs">
                <div class="follow-widget">
                    <div class="follow-title"><a routerLink="/community/acs">{{club.title}}</a></div>
                    <a href="javascript:void(0);" (click)="unfollowclub(club.id)" class="btn btn-blue btn-sm">UnFollow</a></div>
            </div>
        </div>
    </div>
</div>
