.shared-image-preview-component {
  height: 100%;
  text-align: center;
	.close-col {
		position: absolute;
		top: 2px;
		right: 2px;
		cursor: pointer;
		i {
			font-size: 2.5rem;
      color: #b1b1b1;      
		}
	}
	.image-container-outer {
    height: 100%;
    display: flex;
    align-items: center;
		div {
			display: inline-grid;
			vertical-align: middle;
		}
		.image-container-inner {
			width: 100%;
			.cl-image-scale {
				img {
					width: 100%;
				}
			}
		}
  }
  .image-nav-container {
    position: fixed;
    bottom: 5px;
    width: 100%;
    div {
			display: inline-grid;
      vertical-align: middle;
      color: #b1b1b1;      
      font-weight: 500;
    }
    .next-col,
    .prev-col {
      cursor: pointer;
      width: 10%;
      i {
        font-size: 2.5rem;
        color: #b1b1b1;
      }
    }
  }
	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {}
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) {}
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {
    .close-col {
			i {
				font-size: 3rem;
			}
		}
		.image-container-outer {
			div {
				display: inline-block;
			}
			.image-container-inner {
        height: 600px;
				.portrait img {
					width: auto !important;
					height: 100%;
				}
				.lanscape img {
					width: 100%;
					height: auto !important;
				}
			}
    }
    .image-nav-container {
      position: static;
      bottom: none;
      width: none;
      .next-col,
      .prev-col {
        cursor: pointer;
        width: 10%;
        i {
          font-size: 3rem;
        }
      }
    }
  }
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {
    .image-container-outer {
			div {
				display: inline-block;
			}
			.image-container-inner {
        height: 600px;
        img {
          width: auto !important;
          	height: 100%;
        }
				.portrait img {
					width: none;
					height: none;
				}
				.lanscape img {
					width: none;
					height: none;
				}
			}
    }
  }
	/* Large Devices, Wide Screens */
}