.navbar-desktop-component {
  .page-active {
    border-bottom: 2px solid #ffffff;
  }
  .navbar-default {
    display: flex;
    align-items: center;
    font-family: 'Conv_MavenPro-Bold';
    font-size: 15px;
    background-color: #631a90;
  }
  .notification-icon, .search-icon {
    cursor: pointer;
    color: #ffffff;
  }
  .nav-right {
    position: relative;
    display: inline-flex;
    height: 48px;
    float: right;
    .menu {
      margin: auto;
      padding: 0 5px;
    }
  }
  .nav-left {
    position: relative;
    float: left;
    display: flex;
    .home, .community, .campus, .leisure {
      display: flex;
      margin-left: 30px;
      align-items: center;
      height: 48px;
      font-weight: 600;
      color: #ffffff;
      cursor: pointer;
      i {
        margin: 0 5px;
      }
      &:focus {
        outline: none;
      }
    }
    .brand-image {
      margin: auto;
      cursor: pointer;
    }
    .nav-link {
      display: contents;
    }
  }
  .users-menu {
    margin: auto;
    padding-left: 5px;
    .welcome-user {
      color: #ffffff;
      font-weight: 600;
    }
    #users-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
    }
  }
  .input-search {
    display: inline-flex;
    width: 260px;
    padding: 10px;
    input {
      border-radius: 0;
    }
  }
  .users-message {
    width: 260px;
    .flyout-title {
      margin: 0 10px 5px 10px;
      font-size: 13px;
      text-transform: uppercase;
      a {
        float: right;
        text-transform: capitalize;
        cursor: pointer;
      }
    }
    .flyout-view {
      margin: 0;
      padding: 5px;
      text-align: center;
      background: #e6e6e6;
    }
    .conversation-list {
      li {
        padding: 8px 5px;
        border-bottom: solid 1px #f5f5f5;
      }
    }
  }
  .conversation-list {
    .co-img {
      display: inline-block;
      width: 40px;
      height: 40px;
      vertical-align: top;
    }
    .co-info {
      display: inline-block;
      vertical-align: middle;
      width: 78%;
      margin-left: 10px;
    }
    .co-name {
      font-size: 14px;
      color: #333;
    }
    .co-day {
      float: right;
      font-size: 12px;
      color: #999;
    }
    
  }
  .users-search, 
  .users-message, 
  .users-notification, 
  .users-dropdown {
    &:before {
      content: "";
      position: absolute;
      border-bottom: 10px solid white;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      top: -10px;
      right: 5px;
    }
  }
  .users-dropdown {
    a {
      font-family: 'ProximaNovaAltRegular';
    }
  }
}
