.navbar-desktop-component {
  .page-active {
    border-bottom: 2px solid #ffffff;
  }
  .navbar-default {
    display: flex;
    align-items: center;
    font-family: 'Conv_MavenPro-Bold';
    font-size: 15px;
    background-color: #631a90;
  }
  .notification-icon, .search-icon {
    cursor: pointer;
    color: #ffffff;
  }
  .nav-right {
    position: relative;
    display: inline-flex;
    height: 48px;
    float: right;
    .menu {
      margin: auto;
      padding: 0 5px;
    }
  }
  .nav-left {
    position: relative;
    float: left;
    display: flex;
    .home, .community, .campus, .leisure {
      display: flex;
      margin-left: 30px;
      align-items: center;
      height: 48px;
      font-weight: 600;
      color: #ffffff;
      cursor: pointer;
      i {
        margin: 0 5px;
      }
      &:focus {
        outline: none;
      }
    }
    .brand-image {
      margin: auto;
      cursor: pointer;
    }
    .nav-link {
      display: contents;
    }
  }
  .users-menu {
    margin: auto;
    padding-left: 15px;
    .welcome-user {
      color: #ffffff;
      font-weight: 600;
    }
    #users-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
    }
  }
  .input-search {
    display: inline-flex;
    width: 260px;
    padding: 10px;
    input {
      border-radius: 0;
    }
  }
  .users-message {
    width: 260px;
  }
  .users-search, .users-message, .users-notification, .users-dropdown {
    &:before {
      content: "";
      position: absolute;
      border-bottom: 10px solid white;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      top: -10px;
      right: 5px;
    }
  }
}
