.shared-post-reply-component {
  .reply-container {
    margin-top: 20px;
    ul {
      li.comment-container {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: #f4f4f4;

        small {
          color: #777777;
        }
      }
      li {
        &:focus {
          outline: none;
        }
      }
    }
    .form-group {
      margin-bottom: 0;
      .input-group {
        margin-bottom: 10px;
        .btn-peersview-primary {
          height: 38px;
        }
      }
    }
  }
}