<div class="shared-post-reply-component">
  <div class="col-xs-12 " >
      <div class="reply-container">
        <div class="form-group">
          <div class="input-group">
            <input required [(ngModel)]="postReply.comment" type="text" class="form-control" required>
            <span class="input-group-btn">
              <button
                  class="btn btn-peersview-primary"
                  type="button" (click)="onPostReply()"
                  [disabled]="isUserCurrentlyCommenting">Comment</button>
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="post.postReply">
        <div *ngFor="let item of post.postReply.slice().reverse()">
          <ul style="display: flex; margin-bottom: 5px">
            <cl-image
              public-id="{{item.user.socialImage ? (item.user.profilePicture === 'avatar' ? item.user.socialImage: item.user.profilePicture): item.user.profilePicture}}"
              *ngIf="item.user?.profilePicture"
              class="user-img"
              [ngStyle]="{'border-radius': '50%'}">
              <cl-transformation width="55" height="55" radius="max" gravity="custom" crop="thumb">
              </cl-transformation>
            </cl-image>
            <li class="comment-container">
              <span class="post-time">
              <span >
                <b>{{item.user.firstName | titlecase}} {{item.user.lastName | titlecase}}</b>
              </span> {{item.comment}}
              </span>
              <div class="post-time"> <small>{{item.createdAt | date : 'short'}}</small></div>
              <a>Like</a> &nbsp; <a>Reply</a>
            </li>
            <div style="margin-left: auto">
              <report-post-component
                [post]="item"
                (onDeletePost)="onDeletePostReply($event)">
              </report-post-component>
            </div>
          </ul>
      </div>
    </div>
  </div>
</div>
