<div class="shared-post-reply-component">
  <div class="col-xs-12 reply-container" >
    <hr>
    <div class="form-group">
      <div class="input-group">
        <input required [(ngModel)]="postReply.comment" type="text" class="form-control" required>
        <span class="input-group-btn">
          <button 
            class="btn btn-peersview-primary" 
            type="button" (click)="onPostReply()" 
            [disabled]="isUserCurrentlyCommenting">Reply</button>
        </span>
      </div>
      <div class="replies-container" *ngIf="post.postReply">
        <div *ngFor="let item of post.postReply.slice().reverse()">

        <ul>
            <cl-image
            class="post-image"
            public-id="avatar"
            >
            <cl-transformation width="50" height="50" radius="max" gravity="custom" crop="thumb">
            </cl-transformation>
          </cl-image>
          <li class="comment-container">
            <span>
              <!-- public-id="{{item.user.socialImage ? (item.user.profilePicture === 'avatar' ? item.user.socialImage: item.user.profilePicture): item.user.profilePicture}}" -->
            <span class="purple">
              <b>{{item.user.firstName | titlecase}} {{item.user.lastName | titlecase}}</b>
            </span> {{item.comment}}
            </span>
            <div> <small>{{item.createdAt | date : 'short'}}</small></div>
            <a>Like</a> &nbsp; <a>Reply</a>
            <br>
            <a>Quote Reply</a> &nbsp; <a>Reply</a>
          </li>
        </ul>
        <div class="reply-comment-container">
            <cl-image
            class="post-image"
            public-id="avatar"
            >
            <cl-transformation width="50" height="50" radius="max" gravity="custom" crop="thumb">
            </cl-transformation>
          </cl-image>
            <input placeholder="Your reply..." required type="text" class="form-control" required>
        </div>
        <div class="row btn-row-container">
          <button 
          class="btn btn-peersview-primary reply-to-comment-btn pull-right" 
          >Reply</button>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>