<div id="digital-camput-sub-pages">
  <div class="nav-bar-students">
    <shared-navbar-unauth-component
      [peersviewLogo]=true
      [logo]=false
      [digitalCampus]=true
      [signIn]=true
      [signUp]=true>
    </shared-navbar-unauth-component>
  </div>
  <div class="wrapper-section">
    <div class="container">
      <div class="row">
      <div class="col-md-12 header-block">
          <div class="font-family text-center mt-50 text-color">
            <h1>Network Administrators</h1>
            <p class="content-description text-center mb-50">
                Stay in control of your institution’s campus.You can manage your students and moderate their public
                conversations.
              </p>
          </div>
          <div class="network-img text-center">
            <img src="https://res.cloudinary.com/peersview-com/image/upload/v1562663838/network-bg_yombwd.png" class="img-fluid">
          </div>
        </div>
      </div>  
    
      <div class="main-section mb-50">
          <div class="row mt-50">
              <div class="col-md-5 col-sm-12 col-xs-12">
                  <div class="inline-widget  mouse-pointer mb-50">
                      <h4 class="text-black">Configuration</h4>
                      <ul>
                          <li>Peersview support team works with you to ensure a successful launch.</li>
                          <li>Manage and streamline registration process of your students on the campus.</li>
                      </ul>
            
                  </div>
                    <div class="inline-widget  mouse-pointer mb-50">
    
    
                        <h4 class="text-black">Group Management</h4>
                        <ul>
                            <li>Post announcements into different channels of the campus.</li>
                            <li>Add and edit courses and classes</li>
                            <li>Manage permission for public student groups.</li>
                        </ul>
                    </div>
          
                    
              </div>
              <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-2">
                  <div class="inline-widget  mouse-pointer mb-50">
            
                      <h4 class="text-black">User Management</h4>
                      <ul>
                          <li>Suspend or remove users who violate your institution’s rules.</li>
                          <li>Monitor keywords to moderate inappropriate content students post within the public groups of the
                            campus.
                          </li>
                          <li>Review reported posts and spams in the campus.</li>
                      </ul>
            
                    </div>
            
                    <div class="inline-widget  mouse-pointer mb-50">
                      <h4 class="text-black">Student Analytics</h4>
                      <ul>
                          <li>Understand your students' behaviors from news dimensions.</li>
                          <li>Get a deeper understanding into levels of student satisfaction.</li>
                      </ul>
                    </div>
                  </div>
          </div>
          </div>
    </div>


      




    <index-footer-component></index-footer-component>
  </div>
</div>