<div class="index-community-page-component">
  <index-sticky-navbar-component class="community-show-sticky hidden-xs" sticky></index-sticky-navbar-component>
  <div class="container">
    <div class="row">
      <div class="text-center color-white">
        <h2>Community</h2>
        <h1>Ask Questions <br/>
          <small>And find the answers among your peers</small>
        </h1>
      </div>
      <div class="col-md-6">
        <div class="col-md-12 color-white">
          <div class="col-md-6">
            Discover and discuss topics of Interest
          </div>
          <div class="col-md-6">
            Develop a reputation within your field of study
          </div>
        </div>

        <div class="col-md-12 color-white">
          <div class="col-md-6">
            Become part of a community with students, who share your academic interests
          </div>
          <div class="col-md-6">
            Collaborate on group projects with the Mind mapping tools in the private community
          </div>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <cl-image
                public-id="communityCarousel"
                height="300">
              </cl-image>
            </div>
            <div class="item">
              <cl-image
                public-id="communityCarousel"
                height="300">
              </cl-image>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row get-started">
      <div class="col-xs-12">
        <button class="btn btn-primary btn-lg">GET STARTED</button>
      </div>
    </div>
  </div>
</div>
