<div class="index-community-page-component">
  <index-sticky-navbar-component class="community-show-sticky hidden-xs" sticky></index-sticky-navbar-component>
  <div class="container commnity-body">
    <div class="text-center m-peersview-yb-4">
      <h1>Community</h1>
      <h2>Ask Questions <br/>
        <small>And find the answers among your peers</small>
      </h2>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 color-white">
        <div class="col-md-6 discover">
          <i></i>
          Discover and discuss topics of Interest
        </div>
        <div class="col-md-6 develop">
          <i></i>
          Develop a reputation within your field of study
        </div>
      </div>

      <div class="col-md-12 color-white">
        <div class="col-md-6 community">
          <i></i>
          Become part of a community with students, who share your academic interests
        </div>
        <div class="col-md-6 collaborate">
          <i></i>
          Collaborate on group projects with the Mind mapping tools in the private community
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <cl-image
              public-id="communityCarousel"
              height="300">
            </cl-image>
          </div>
          <div class="item">
            <cl-image
              public-id="communityCarousel"
              height="300">
            </cl-image>
          </div>
        </div>
      </div>
    </div>
    <div class="row get-started">
      <div class="col-xs-12 text-center">
        <button class="btn-peersview-secondary btn-peersview-lg">GET STARTED</button>
      </div>
    </div>
  </div>
</div>
