.index-community-page-component {
  padding: 0 0 40px 0;
  background: url('http://res.cloudinary.com/peersview-com/image/upload/v1519072493/communityBg.jpg') no-repeat;
  background-size: cover;
  color: #ffffff;
  .commnity-body {
    padding-top: 50px;
  }
  .community-show-sticky {
    display: block;
  }
  small {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
  }
  .color-white {
    margin-bottom: 40px;
    .col-md-6 {
      font-size: 20px;
    }
  }
  .get-started {
    margin-top: 20px;
  }
  .discover {
    display: inline-flex;
    i {
      display: inline-table;
      width: 70px;
      height: 65px;
      background: url('https://res.cloudinary.com/peersview-com/image/upload/v1519838907/communityIndexList.png') no-repeat 0 0;
    }
  }
  .develop {
    display: inline-flex;
    i {
      display: inline-table;
      width: 70px;
      height: 65px;
      background: url('https://res.cloudinary.com/peersview-com/image/upload/v1519838907/communityIndexList.png') no-repeat 0 0;
      background-position: 0 -231px;
    }
  }
  .community {
    display: inline-flex;
    i {
      display: inline-table;
      width: 70px;
      height: 65px;
      background: url('https://res.cloudinary.com/peersview-com/image/upload/v1519838907/communityIndexList.png') no-repeat 0 0;
      background-position: 0 -116px;
    }
  }
  .collaborate {
    display: inline-flex;
    i {
      display: inline-table;
      width: 70px;
      height: 65px;
      background: url('https://res.cloudinary.com/peersview-com/image/upload/v1519838907/communityIndexList.png') no-repeat 0 0;
      background-position: 0 -347px;
    }
  }
}

@media screen and (max-width:767px ) {

    .index-community-page-component {
        .community {
        padding: 0;
        margin: 0 0 15px;
        }

        .color-white {
            margin-bottom: 15px;
            padding: 0;
        }
        .develop {
            display: inline-flex;
            padding: 0;
        }
        .discover {
            margin-bottom: 15px;
            padding: 0;
            width: auto;
            font-size: 18px;
            i {
                vertical-align: middle;
            }
         span {
                margin-right: 20px;
            }
        }
}
}
