<app-navbar [active]="'campus'"></app-navbar>

<div class="container fixed-header grey">
  <div class="row">
    <div class="col-md-2 fixed-sidebar-wrapper">
      <div class="sticky-width sticky wide">
        <app-community-navbar [active]="'group'"></app-community-navbar>
      </div>
    </div>
    <div class="col-md-10 fixed-sidebar-content">
      <div class="col-md-12">
        <div class="about-info">
          <div class="about-title">
            <div class="info-block-left"><img src="/assets/images/ACS.jpg" alt=""/>
              <h3>African Caribbean Society</h3>
            </div>
            <div class="info-block-right"><a routerLink="/my/club-list">< Back</a><br/>
              <span class="about-action"> <a routerLink="javascript:void(0);" class="btn btn-primary"
                                             id="follow-class">Follow</a> </span></div>
            <div class="clear"></div>
          </div>
          <div class="about-desc">
            <h6>About</h6>
            <p>Donec maximus semper velit. Vivamus faucibus accumsan odio. In quam purus, consequat eget
              hendrerit sit amet, consectetur eget orci. Ut sit amet suscipit ligula, in commodo tortor. n
              quam purus, consequat eget hendrerit sit amet, consectetur eget orci. Ut sit amet suscipit
              ligula, in commodo tortor.</p>
          </div>
        </div>
      </div>

      <!--right sidebar-->
      <div class="col-xs-12 col-md-push-8 col-sm-push-6  col-sm-6 col-md-4">
        <div stickyWidget>
          <app-peers-online></app-peers-online>
          <app-social-widget></app-social-widget>
          <div class="widget events">
            <h5 class="widget-title">Invite Your Peers</h5>
            <div class="invite-form">
              <div class="form-group">
                <!--<label>Invite via Email</label>-->
                <input type="text" class="form-control" placeholder="Name"/>
              </div>
              <input type="button" value="Continue" class="btn btn-white" ng-click="vm.openInvite('md')"/>
              <div class="or-text">
                <div class="line"></div>
                <span>OR</span>
              </div>
              <div class="email-site">
                <a class="email-fb" routerLink="https://www.facebook.com" target="_blank">
                  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#ffffff"
                          d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z"/>
                  </svg>
                </a>
                <a class="email-twitter" routerLink="https://twitter.com/" target="_blank">
                  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#ffffff"
                          d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z"/>
                  </svg>

                </a>
                <a class="email-gmail" routerLink="http://gmail.com/" target="_blank">
                  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#ffffff"
                          d="M23,11H21V9H19V11H17V13H19V15H21V13H23M8,11V13.4H12C11.8,14.4 10.8,16.4 8,16.4C5.6,16.4 3.7,14.4 3.7,12C3.7,9.6 5.6,7.6 8,7.6C9.4,7.6 10.3,8.2 10.8,8.7L12.7,6.9C11.5,5.7 9.9,5 8,5C4.1,5 1,8.1 1,12C1,15.9 4.1,19 8,19C12,19 14.7,16.2 14.7,12.2C14.7,11.7 14.7,11.4 14.6,11H8Z"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <app-active-poll></app-active-poll>
          <app-sidebar-footer class="hidden-xs"></app-sidebar-footer>
        </div>
      </div>
      <!--right sidebar-->

      <!--content area-->
      <div class="col-xs-12 col-md-pull-4 col-sm-pull-6 col-sm-8 col-md-8">
        <div>
          <app-post-poll-map [post]="true" [poll]="true"></app-post-poll-map>
        </div>
        <!--create post-->
        <div>
          <div>
            <div class="tab-pill"><span>TIMELINE</span></div>
            <div class="top-post">
              <div class="row">
                <div class="col-md-3 forum-user-details text-right">
                  <img src="/assets/images/user4.jpg" alt="">
                  <p>Mark Grey</p>
                  <div class="post-share ">
                    <i class="star fill"></i>
                    <i class="star fill"></i>
                    <i class="star fill"></i>
                    <i class="star fill"></i>
                    <i class="star"></i></div>
                </div>
                <div class="col-md-9 top-user-left">
                  <p class="post-time">10 h ago</p>
                  <h3 class="post-title grey" ng-click="vm.openPostDetail('lg')">Saudi Government
                    Linked To 9/11 Hijackers In Newly Released U.S. Report</h3>
                </div>
                <div class="col-xs-12 post-text">
                  <img class="img-responsive" src="/assets/images/post-img1.jpg" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
                  <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="106"></app-post-footer>

                </div>
              </div>
            </div>
            <div class="top-post">
              <div class="row">
                <div class="col-md-3 forum-user-details text-right">
                  <img src="/assets/images/user4.jpg" alt="">
                  <p>Mark Grey</p>
                  <div class="post-share ">
                    <i class="star fill"></i>
                    <i class="star fill"></i>
                    <i class="star fill"></i>
                    <i class="star fill"></i>
                    <i class="star"></i></div>
                </div>
                <div class="col-md-9 top-user-left">
                  <p class="post-time">10 h ago</p>
                  <h3 class="post-title grey" ng-click="vm.openPostDetail('lg')">Saudi Government
                    Linked To 9/11 Hijackers In Newly Released U.S. Report</h3>
                </div>
                <div class="col-xs-12 post-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
                  <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="106"></app-post-footer>

                </div>
              </div>
            </div>
            <div class="top-post">
              <div class="row">
                <div class="col-md-3 forum-user-details text-right">
                  <img src="/assets/images/toranto-uni.png" alt="">
                  <p><a routerLink="/businessProfile">Torronto University</a></p>
                  <div class="post-share ">
                    <i class="star fill"></i>
                    <i class="star fill"></i>
                    <i class="star fill"></i>
                    <i class="star fill"></i>
                    <i class="star"></i></div>
                </div>
                <div class="col-md-9 top-user-left">
                  <p class="post-time">10 h ago</p>
                  <h3 class="post-title grey" ng-click="vm.openPostDetail('lg')">Saudi Government
                    Linked To 9/11 Hijackers In Newly Released U.S. Report</h3>
                </div>
                <div class="col-xs-12 post-text">
                  <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="106"></app-post-footer>
                </div>
              </div>
            </div>
            <!--post-->
            <div class="load-more"><a routerLink="javascript:void(0);">load more...</a></div>
          </div>
        </div>
      </div>
      <!--content area-->
      <div class="visible-xs-block">
        <app-sidebar-footer ></app-sidebar-footer>
      </div>
    </div>
  </div>
</div>
