<div class="shared-job-component">
  <h2 class="no-post-yet text-center" *ngIf="jobs.length === 0">
    {{notJobMessage}}
  </h2>

  <div class="job-item" *ngFor="let job of jobs">
    <h2>{{job.title}}</h2>
    <div class="job-item-content">
      <div class="status-wrapper">
          <p class="status-item">
            <i class="material-icons">public</i>
            <span>internship</span>
          </p>
          <p class="status-item">
            <i class="material-icons">location_city</i>
            <span>{{job.country}}</span>
          </p>
      </div>
      <p>
        {{job.jobfunction}}
      </p>
    </div>
    <div class="actions-wrapper">
      <!-- <a class="view-job-btn" href="{{job.source_link}}" target="_blank">View Job</a> -->
      <a class="view-job-btn" (click)="showJobDetail(job)">View Job</a>
    </div>
  </div>
  <div class="load-more" *ngIf="jobs.length !== 0">
    <button type="button" class="btn-peersview-secondary btn-block btn-peersview-md" (click)="onLoadMoreJob()"
      [disabled]="isLoadingMoreJobs">
      {{btnLoadMoreText}}
    </button>
  </div>
</div>
