<app-navbar active="'forum'"></app-navbar>
<div class="forum-page-bg">
    <div class="container forum fixed-header grey">
        <div class="row">
            <div class="col-md-3 forum-leftmenu fixed-sidebar-wrapper hidden-xs">
              <app-forum-left-menu [page]="'forum'"></app-forum-left-menu>
            </div>
            <div class="col-md-9 forum-tab fixed-sidebar-content">
              <div class="menu-wrapper dark pull-right visible-xs">
                <button (click)="mobileMenuOpen = !mobileMenuOpen" class="forum-mobile-menu btn flat-btn">
                  Community <i class="material-icons">keyboard_arrow_down</i>
                </button>
                <ul *ngIf="mobileMenuOpen">
                  <li><a  routerLink="/forum/home">Community</a> </li>
                  <li><a  routerLink="/forum/careers">Careers</a> </li>
                </ul>
              </div>
                <div class="col-xs-12 forum-reply-item">
                    <div class="top-post">
                        <div class="row">
                            <div class="col-md-3 forum-user-details text-right">
                                <img src="/assets/images/user4.jpg" alt="">
                                <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                                <span>University of Toronto</span>
                                <div class="post-share ">
                                    <i class="star fill"></i>
                                    <i class="star fill"></i>
                                    <i class="star fill"></i>
                                    <i class="star fill"></i>
                                    <i class="star"></i></div>
                            </div>
                            <div class="col-md-9 top-user-left">
                                <div class="top-user">
                                    <div class="forum-post">
                                        <i class="input-caret grey-caret"></i>
                                        <p>I loved watching this video. I am a visual learner and seeing such good
                                            teaching in practice was very helpful for me. I do like the idea of getting
                                            students to challenge each others thinking. I am going...</p>
                                    </div>
                                  <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="false"></app-post-footer>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 forum-feed">
                    <div class="row">
                        <div class="col-md-9">
                            <!--top post-->
                            <span class="header-tab">Latest Replies</span>
                            <div class="top-post">
                                <div class="row">
                                    <div class="col-md-3 forum-user-details text-right">
                                        <img src="/assets/images/user4.jpg" alt="">
                                        <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                                        <span>University of Toronto</span>
                                        <div class="post-share ">
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i></div>
                                    </div>
                                    <div class="col-md-9 top-user-left">
                                        <div class="top-user">
                                            <div class="forum-post">
                                                <i class="input-caret grey-caret"></i>
                                                <p>I loved watching this video. I am a visual learner and seeing such
                                                    good teaching in practice was very helpful for me. I do like the
                                                    idea of getting students to challenge each others thinking. I am
                                                    going...</p>
                                            </div>
                                          <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="false"></app-post-footer>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-post">
                                <div class="row">
                                    <div class="col-md-3 forum-user-details text-right">
                                        <img src="/assets/images/user4.jpg" alt="">
                                        <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                                        <span>University of Toronto</span>
                                        <div class="post-share ">
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i></div>
                                    </div>
                                    <div class="col-md-9 top-user-left">
                                        <div class="top-user">
                                            <div class="forum-post">
                                                <i class="input-caret grey-caret"></i>
                                                <p>I loved watching this video. I am a visual learner and seeing such
                                                    good teaching in practice was very helpful for me. I do like the
                                                    idea of getting students to challenge each others thinking. I am
                                                    going...</p>
                                            </div>
                                          <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="false"></app-post-footer>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-post">
                                <div class="row">
                                    <div class="col-md-3 forum-user-details text-right">
                                        <img src="/assets/images/user4.jpg" alt="">
                                        <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                                        <span>University of Toronto</span>
                                        <div class="post-share ">
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i></div>
                                    </div>
                                    <div class="col-md-9 top-user-left">
                                        <div class="top-user">
                                            <div class="forum-post">
                                                <i class="input-caret grey-caret"></i>
                                                <p>I loved watching this video. I am a visual learner and seeing such
                                                    good teaching in practice was very helpful for me. I do like the
                                                    idea of getting students to challenge each others thinking. I am
                                                    going...</p>
                                            </div>
                                          <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="false"></app-post-footer>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-post">
                                <div class="row">
                                    <div class="col-md-3 forum-user-details text-right">
                                        <img src="/assets/images/user4.jpg" alt="">
                                        <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                                        <span>University of Toronto</span>
                                        <div class="post-share ">
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i></div>
                                    </div>
                                    <div class="col-md-9 top-user-left">
                                        <div class="top-user">
                                            <div class="forum-post">
                                                <i class="input-caret grey-caret"></i>
                                                <p>I loved watching this video. I am a visual learner and seeing such
                                                    good teaching in practice was very helpful for me. I do like the
                                                    idea of getting students to challenge each others thinking. I am
                                                    going...</p>
                                            </div>
                                          <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="false"></app-post-footer>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-reply top-post">
                              <div class="row">
                                <div class="col-md-3 forum-user-details text-right">
                                  <img src="/assets/images/user4.jpg" alt="">
                                </div>
                                <div class="col-md-9 top-user-left">
                                  <div class="forum-post">
                                    <i class="input-caret grey-caret"></i>
                                    <textarea rows="5"></textarea>
                                  </div>
                                  <button class="btn btn-blue pull-right">COMMENT</button>
                                </div>
                              </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                          <div stickyWidget>
                            <app-top-questions></app-top-questions>
                            <app-sidebar-image></app-sidebar-image>
                            <app-sidebar-footer></app-sidebar-footer>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
