<div class="nav-bar-institutions">
  <shared-navbar-unauth-component
    [peersviewLogo]=true
    [logo]=false
    [digitalCampus]=true
    [signIn]=true
    [signUp]=true>
  </shared-navbar-unauth-component>
</div>

<div class="digital-campus-institutions-component wrapper-section">

  <div class="container">
    <div class="row">

      <div class="col-md-12 header-block">
        <div class="font-family text-center mt-50 text-color">
          <h1>Infusing social interactions with <br> learning.</h1>
          <h5>Academic institution</h5>
        </div>
        <div class="institutions-img text-center">
          <img src="https://res.cloudinary.com/peersview-com/image/upload/v1562662563/institutions_v62y27.png" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="main-section">
      <div class="row mt-50">
          <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="inline-widget  mouse-pointer mb-50">
                  <h4 class="text-black">Connect the entire school as a community</h4>
                  <ul>
                    <li>Connect students outside of the classroom</li>
                    <li>Bring together your entire university community in one place for example, part-time
                      and full time students
                    </li>
                    <li>Bridge across faculties, campuses, modes of study and year levels</li>
                  </ul>
        
              </div>
                <div class="inline-widget  mouse-pointer mb-50">


                    <h4 class="text-black">Peer Review with modern Collabaration tools</h4>
                    <ul>
                      <li>Student can share documents and images easily Mind map togethor, Ask questions and
                        provide feedback to one another.
                      </li>
                    </ul>
                </div>
        
        
               
                <div class="inline-widget  mouse-pointer">
                    <h4 class="text-black">Understand your students better</h4>
          
                    <ul>
                      <li>Capture interesting data on your students. Peersview delivers insightful information into
                        levels of student satisfaction.
                      </li>
                    </ul>
                </div>
          </div>
          <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-2">
              <div class="inline-widget  mouse-pointer mb-50">
        
                  <h4 class="text-black">Help New Student Settle in</h4>
                  <ul>
                    <li>Build a great sense of community and support among new students with the Peersview Campus.</li>
                    <li>Start facilaitating friendships between enrollment & orientation(high attrition zone).</li>
                    <li>Connect international students,regional students & remote students with their peers.</li>
                  </ul>
        
                </div>
        
                <div class="inline-widget  mouse-pointer mb-50">
                  <h4 class="text-black">Ease the workload of your Orientation & Enrollment Staffs</h4>
                  <ul>
                    <li>Provide alternative tools for the staffs to help students.</li>
                    <li>Help New students spend less times in queues.</li>
                  </ul>
                </div>
                <div class="inline-widget  mouse-pointer mb-50">
                    <h4 class="text-black">Early feedback for instrucors</h4>
                    <ul>
                      <li>Instrucors can see how students are answering individual questions in real-time, and can identify and address common misunderstandings in timely fashion</li>
                    </ul>
                  </div>

          </div>
      </div>
      </div>
      <div class="row text-center m-peersview-y-4">
        <a [routerLink]="['/contact-us']" class="btn-common btn-peersview-primary btn-peersview-lg">Request a Demo</a>
      </div>
     </div>

  <index-footer-component></index-footer-component>

</div>
