<div class="page-bg hero-page">
    <!--nav start-->
    <div class="container">
        <app-navbar-unauth [page]="'resetPssword'"></app-navbar-unauth>
        <!--forgot password-->
        <div class="landing-content" id="forgot-form">
            <div class="landing-header">
                <h1>Reset Password</h1>
            </div>

            <div class="form-signin" *ngIf="successMessage">
                <div class="form-inner">
                    <form #resetpasswordForm="ngForm" (ngSubmit)="resetPassword()">

                        <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                            [(ngModel)]="model.password"
                            #password="ngModel"
                            required
                            minlength="8"
                        />
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                            <div *ngIf="password.errors.required || password.errors.minlength">
                                Password required at least 8 characters
                            </div>
                        </div>

                        <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword"
                            [(ngModel)]="model.confirmPassword"
                            #confirmPassword="ngModel"
                            validateEqual="password"
                            required
                        />
                        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
                            <div *ngIf="!confirmPassword.errors.validateEqual">
                                Password mismatch
                            </div>
                        </div>


                        <div *ngIf="responceError" class="alert alert-danger">
                            {{responceError}}
                        </div>

                        <div *ngIf="responceSucess" class="alert alert-success">
                            {{responceSucess}}
                        </div>

                        <input type="submit" class="btn btn-blue marginT20" value="Save" [disabled]="!resetpasswordForm.form.valid"/>
                    </form>
                </div>
            </div>

        <!--reset password-->
         <h2 class="text-danger text-center" *ngIf="errorMessage"><strong>Oops!</strong>{{this.errorMessage}}</h2>

       </div>
    </div>
    <!--nav end-->
</div>
