/**
 * This would be our global css
 */

// general
body, html {
  height: 100%;
  font-family: 'Conv_MavenPro-Regular';
  background: #f4f4f4;
}
ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #631990;
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: #570e83;
  }
}

// classes
.font-family {
  font-family: Conv_MavenPro-Bold;
}
.display-none {
  display: none !important;
}

// color specific
.color-purple {
  color: #631990;
}
.color-light-purple {
  color: #9737d2;
}
.color-white {
  color: #ffffff;
}

// button
.btn-primary {
  background: #631990;
  border: 1px solid #631990;
  color: #ffffff;
  border-radius: 0;
  &:hover, &:focus, &:active {
    background: #570e83;
    border: 1px solid #631990;
    color: #ffffff;
    outline: none;
    &:focus {
      background: #570e83;
      border: 1px solid #631990;
      outline: none;
    }
  }
}