.shared-post-component {
  button[disabled] {
    cursor: default;
  }
  .post {
    margin: 5px 0;
    background-color: #ffffff;
    padding: 10px;
  }
  .user {
    color: #323c47;
    font-size: 16px;
    padding-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    white-space: nowrap;
  }
  .post-message {
    p {
      margin: 5px 5px 5px 2px;
      font-size: 1.5rem;
    }
  }
  .post-images {
    display: table;
    margin-bottom: 10px;
    .image-outer {
      display: inline-grid;
      .image-inner {
        margin: 0 0 2px 2px;
        border: 2px solid #d0d0d0;
        border-radius: 3px;
  
        img {
          width: 100%;
        }
      }
    }
    .single-image {
      width: 100%;
      img {
        max-height: 150px;
        object-fit: cover;
      }
    }
    .multiple-image{
      width: 50%;
    }
  }
  .profile-stars {
    margin-top: 3px;
    .star {
      color: #feac01;
    }
    .user-name {
      position: relative;
      top: -11px;
      display: inline-block;
      font-weight: bold;
    }
  }
  .report-post-component {
    position: absolute;
    right: 0;
    z-index: 1;
  }
  .user-school-name,
  .post-time {
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-family: "Maven Pro", sans-serif;
    color: #989898;
  }
  .post-image {
    margin-right: 3px;
    margin-top: 3px;
    width: 50px;
    height: 50px;
  }
    .poll-options {
    ul {
      width: 93%;
      margin-left: 12px;
      background-color: #fcfcfc;
      li {
        padding: 3px;
        border-bottom: 1px solid #ddd;
        input {
          margin-left: 10px;
        }
      }
    }
  }
  // Custom, iPhone Retina
  @media only screen and (min-width : 320px) {}
  // extra Small Devices, Phones
  @media only screen and (min-width : 480px) {}
  // Small Devices, Tablets
  @media only screen and (min-width : 768px) {
    .post-images {
      .single-image {
        img {
          max-height: 250px;
        }
      }
    }
  }
  // Medium Devices, Desktops
  @media only screen and (min-width : 992px) {}
  // Large Devices, Wide Screens
  @media only screen and (min-width : 1200px) {}
}