<div class="shared-post-component">
  <div id="Post1" class="post" *ngFor="let post of posts">
    <report-post-component [post]="post"> </report-post-component>
    <div class="row">
      <div class="col-xs-3">
        <cl-image
          public-id="{{post.user.profilePicture}}"
          *ngIf="post?.user?.profilePicture"
          radius="max"
          width="50">
        </cl-image>
        <p>
          {{post.user.firstName}} {{post.user.lastName}}
          <span class="visible-xs">10h ago</span>
        </p>
        <shared-stars-component [ratingCount]="post.ratingCount"></shared-stars-component>
      </div>
      <div class="col-xs-9">
        <p class="post-time">{{post.createdAt | date :'short'}}</p>
        <h3 (click)="onShowPostDetailDialogComponent()">{{post.title | titlecase}}</h3>
      </div>
      <div class="col-xs-12 post-message">
        <p>
          {{post.message}}
        </p>
        <shared-post-options-component
          [post]="post"
          [likes]="post.likeCount"
          [ratingCount]="post.ratingCount"
          [views]="post.pageviewCount"
          [share]="post.shareCount"
          [replies]="post.postReplyCount"></shared-post-options-component>
      </div>
    </div>
  </div>
  <div class="load-more">
    <button
      type="button"
      class="btn-peersview-secondary btn-block btn-peersview-md"
      (click)="onLoadMorePost()">
        Load More
    </button>
  </div>
</div>
