<div class="shared-post-component">
  <div class="post" *ngFor="let post of posts">
    <div class="row">
      <report-post-component [post]="post" (onDeletePost)="onDeletePost($event)"> </report-post-component>
      <div class="col-xs-12 profile-stars">
        <div class="pull-left">
          <cl-image
            public-id="{{post.user.profilePicture}}"
            *ngIf="post?.user?.profilePicture"
            radius="max"
            class="post-image"
            (click)="onClickUserProfile(post.user);">
          </cl-image>
        </div>

        <div class="user-name">
          <span [ngStyle]="{'display': 'inline-grid'}" class="post-user-name">
            {{post.user.firstName}} {{post.user.lastName}}
          </span>
          <span class="post-time">{{post.createdAt | date :'short'}}</span>
          <div class="user-school-name">{{post.user.schoolName}}</div>
          <shared-stars-component [ratingCount]="post.ratingCount"></shared-stars-component>
        </div>
      </div>
      <div class="col-xs-12 post-message">
        <p>
          {{post.message}}
        </p>
      </div>
      <div class="col-xs-12">
        <shared-post-options-component
          [post]="post"
          [likes]="post.likeCount"
          [ratingCount]="post.ratingCount"
          [views]="post.pageviewCount"
          [share]="post.shareCount"
          [replies]="post.postReplyCount"></shared-post-options-component>
      </div>
    </div>
  </div>
  <div class="load-more">
    <button
      type="button"
      class="btn-peersview-secondary btn-block btn-peersview-md"
      (click)="onLoadMorePost()"
      [disabled]="isDisabled">
        {{btnLoadMoreText ? btnLoadMoreText : 'Load More'}}
    </button>
  </div>
</div>
