<div class="shared-post-component">
  <h2
    class="no-post-yet text-center"
    *ngIf="posts.length === 0"
  >
    No Post Yet. Be the one to POST
  </h2>
  <div class="post" *ngFor="let post of posts">
    <div class="row">
      <report-post-component
      [post]="post"
      (onDeletePost)="onDeletePost($event)">
      </report-post-component>
      <div class="col-xs-12">
        <div class="pull-left">
          <cl-image
            class="post-image"
            radius="max"
            public-id="{{post.user.profilePicture}}"
            *ngIf="post?.user?.profilePicture"
            (click)="onClickUserProfile(post.user);">
          </cl-image>
        </div>

        <div class="user-name">
          <span 
            [ngStyle]="{'display': 'inline-grid'}" 
            (click)="onClickUserProfile(post.user);"
            class="post-user-name">
            {{post.user.firstName}} {{post.user.lastName}}
          </span>
          <div class="user-school-name">
            {{post.user.schoolName}}
          </div>
          <span class="post-time">
            {{post.createdAt | date :'short'}}
          </span>
        </div>
      </div>
      <div class="col-xs-12 profile-stars">
        <shared-stars-component [ratingCount]="post.ratingCount"></shared-stars-component>
      </div>
      <div class="col-xs-12 post-message">
        <p>
          {{post.message ? post.message : 'Poll: ' + post.question}}
        </p>
      </div>
      <div class="col-xs-12 poll-options" *ngIf="!!post.question">
        <ul>
          <li *ngFor="let option of post.postPollOptions; let i = index;">
            <input type="radio" [value]="option.name"/> {{option.name}}
          </li>
        </ul>
      </div>

      <div class="col-xs-12 post-images">
        <div
          class="image-outer"
          *ngFor="let attachment of post.attachments; let imageIndex = index"
          [ngClass]="{'single-image': post.attachments.length === 1, 'multiple-image': post.attachments.length > 1}"
          (click)="onClickPhoto(post.attachments, imageIndex)"
        >
          <div
            class="image-inner"
            *ngIf="attachment.cloudinaryPublicId"
            >
            <cl-image
              public-id="{{attachment.cloudinaryPublicId}}"
              >
              <cl-transformation
                [attr.height]="post.attachments.length > 1 ? 500 : 250"
                width="500"
                crop="fill"
                radius="3"
                gravity="face"
              >
              </cl-transformation>
            </cl-image>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <shared-post-options-component
          [post]="post"
          [likes]="post.likeCount"
          [ratingCount]="post.ratingCount"
          [views]="post.pageviewCount"
          [share]="post.shareCount"
          [replies]="post.postReplyCount"
        >
        </shared-post-options-component>
      </div>
    </div>
  </div>
  <div class="load-more" *ngIf="posts.length !== 0">
    <button
      type="button"
      class="btn-peersview-secondary btn-block btn-peersview-md"
      (click)="onLoadMorePost()"
    >
      Load More
    </button>
  </div>
</div>
