.shared-post-component {
  .post {
    margin: 5px 0;
    background-color: #ffffff;
    padding: 10px;
  }
  .user {
    color: #323c47;
    font-size: 16px;
    padding-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    white-space: nowrap;
  }
  .post-message {
    p {
      margin: 20px 0;
    }
  }
  .user-name {
    position: relative;
    display: inline-block;
    font-weight: bold;
    .post-user-name {
      margin-right: 5px;
    }
  }
  .report-post-component {
    position: absolute;
    right: 0;
    z-index: 1;
  }
  .user-school-name {
    font-size: 12px;
    font-weight: normal;
    font-family: "Maven Pro", sans-serif;
    color: #989898;
  }
  .post-image {
    margin-right: 3px;
    margin-top: 3px;
    width: 50px;
    height: 50px;
  }
}
