<div class="index-footer-component">
  <div class="container">
    <div class="row">
      <div class="copyright">
        <div class="col-xs-12 col-sm-2 col-md-2">
          <cl-image
            public-id="logo">
          </cl-image>
          <p>Copyright 2017 <br/>
            All rights reserved.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 company">
        <span>Company</span>
        <ul>
          <li><a routerLink="/blogs">Blogs</a></li>
          <li><a [routerLink]="['/about-us']">About Us</a></li>
          <li><a routerLink="/about#team-info">Our Team</a></li>
          <li><a routerLink="/careers">Careers</a></li>
          <li><a routerLink="/terms-of-use">Peersview Terms, Policy and Agreement</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 support">
        <span>SUPPORT</span>
        <ul>
          <li><a routerLink="/support">Help Center</a></li>
          <li><a [routerLink]="['/contact-us']">Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 campus">
        <span>Online Campus</span>
        <ul>
          <li><a routerLink="/community/register">Campus Adminstrator</a></li>
          <li><a routerLink="/container3" class="tab-link3">FAQ</a></li>
          <li><a routerLink="/choose-plan">Pricing</a></li>
          <li><a routerLink="/terms-of-use">Privacy Policy</a></li>
          <li><a routerLink="/terms-of-use-user">Terms of Use</a></li>
          <li><a routerLink="/terms-of-use-user">Service & Software Licence Agreement</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 connect-with-us">
        <div class="social-block">
          <span>Connect With Us</span>
          <div class="social-list1">
            <a class="facebook" data-toggle="tooltip" title="Facebook"></a>
            <a class="twitter" data-toggle="tooltip" title="Twitter"></a>
            <a class="instagram" data-toggle="tooltip" title="Instagram"></a>
            <a class="linkedIn" data-toggle="tooltip" title="LinkedIn"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>