<app-navbar [active]="'campus'"></app-navbar>

<div class="container fixed-header grey">
  <div class="row">
    <div class="col-md-2 fixed-sidebar-wrapper">
      <div class="sticky-width wide">
        <app-community-navbar [active]="'class'"></app-community-navbar>
      </div>
    </div>
    <div class="col-md-10 fixed-sidebar-content container">
      <div class="row">
        <div class="col-xs-12 post-actions">
          <a routerLink="/community/classes-list" class="class-list">Class List</a>
          <div class="page-title">
            <p>Auditing</p>
          </div>
          <div>
            <app-post-poll-map [post]="true" [poll]="true" [map]="true"></app-post-poll-map>
          </div>
          <!--create post-->
        </div>

        <!--right sidebar-->
        <div class="col-xs-12 col-sm-6 col-md-4 col-md-push-8 col-sm-push-6">
          <div stickyWidget>
            <app-peers-online></app-peers-online>
            <app-brainstorming-map></app-brainstorming-map>
            <app-active-poll></app-active-poll>
            <app-sidebar-footer class="hidden-xs"></app-sidebar-footer>
          </div>
        </div>
        <!--right sidebar-->
        <!--content area-->
        <div class="col-xs-12 col-sm-6 col-md-8 col-md-pull-4 col-sm-pull-6 ">
          <!--create post-->
          <div>
            <div>
              <div class="tab-pill"><span>TIMELINE</span></div>
              <div class="top-post">
                <div class="row">
                  <div class="col-md-3 forum-user-details text-right">
                    <img src="/assets/images/user4.jpg" alt="">
                    <p>Mark Grey</p>
                    <div class="post-share ">
                      <i class="star fill"></i>
                      <i class="star fill"></i>
                      <i class="star fill"></i>
                      <i class="star fill"></i>
                      <i class="star"></i></div>
                  </div>
                  <div class="col-md-9 top-user-left">
                    <p class="post-time">10 h ago</p>
                    <h3 class="post-title grey">Saudi Government Linked To 9/11 Hijackers In Newly
                      Released U.S. Report</h3>
                  </div>
                  <div class="col-xs-12 post-text">
                    <img class="img-responsive" src="/assets/images/post-img1.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                      culpa qui officia deserunt mollit anim id est laborum</p>
                    <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="106"></app-post-footer>

                  </div>
                </div>
              </div>
              <div class="top-post">
                <div class="row">
                  <div class="col-md-3 forum-user-details text-right">
                    <img src="/assets/images/user4.jpg" alt="">
                    <p>Mark Grey</p>
                    <div class="post-share ">
                      <i class="star fill"></i>
                      <i class="star fill"></i>
                      <i class="star fill"></i>
                      <i class="star fill"></i>
                      <i class="star"></i></div>
                  </div>
                  <div class="col-md-9 top-user-left">
                    <p class="post-time">10 h ago</p>
                    <h3 class="post-title grey">Saudi Government Linked To 9/11 Hijackers In Newly
                      Released U.S. Report</h3>
                  </div>
                  <div class="col-xs-12 post-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                      culpa qui officia deserunt mollit anim id est laborum</p>
                    <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="106"></app-post-footer>

                  </div>
                </div>
              </div>
              <div class="top-post">
                <div class="row">
                  <div class="col-md-3 forum-user-details text-right">
                    <img src="/assets/images/user4.jpg" alt="">
                    <p>Mark Grey</p>
                    <div class="post-share ">
                      <i class="star fill"></i>
                      <i class="star fill"></i>
                      <i class="star fill"></i>
                      <i class="star fill"></i>
                      <i class="star"></i></div>
                  </div>
                  <div class="col-md-9 top-user-left">
                    <p class="post-time">10 h ago</p>
                    <h3 class="post-title grey">New Brainstorm map generated for the Topic Text</h3>
                  </div>
                  <div class="col-xs-12 post-text">
                    <div>
                      <app-full-brainstorming-map></app-full-brainstorming-map>
                    </div>
                    <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="106"></app-post-footer>

                  </div>
                </div>
              </div>
              <!--post-->
              <div class="load-more"><a href="javascript:void(0);">load more...</a></div>
            </div>
          </div>
        </div>
        <!--content area-->

        <div class="visible-xs-block">
          <app-sidebar-footer ></app-sidebar-footer>
        </div>
      </div>

    </div>
  </div>
</div>
