<div class="campus-admin-dasboard col-xs-offset-1 col-xs-10">
  <div class="search-container">
    <div class="row dashboard-search-title">
      <div class="col-xs-12">
        <i class="material-icons">
          search
        </i>
        &nbsp; Monitor Keyword
      </div>
    </div>
    <div class="row dashboard-search-bar">
      <div class="col-xs-9">
        <input class="search-bar form-control" placeholder="Search for..." type="text" ng-reflect-class-base="form-control">
      </div>
      <div class="col-xs-3 text-right">
        <button class="btn btn-default search-btn" type="button">SEARCH KEYWORD</button>
      </div>
    </div>
    <div class="row dashboard-overview-bar">
      <div class="col-xs-9">
        <h3><span>54</span> posts are using this keyword</h3> 
      </div>
      <div class="col-xs-3 text-right">
        <button class="btn btn-default flat-btn view-post-btn" type="button">
          <i class="material-icons">
            voicemail
          </i>
          &nbsp; View Post
        </button>
      </div>
    </div>

    <hr>

    <div class="row dashboard-keyword-container">
      <div class="col-xs-4 keyword-box">
        <div class="col-xs-12 title keyword-grid">
          KEYWORDS
        </div>
        <div class="col-xs-6 text-center keyword-grid keywords">
          <h2>4</h2>
          <label>Keywords</label>
        </div>
        <div class="col-xs-6 text-center keyword-grid used-in-posts">
          <h2>178</h2>
          <label>Used in Posts</label>
        </div>
        <div class="col-xs-12 keyword-grid">
          Graph goes here
        </div>
        <div class="col-xs-12 keyword-percentage">
          <div class="col-xs-6 keyword-grid">
            <span class="badge">40%</span> a
          </div>
          <div class="col-xs-6 keyword-grid">
            <span class="badge">40%</span> b
          </div>
          <div class="col-xs-6 keyword-grid">
            <span class="badge">40%</span> c
          </div>        
          <div class="col-xs-6 keyword-grid">
            <span class="badge">40%</span> d
          </div>
        </div>
      </div>
    </div>
  </div>
</div>