<div class="page-bg hero-page">
    <!--nav start-->
    <div class="container">
        <app-navbar-unauth [page]="'register'"></app-navbar-unauth>
        <!--/.nav-collapse -->
        <div class="clear"></div>
        <!--Register form-->
        <div class="landing-content" id="register-form">
            <div class="landing-header">
                <h1>Register A Campus</h1>
            </div>
            <div class="form-signin">
                <div class="row form-bg">
                    <div class="col-md-12 form-inner">
                        <form>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Institutions Name"/>
                                <input type="text" class="form-control" placeholder="Institutions Email"/>
                            </div>
                            <div class="col-md-6">
                                <input type="password" class="form-control" placeholder="Password"/>
                                <input type="password" class="form-control" placeholder="Confirm Password"/>
                            </div>
                            <div class="col-md-12 text-right">
                                <input type="button" class="btn btn-blue" id="register-comm-btn"
                                       ng-click="vm.openLoginForm()" value="Register"/>
                                <p class="terms">By clicking on register you are agreeing to our Terms, Policy and
                                    Agreement</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Register form-->
        <!--Login form-->
        <div class="landing-content" id="login-comm-form" style="display:none;">
            <div class="landing-header">
                <h1>Login To Your Community</h1>
            </div>
            <div class="form-signin">
                <div class="row form-bg">
                    <div class="col-md-12 form-inner">
                        <form>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Institutions Name"/>
                            </div>
                            <div class="col-md-6">
                                <input type="password" class="form-control" placeholder="Password"/>
                            </div>
                            <div class="col-md-12 text-right">
                                <input type="button" class="btn btn-blue" value="Login"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Login form-->
    </div>
    <!--nav end-->
</div>
