.add-experience-modal {
    .flex {
        display: flex;

        .datepicker-wrapper {
            flex: 0 1 50%;

            label {
                margin-right: 10px;
            }
        }
    }
}