<app-navbar [active]="'campus'"></app-navbar>

<div class="container fixed-header">
  <div class="row">
    <div class="col-md-2 fixed-sidebar-wrapper">
      <div class="sticky-width wide">
        <app-community-navbar [active]="'class'"></app-community-navbar>
      </div>
    </div>
    <div class="col-md-10 fixed-sidebar-content">
      <h1 class="text-center sub-title">Join Your Classes</h1>
      <ul class="nav nav-tabs page-tabs">
        <li class="active">
          <a (click)="openTab('tab1')" data-toggle="tab">Undergraduate Courses</a>
        </li>
        <li>
          <a (click)="openTab('tab2')" data-toggle="tab">Postgraduate Courses</a>
        </li>
      </ul>
      <div class="tab-content marginT20">
        <div class="ln-letters">
          <a class="all ln-selected" href="javascript:void(0);">All</a> <a class="a"
                                                                                                 href="javascript:void(0);">A</a>
          <a class="b" href="javascript:void(0);">B</a> <a class="c" href="javascript:void(0);">C</a> <a
            class="d" href="javascript:void(0);">D</a> <a class="e" href="javascript:void(0);">E</a> <a
            class="f" href="javascript:void(0);">F</a> <a class="g ln-disabled"
                                                          href="javascript:void(0);">G</a> <a
            class="h ln-disabled" href="javascript:void(0);">H</a> <a class="i"
                                                                      href="javascript:void(0);">I</a>
          <a class="j" href="javascript:void(0);">J</a> <a class="k" href="javascript:void(0);">K</a> <a
            class="l ln-disabled" href="javascript:void(0);">L</a> <a class="m"
                                                                      href="javascript:void(0);">M</a>
          <a class="n ln-disabled" href="javascript:void(0);">N</a> <a class="o"
                                                                       href="javascript:void(0);">O</a> <a
            class="p" href="javascript:void(0);">P</a> <a class="q" href="javascript:void(0);">Q</a> <a
            class="r" href="javascript:void(0);">R</a> <a class="s ln-disabled"
                                                          href="javascript:void(0);">S</a> <a class="t"
                                                                                              href="javascript:void(0);">T</a>
          <a class="u ln-disabled" href="javascript:void(0);">U</a> <a class="v"
                                                                       href="javascript:void(0);">V</a> <a
            class="w" href="javascript:void(0);">W</a> <a class="x ln-disabled"
                                                          href="javascript:void(0);">X</a> <a class="y"
                                                                                              href="javascript:void(0);">Y</a>
          <a class="z ln-last" href="javascript:void(0);">Z</a></div>
        <div class="tab-pane active" id="tab1">
          <div>
            <div class="col-md-4 col-xs-12 col-sm-6">
              <div class="box-list">
                <div class="box-title"><a routerLink="/community/classes-detail">Accounting and
                  Finance</a><span
                  class="active-user">252</span></div>
                <img src="/assets/images/course-accounting.jpg" class="img-responsive" alt=""/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate iaculis
                  dolor, sit amet pulvinar purus gravida in.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
              <div class="box-list">
                <div class="box-title"><a routerLink="/community/classes-detail">Biology</a><span
                  class="active-user">252</span></div>
                <img src="/assets/images/course-biology.jpg" class="img-responsive" alt=""/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate iaculis
                  dolor, sit amet pulvinar purus gravida in.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
              <div class="box-list">
                <div class="box-title"><a routerLink="/community/classes-detail">Computer
                  Science</a><span
                  class="active-user">252</span></div>
                <img src="/assets/images/course-cs.jpg" class="img-responsive" alt=""/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate iaculis
                  dolor, sit amet pulvinar purus gravida in.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
              <div class="box-list">
                <div class="box-title"><a routerLink="/community/classes-detail">Dentistry</a><span
                  class="active-user">252</span></div>
                <img src="/assets/images/course-dentistry.jpg" class="img-responsive" alt=""/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate iaculis
                  dolor, sit amet pulvinar purus gravida in.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
              <div class="box-list">
                <div class="box-title"><a routerLink="/community/classes-detail">Economics</a><span
                  class="active-user">252</span></div>
                <img src="/assets/images/course-eco.jpg" class="img-responsive" alt=""/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate iaculis
                  dolor, sit amet pulvinar purus gravida in.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
              <div class="box-list">
                <div class="box-title"><a routerLink="/community/classes-detail">Finance and
                  Investment</a><span
                  class="active-user">252</span></div>
                <img src="/assets/images/course-finance.jpg" class="img-responsive" alt=""/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate iaculis
                  dolor, sit amet pulvinar purus gravida in.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane active" id="tab2">
          <div>
            <div class="col-md-4 col-xs-12 col-sm-6">
              <div class="box-list">
                <div class="box-title"><a routerLink="/community/classes-detail">Dentistry</a><span
                  class="active-user">252</span></div>
                <img src="/assets/images/course-dentistry.jpg" class="img-responsive" alt=""/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate iaculis
                  dolor, sit amet pulvinar purus gravida in.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
              <div class="box-list">
                <div class="box-title"><a routerLink="/community/classes-detail">Economics</a><span
                  class="active-user">252</span></div>
                <img src="/assets/images/course-eco.jpg" class="img-responsive" alt=""/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate iaculis
                  dolor, sit amet pulvinar purus gravida in.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
              <div class="box-list">
                <div class="box-title"><a routerLink="/community/classes-detail">Finance and
                  Investment</a><span
                  class="active-user">252</span></div>
                <img src="/assets/images/course-finance.jpg" class="img-responsive" alt=""/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate iaculis
                  dolor, sit amet pulvinar purus gravida in.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
