<div class="report-modal">
  <h3 class="modal-heading">Report</h3>
  <div class="modal-body">
    <div class="radio">
      <div class="radio">
        <label>
          <input type="radio" name="report">
          I am not interested in this Post</label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="report">
          This Post is abusive and harmful</label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="report">
          This Post is posting Spam</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-grey" mat-dialog-close>Cancel</button>
    <button type="button" class="btn btn-blue">Submit</button>
  </div>
</div>
