<div class="index-trending-now-page-component">
  <div class="container">
    <div class="text-center peersview-primary-color">
      <h5>JOBS</h5>
      <h2>Don’t Miss <i>O</i>ut</h2>
    </div>
    <div class="col-md-12 p-peersview-0">
      <div class="col-md-6 p-peersview-0">
        <div class="innter-container">
          <span><strong>Find</strong> relevant jobs and internship opportunities that match your interests and skills!</span>
        </div>
      </div>
      <div class="col-md-6 p-peersview-0">
        <div class="innter-container">
          <span><strong>Read and Share</strong> top articles on trends in your industry or field of study.</span>
        </div>
      </div>
      <div class="col-md-6 p-peersview-0  third-text">
        <div class="innter-container">
          <span><strong>Get discovered: </strong> introduce yourself with a profile that sets you apart and gets you noticed.</span>
        </div>
      </div>      
    </div>
<!--     <div>
      <div class="innter-container third-text">
        <span><strong>Read and share</strong> meaningful stories on diverse issues</span>
      </div> -->
<!--     <div class="col-md-12 p-peersview-0">
      <div class="col-md-6 p-peersview-0">
      </div> -->
<!--       <div class="col-md-6 p-peersview-0">
        <div class="innter-container">
          <span><strong>Catch</strong> the latest hilarious memes, GIFS and videos</span>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
</div>
