<div class="index-trending-now-page-component">
  <div class="container">
    <div class="text-center peersview-primary-color">
      <h5>TRENDING NOW</h5>
      <h1>Don’t Miss <i>O</i>ut</h1>
      <h3>Keep Up-to-date with the World.</h3>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="innter-container">
          Keep up with Trending News, New fashion styles and Latest gossips
        </div>
      </div>
      <div class="col-md-6">
        <div class="innter-container">
          Build an Audience among your Peers
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="innter-container">
          Read and share meaningful stories on diverse issues.
        </div>
      </div>
      <div class="col-md-6">
        <div class="innter-container">
          Send private messages to Peers in your network
        </div>
      </div>
    </div>
  </div>
</div>
