@import '../../../../assets/scss/variables';

.shared-followers-component {
  // padding: 0 10px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  font-family: 'Conv_MavenPro-Bold';
  .view-all {
    padding: 15px;
    font-family: 'Conv_MavenPro-Bold';
    text-decoration: none;
    cursor: pointer;
  }
  h5 {
    border-bottom: 1px solid #eee;
    padding: 0;
    display: flex;
  }
  .social-icon {
    margin: -5px 5px 0 7px;
  }
}