<div class="index-service-page-component">
  <div class="container">
    <div class="col-sm-6 col-md-3">
      <div class="service-widget ">
        <h4 class="color-purple">COMMUNITY</h4>
        <cl-image
          public-id="servicesCommunity"
          class="img-responsive">
        </cl-image>
        <p>
          The community connects you with peers from various academic institutions, to share academic and
          social knowledge.
          <br/>
          <a (click)="gotoSection('forum')" class="link-und">Learn More</a>
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="service-widget">
        <h4 class="color-purple">TRENDING NOW</h4>
        <cl-image
          public-id="serviceTrendingNow"
          class="img-responsive">
        </cl-image>
        <p>
          Share and discover Trending News and other information of interest.
          <br/>
          <a (click)="gotoSection('news')" class="link-und">Learn More</a>
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="service-widget ">
        <h4 class="color-purple">LEISURE</h4>
        <cl-image
          public-id="serviceEvents"
          class="img-responsive">
        </cl-image>
        <p>
          Discover and Create social events. Save money as you find student discounts on local restaurants
          and stores.
          <br/>
          <a (click)="gotoSection('events')" class="link-und">Learn More</a>
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="service-widget">
        <h4 class="color-purple">CAMPUS</h4>
        <cl-image
          public-id="serviceCampus"
          class="img-responsive">
        </cl-image>
        <p>
          The Campus is a great tool for collaborating with classmates, and connecting with school mates.
          <br/>
          <a (click)="gotoSection('community')" class="link-und">Learn More</a>
        </p>
      </div>
    </div>
    <div class="sign-up-here">
      <button class="btn-peersview-secondary btn-peersview-lg">SIGN UP HERE</button>
    </div>
  </div>
</div>