<div class="index-leisure-page-component">
  <div class="leisure-block">
    <div class="container">
      <div class="row">
        <div class="header-block text-center">
          <h1>See What Other Students are Saying About Peersview</h1>
        </div>
        <div class="center">
          <div class="col-sm-12 col-xs-12">
            <div class="col-sm-4 col-xs-12 student-image spacing">
              <div class="row">
                <div>
                  <cl-image
                    public-id="image_1_poexog"
                    height="300">
                  </cl-image>
                </div>
                <div>
                  <span><strong>Tom Smith</strong></span>
                </div>
                <div>
                  <p>
                    Peersview is great for meeting course-mates from other universities.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12 student-image spacing">
              <div class="row">
                <div>
                  <cl-image
                    public-id="image_yepduo">
                  </cl-image>
                </div>
                <div>
                  <span><strong>Sarah Durham</strong></span>
                </div>
                <div>
                  <p>
                    Nothing boosts my confidence like getting 5 star ratting from my peers.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-4 col-xs-12 student-image spacing">
              <div class="row">
                <div>
                  <cl-image
                    public-id="image_2_lbhjln"
                    height="300">
                  </cl-image>
                </div>
                <div>
                  <span><strong>Angela Davis</strong></span>
                </div>
                <div>
                  <p>
                    I am addicted to earning from my contributions on Peersview.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 info-video text-center">
          <a class="btn-peersview-primary btn-peersview-lg" [routerLink]="['/sign-up']"><i></i>SIGN UP NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>
