<div class="index-leisure-page-component">
  <div class="leisure-block">
    <div class="container">
      <div class="row">
        <div class="header-block text-center">
          <h5>Leisure</h5>
          <h1>Get Out and Have Some Fun!
            <br/>
            <small>Indulge,relax & Recharge</small>
          </h1>
        </div>
        <div class="center">
          <div class="col-sm-12">
            <div class="col-sm-6">
              Discover upcoming events in your City and neighboring Cities.
            </div>
            <div class="col-sm-6">
              Book tickets for upcoming events with ease.
            </div>
          </div>

          <div class="col-sm-12">
            <div class="col-sm-6">
              <h3>Event organisers</h3>
              <p>Advertise your events to the target audience</p>
              <p>Online ticketing sales</p>
            </div>
            <div class="col-sm-6">
              Save money as you find discounts on local restaurants and stores.
            </div>
          </div>
        </div>
        <div class="info-video text-center">
          <a class="btn-peersview-primary btn-peersview-lg"><i></i>Watch This Video</a>
        </div>
      </div>
    </div>
  </div>
</div>