.index-leisure-page-component {
  background: url('https://res.cloudinary.com/peersview-com/image/upload/v1519065568/leisureBg.jpg') no-repeat 0 -100px #000;
  background-size: cover;
  color: #fff;
  padding: 40px 0;
  border-bottom: 1px solid #65298a;
  .leisure-block {
    .header-block {
      h5 {
        font-size: 20px;
        font-family: Conv_MavenPro-Bold;
        text-transform: uppercase;
      }
      small {
        margin-top: 10px;
        font-size: 18px;
        color: #fff;
      }
    }
    h3 {
      margin-top: 0;
    }
    .center {
      padding-top: 30px;
      font-size: 20px;
    }
  }
  .col-sm-12 {
    margin-bottom: 30px;
  }
  .watch-video {
    font-size: 20px;
  }
  .border {
    margin-bottom: 15px;
    border: 1px solid;
    padding: 12px;
  }
    
  // Custom, iPhone Retina
  @media only screen and (min-width : 320px) {}
  // extra Small Devices, Phones
  @media only screen and (min-width : 480px) {}
  // Small Devices, Tablets
  @media only screen and (min-width : 768px) {
    .border {
      margin-bottom: unset;
      border: unset;
      padding: unset;
    }
  }
  // Medium Devices, Desktops
  @media only screen and (min-width : 992px) {}
  // Large Devices, Wide Screens
  @media only screen and (min-width : 1200px) {}
}

