<shared-navbar-component></shared-navbar-component>
<div class="account-settings-component container fixed-header">
  <div class="page-name-title">Account Setting</div>
  <div class="row">
    <div class="col-lg-3">
      <div
      class="account-settings-component-general-menu p-peersview-1"
      [routerLink]="['general']" [routerLinkActive]="'active-menu'">
        General
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
      <div
      class="account-settings-component-password-menu p-peersview-1"
      [routerLink]="['password']" [routerLinkActive]="'active-menu'"
      *ngIf="!user?.facebookId || !user?.linkedinId || !user?.googleId">
        Password
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
      <div
      class="account-settings-component-security-menu p-peersview-1"
      [routerLink]="['security-privacy']" [routerLinkActive]="'active-menu'">
        Security and Privacy
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
      <div
      class="account-settings-component-blocking-menu p-peersview-1"
      [routerLink]="['blocking']" [routerLinkActive]="'active-menu'">
        Blocking
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
      <div
      class="account-settings-component-notifications-menu p-peersview-1"
      [routerLink]="['notifications']" [routerLinkActive]="'active-menu'">
        Notifications
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
      <div
      class="account-settings-component-billing-menu p-peersview-1"
      [routerLink]="['billing']" [routerLinkActive]="'active-menu'">
        Billing
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
    </div>
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>