<app-support-header
        [header]='header'
        [sub_header]='sub_header'
></app-support-header>

<div class="container">
    <div class="back-menu"><a routerLink="/support">Back to Main Menu</a></div>
    <h4 class="line-level-heading">How to Advertise your services on Peersview</h4>
    <p>You can offer student discount for your services and advertise them on Peersview.</p>
    <div class="field-helpful">
        <span class="helpful-title">Was this article helpful?</span>
        <span class="helpful-action">
      	<a href="javascript:void(0);" class="helpful-yes" title="Yes" data-toggle="tooltip"></a>
        <a href="javascript:void(0);" class="helpful-no" title="No" data-toggle="tooltip"></a>
      </span>
        <span class="helpful-result">(0 out of 0 found this helpful)</span>
        <span class="helpful-contact">Have more questions? <a routerLink="/contact">Contact us</a></span>
    </div>
</div>