<div class="about-us-component">
  <about-us-index-page-component></about-us-index-page-component>
  <about-us-how-it-is-started-component></about-us-how-it-is-started-component>
  <about-us-community-component></about-us-community-component>
  <about-us-team-component></about-us-team-component>
</div>


<!--whats block-->
<!-- <div class="container-fluid whats-block">
  <div class="container">
    <div class="whats-detail-info">
      <h5 class="block-sec-heading">How it all started</h5>
      <p>
        Every profesional started as a student. As the founders of Peersview, we realized that what students need most to become succesful is a mix of academic support and a sense of community.
      </p>
      <p>
        To achieve this, we designed Peersview to increase peer-to-peer interactions among students, with an innovative blend of social networking features.
      </p>
      <p>
        Here at Peersview, we foster an incredibly diverse community of students; it is accessible to users from all over the world. Our vision is to have every student on our platform feel empowered and connected from debating about topics in college to discussing
        professional passions. Ultimately, the goal of Peersview is to connect students with similar interests, likes and opinions in order to help them grow into successful professionals.
      </p>
      <p>
        We simultaneously provide the best tools for obtaining knowledge as well as the ability to create new relationships in a way that has proven to be enjoyable to students.
      </p>
    </div>
  </div>
</div> -->
<!--whats block-->
<!--community block-->
<!-- <div class="container-fluid block-community">
  <div class="container">
    <h1>Our Mission</h1>
    <h3>Our mission is to connect geographically disconnected peers through their interests, with a platform where
            they can share knowledge and social experiences.</h3>
  </div>
</div> -->
<!--community block-->
<!--team block-->
<!-- <div class="container-fluid team-block" id="team-info">
  <div class="container">
    <div class="team-container">
      <div class="hgroup">
        <h1>Our team</h1>
        <p>At Peersview we are hungry, hungry to learn, hungry to develop and hungry to make a difference.</p>
      </div>
      <div class="row members-block">
        <div class="members-block__member">
          <div class="members-info"><img src="/assets/images/team/Gab_image2.jpg" class="img-circle" alt="" /> <span>Gabriel Amodu</span>
            <small>Product Lead</small>
          </div>
        </div>
        <div class="members-block__member">
          <div class="members-info"><img src="/assets/images/team/Nikola_Ledger.JPG" class="img-circle" alt="" /> <span>Nikola Leger</span>
            <small>Business Development</small>
          </div>
        </div>
        <div class="members-block__member">
          <div class="members-info"><img src="/assets/images/default_img.jpg" class="img-circle" alt="" />
            <span>Phalecs Jagoboro</span>
            <small>Lead Engineer</small>
          </div>
        </div>
        <div class="members-block__member">
          <div class="members-info"><img src="/assets/images/team/Heena2.png" class="img-circle" alt="" />
            <span>Heena Trivedi</span>
            <small>Engineer</small>
          </div>
        </div>
        <div class="members-block__member">
          <div class="members-info"><img src="/assets/images/team/anton_voroshilov.jpg" class="img-circle" alt="" />
            <span>Anton Voroshilov</span>
            <small>Engineer</small>
          </div>
        </div>
      </div>
    </div>
    <div class="team-container">
      <div class="hgroup">
        <h1 class="black">Advisory Team</h1>
      </div>
      <div class="row members-block">
        <div class="members-block__member">
          <div class="members-info"><img src="/assets/images/team/bowale_jolaoso.jpg" class="img-circle" alt="" />
            <span>Bowale Jolaoso</span>
          </div>
        </div>
        <div class="members-block__member">
          <div class="members-info"><img src="/assets/images/default_img.jpg" class="img-circle" alt="" />
            <span>Norm Vaughan</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!--team block-->
<div id="backToTop" title="Back to Top"></div>