<div class="status-selection">
    <label>Status:</label>
    <span class="select-options">
    <a>Endorsed Account</a>
    </span>
</div>
<div class="board-block">
    <div class="board-bar count4">
        <span class="filter-field">
        <input type="text" class="form-control institue" placeholder="Name of Institution"/>
    </span>
        <span class="filter-field">
            <input type="text" class="form-control designation" placeholder="Current City"/>
        </span>
        <span class="filter-field">
            <input type="text" class="form-control designation" placeholder="Year of Incorporation"/>
    </span>
        <span class="filter-field last-border">
            <input type="text" class="form-control designation" placeholder="Website"/>
        </span>

        <div class="clear"></div>
    </div>
    <div class="board-content">

    </div>
</div>
<div class="bottom-button no-sep">
    <input class="btn btn-md btn-blue" value="Finish" type="button">
</div>
