<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" (click)="mobileNavOpen = !mobileNavOpen" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a *ngIf="page !== 'index-duplicated' && page !== 'about-us-index' && page !== 'contact-index' && page !== 'support-index'" class="navbar-brand" routerLink="/"><img src="/src/assets/images/logo.png" alt=""></a>
    <a *ngIf="page === 'index-duplicated' || page === 'about-us-index' || page === 'contact-index' || page === 'support-index'" class="navbar-brand" routerLink="/landing"><img src="/src/assets/images/logo.png" alt=""></a>
  </div>
  <div id="navbar" class="navbar-collapse collapse" [class.in]="mobileNavOpen">
    <ul class="nav navbar-nav">
      <li *ngIf="page === 'about-us'"><a routerLink="/blogs">Blogs</a></li>
      <li *ngIf="page === 'about-us'"><a href="javascript:void(0);">Press</a></li>
      <!--<li><a routerLink="/about">WHY PEERSVIEW</a></li>-->
      <!--<li><a routerLink="/choose-plan">PLAN</a></li>-->
      <li *ngIf="page !== 'about-us' && page !== 'sign-in' && page !== 'choose-plan' && page !== 'about-us-index' && page!=='forgot-password'">
        <a *ngIf="page !== 'veEmail' && page !== 'resetPssword' && page !== 'index-duplicated' && page !== 'contact-index' && page !== 'support-index'" [routerLink]="['/about']">About us</a>
        <a *ngIf="page !== 'veEmail' && page !== 'resetPssword' && page === 'index-duplicated' || page === 'contact-index' || page === 'support-index'" [routerLink]="['/about-index']">About us</a>
      </li>
      <li *ngIf="page !== 'veEmail' &&  page !== 'resetPssword' && page !== 'sign-in' && page !== 'choose-plan' && page !== 'index-duplicated' && page !== 'about-us-index' && page !== 'contact-index' && page !== 'support-index'" class="link-highlight-green">
        <a routerLink="/sign-in">SIGN IN</a>
      </li>
      <li *ngIf="page !== 'veEmail' && page !== 'resetPssword' && page === 'about-us' ||  page === 'sign-in'" class="link-highlight"><a routerLink="/sign-up">SIGN UP</a></li>
      <li *ngIf="page !== 'veEmail' && page !== 'resetPssword' && page === 'about-us-index'" class="link-highlight"><a routerLink="/landing">SIGN UP</a></li>
      <li *ngIf="page === 'resetPssword'"></li>
      <li *ngIf="page === 'veEmail'"></li>
    </ul>
  </div>
</nav>
