<div class="using-peersview-component">

  <div class="fluid-container using-peersview">
    <shared-navbar-unauth-component
      [aboutUs]=true
      [signIn]=true>
    </shared-navbar-unauth-component>
    <h1 class="text-center">Using Peersview</h1>

  </div>

  <div class="container body">

    <div class="back-menu">
      <a routerLink="/support" href="/support">Back to Main Menu</a>
    </div>

    <h4 class="line-level-heading">What is Peersview?</h4>
    <p>Peersview is a place where geographically disconnected peers can meet through their common interests. Whether you
      are interested in Sports, Biotech, Fashion, Make up, Music, Philosophy etc. discover, interact and share
      experiences with people who share these interests with you.</p>
    <br>

    <h4> What do I Use Peersview for?</h4>

    <p>
      <span class="text-bold">
      Networking
      </span>
      <br>
      Discover like-minded people, who share similar interests with you.
    </p>

    <p>
      <span class="text-bold">
      Asking Questions

      </span>
      <br>
      Ask Questions and find answers among your peers from various academic institutions.

    </p>
    <p>
      <span class="text-bold">
      Read and Share stories

      </span>
      <br>
      Read about people thoughts or share your ideas and perspective on various Issues.

    </p>
    <p>
      <span class="text-bold">
      Join your schools’ Online Campus

      </span>
      <br>
      Interact and Collaborate with classmates and school mates from your school with the private Online Campus designed
      for your academic institution.
    </p>
    <p>
      <span class="text-bold">
      Create Events
      </span>
      <br>
      Create social events and advertise to your friends
    </p>
    <p>
      <span class="text-bold">
      Discover Events
      </span>
      <br>
      Discover social events within your city and other cities of your choice.
    </p>
    <p>
      <span class="text-bold">
      Advertise events

      </span>
      <br>
      Create awareness for your Events by advertising them to Users on Peersview.

    </p>
    <p>
      <span class="text-bold">
      Find discounts on Local shops
      </span>
      <br>
      Find discounts on special dishes from restaurants in your city.
    </p>
    <br>

    <h4>Getting Started</h4>
    <p class="text-bold">How can I Create a profile on Peersview?</p>
    <ol class="list-item">

      <li>1. Register with your personal email/Facebook account/Google Plus account.
      </li>
      <li>2. Fill out a few details about your Interests and personal information.
      </li>
      <li>3. Your new profile is created.
      </li>

    </ol>

    <br>
    <h4>Should I Protect my posts?
    </h4>
    <p class="text-bold">What is the difference between public and protected Posts?</p>
    <ul class="list-item">
      <li>When you sign up for Peersview, your Posts are public by default; anyone can view and interact with your
        Posts. Should you choose to protect your posts, you can do so through your account settings.
      </li>
      <li>If you protect your Post, you’ll receive a request when new people want to follow you, which you can approve
        or deny. Accounts that began following you before you protected your Posts will still be able to view and
        interact with your protected Posts unless you block them.
      </li>

    </ul>
    <p class="text-bold"> Who can see my Posts?

    </p>
    <ul>
      <li><span class="text-bold">Public Posts </span>(the default setting) are visible to anyone, whether or not they
        have a Peersview account.
      </li>
      <li><span class="text-bold">Protected Posts</span>may only be visible to your Peersview followers.</li>
    </ul>
    <br>
    <h4>Following & Unfollowing People
    </h4>
    <p>When you are following a person, you will receive a notification and/or a recent activity item when a user posts
      on that page.

    </p>
    <br>

    <h4>Blocking People
    </h4>
    <p>Block is a feature that helps you control how you interact with other accounts on Peersview. This feature helps
      users in restricting specific accounts from contacting them, seeing their Posts, and following them.

    </p>
    <br>
    <h4>How to Become Top rated?
    </h4>
    <p>You become a Top-rated member of Peersview.com through your contributions on the platform. The following
      contributions play a role in your ratings:
    </p>
    <ul class="list-item">
      <li>Number of Contributions to the platform i.e posts and questions
      </li>
      <li>Ratings your posts receive from other users.
      </li>
      <li>
        Number of threads you have started

      </li>

    </ul>
    <br>

    <h4>Adding/Updating your Profile Picture
    </h4>
    <p>Check Account setting to update your Profile Picture
    </p>
    <br>

    <h4>Earning Credits
    </h4>
    <p>Contact Customer support.
    </p>

    <div class="field-helpful">
      <span class="helpful-title">Was this article helpful?</span>

      <span class="helpful-action">
        <a class="helpful-yes" data-toggle="tooltip" title="Yes"></a>
        <a class="helpful-no" data-toggle="tooltip" title="No"></a>
      </span>


      <span class="helpful-result">(0 out 0 found this helpful)</span>

      <span class="helpful-contact">Have more questions?
      <a routerLink="/contact" href="/contact">Contact Us</a>
      </span>

    </div>

  </div>
</div>
