<app-support-header
        [header]='header'
        [sub_header]='sub_header'
></app-support-header>

<div class="container">
    <div class="back-menu"><a routerLink="/support">Back to Main Menu</a></div>
    <p>Easily brand, maintain and administrate Peersview to complement the rest of your university's IT systems.</p>
    <p class="text-bold">Privacy is Our Priority</p>
    <ul class="list-item">
        <li>A verified university email address is required to access the network</li>
        <li>Users control their profile information from their privacy settings</li>
    </ul>
    <p class="text-bold">Control Your Network</p>
    <ul class="list-item">
        <li>Brand your Peersview network with the university's logo and colours</li>
        <li>Advanced moderation features keep control high & administrator work low</li>
    </ul>
    <p class="text-bold">University Grade Security</p>
    <ul class="list-item">
        <li>Peersview protects university data by implementing rigorous security policies</li>
        <li>Sensitive links are secured via SSL & directed through HTTPS connections</li>
        <li>Network data is backed up multiple times a day & protected by encryption</li>
    </ul>
    <p class="text-bold">Simple Set Up & Maintenance</p>
    <ul class="list-item">
        <li>Start small with a single Faculty or roll out across the entire university</li>
        <li>Peersview Support Team works with you to ensure a successful launch</li>
        <li>Product updates pushed live - avoids upgrades & ensures max uptime</li>
    </ul>
    <div class="field-helpful">
        <span class="helpful-title">Was this article helpful?</span>
        <span class="helpful-action">
      	<a href="javascript:void(0);" class="helpful-yes" title="Yes" data-toggle="tooltip"></a>
        <a href="javascript:void(0);" class="helpful-no" title="No" data-toggle="tooltip"></a>
      </span>
        <span class="helpful-result">(0 out of 0 found this helpful)</span>
        <span class="helpful-contact">Have more questions? <a routerLink="/contact">Contact us</a></span>
    </div>
</div>