<div class="inner-header hero-page">
    <div class="container">
        <app-navbar-unauth [page]="'careers'"></app-navbar-unauth>
        <div class="hgroup">
            <h1>We are awaiting your application to Peersview</h1>
            <h4>Peersview is a dynamic, high-growth Social network service provider. Our commitment to quality continues
                to propel our growth and success.</h4>
        </div>
    </div>
</div>
<!--inner header-->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul id="careers-listing">
                <li class="career-item">
                    <div class="row">
                        <div class="career-main col-md-8">
                            <h5><a href="javascript:void(0);">Communications Manager</a></h5>
                            <ul class="job-list">
                                <li class="list-title">Responsibilities Include:</li>
                                <li>Leading local media relations, including sourcing story angles, securing stories,
                                    securing stories in local markets around use cases and product launches.
                                </li>
                                <li>Execute communications, Support corporate, product, and internal communications
                                    functions across the organization.
                                </li>
                                <li>Manage sales generation and offline marketing programs development.</li>
                            </ul>
                        </div>
                        <div class="career-details col-md-4"><a href="javascript:void(0);"
                                                                class="btn btn-primary"><span>Apply for this job</span></a>
                        </div>
                    </div>
                </li>
                <li class="career-item">
                    <div class="row">
                        <div class="career-main col-md-8">
                            <h5><a href="javascript:void(0);">Communications Intern</a></h5>
                            <ul class="job-list">
                                <li class="list-title">Responsibilities Include:</li>
                                <li>Manage company’s presence on social media. Oversee social media accounts, including
                                    Facebook, Twitter, LinkedIn, Snapchat and Instagram.
                                </li>
                                <li>Manage and interact with student Ambassadors.</li>
                            </ul>
                        </div>
                        <div class="career-details col-md-4"><a href="javascript:void(0);"
                                                                class="btn btn-primary"><span>Apply for this job</span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="box-widget widget">
                <div class="widget-title">WHY WORK WITH US?</div>
                <p>As a company built with a purpose to broaden networking opportunities, we ensure that the
                    considerable amount of time we spend with our employees is as engaging as possible. We are proud of
                    our values and our culture which are at the heart of our company and set the standard for how we
                    behave.</p>
            </div>
            <div class="box-widget widget">
                <div class="widget-title">OTHER SKILLS?</div>
                <p>We are always looking for talented and passionate people. If you feel you can add value to Peersview,
                    please get in touch.</p>
                <p><a href="contact" class="btn btn-blue">Get In Touch</a></p>
            </div>
        </div>
    </div>
</div>
