<app-navbar [active]="'campus'"></app-navbar>

<div class="container fixed-header">
    <div class="row">
        <div class="col-md-2 fixed-sidebar-wrapper">
          <div class="sticky-width wide">
                <app-community-navbar [active]="'group'"></app-community-navbar>
            </div>
        </div>
        <div class="col-md-10 fixed-sidebar-content">
            <div class="row">
                <div class="col-md-7">
                    <div class="club">
                        <h1>Clubs & SOCIETIES</h1>
                        <p>Find Clubs and Societies of Interest</p>
                        <a routerLink="/community/club-list" class="btn btn-primary">Discover</a></div>
                </div>
                <div class="col-md-5">
                    <div class="my-club">
                        <h1>My clubs <br/>
                            and <br/>
                            societies</h1>
                        <a routerLink="/my/club-list" class="btn btn-primary">View</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
