<app-navbar></app-navbar>

<div class="container fixed-header">
    <div class="row">
        <div class="col-md-9">
            <div class="sec-heading">Notifications</div>
            <ul class="conversation-list">
                <li class="co-row"><a href="javascript:void(0);">
                    <div class="co-img"><img src="/assets/images/user1.jpg" alt=""></div>
                    <div class="co-info"><span class="co-name">John Smith started following you</span> <span
                            class="co-time">2 hours ago</span></div>
                </a></li>
                <li class="co-row"><a href="javascript:void(0);">
                    <div class="co-img"><img src="/assets/images/user2.jpg" alt=""></div>
                    <div class="co-info"><span class="co-name">John Smith commented on your post</span> <span
                            class="co-time">3 hours ago</span></div>
                </a></li>
                <li class="co-row"><a href="javascript:void(0);">
                    <div class="co-img"><img src="/assets/images/user3.jpg" alt=""></div>
                    <div class="co-info"><span class="co-name">John Smith like your post</span> <span class="co-time">4 hours ago</span>
                    </div>
                </a></li>
                <li class="co-row"><a href="javascript:void(0);">
                    <div class="co-img"><img src="/assets/images/user5.jpg" alt=""></div>
                    <div class="co-info"><span class="co-name">John Smith invite you to join the community</span> <span
                            class="co-time">Today at 1:20pm</span></div>
                </a></li>
                <li class="co-row"><a href="javascript:void(0);">
                    <div class="co-img"><img src="/assets/images/user4.jpg" alt=""></div>
                    <div class="co-info"><span class="co-name">Adekunle Amodu likes your post.</span> <span
                            class="co-time">Yesterday at 5:35pm</span></div>
                </a></li>
                <li class="co-row"><a href="javascript:void(0);">
                    <div class="co-img"><img src="/assets/images/user1.jpg" alt=""></div>
                    <div class="co-info"><span class="co-name">John Smith started following you</span> <span
                            class="co-time">2 hours ago</span></div>
                </a></li>
                <li class="co-row"><a href="javascript:void(0);">
                    <div class="co-img"><img src="/assets/images/user2.jpg" alt=""></div>
                    <div class="co-info"><span class="co-name">John Smith commented on your post</span> <span
                            class="co-time">3 hours ago</span></div>
                </a></li>
                <li class="co-row"><a href="javascript:void(0);">
                    <div class="co-img"><img src="/assets/images/user3.jpg" alt=""></div>
                    <div class="co-info"><span class="co-name">John Smith like your post</span> <span class="co-time">4 hours ago</span>
                    </div>
                </a></li>
                <li class="co-row"><a href="javascript:void(0);">
                    <div class="co-img"><img src="/assets/images/user5.jpg" alt=""></div>
                    <div class="co-info"><span class="co-name">John Smith invite you to join the community</span> <span
                            class="co-time">Today at 1:20pm</span></div>
                </a></li>
                <li class="co-row"><a href="javascript:void(0);">
                    <div class="co-img"><img src="/assets/images/user4.jpg" alt=""></div>
                    <div class="co-info"><span class="co-name">Adekunle Amodu likes your post.</span> <span
                            class="co-time">Yesterday at 5:35pm</span></div>
                </a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <app-sidebar-image></app-sidebar-image>
            <app-sidebar-footer></app-sidebar-footer>
        </div>
    </div>
</div>