@import '../../../../assets/scss/variables';

.answers-list-item {
    height: auto;
    padding: 15px;
    margin-top: 15px;
    background-color: #fff;

    .reply-item-header {
        display: flex;

        .set-text{
            // float: right;
            // margin-right: 66%;
            margin-left: 20px;
        }
    }

    span {
        display: inline-block;
    }
    .answer-date {
        // display: block;
        text-align: left;
    }
    .answer-container {
        position:relative;
        padding:1em; 
        width: calc(100% - 150px);
        color:#000;
        border: 1px solid #ddd;
        border-radius:0.5em;
        &::after {
            content: "";
            position: absolute;
            top: 0.5em;
            left: -20px;
            display: block;
            width: 0;
            border-width: 1em 3em 0em 0;
            border-style: solid;
            border-left: 10px solid transparent;
            border-right: 10px solid #ddd;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
        }
      }

      button.liked {
        color: #631990;
      }
      .options-logo {
        .like {
          display: inline-flex;
          padding: 0;
        }
      }
      .like,
      .reply,
      .share {
        margin: 0;
        color: $primary-color;
        cursor: pointer;
      }

      button.liked {
        color: #631990;
      }
      button.not-yet-liked {
        color: #bbb;
      }
      .options-text {
        div {
          padding: 0;
        }
      }
      .post-comments,
      .post-likes {
        cursor: pointer;
      }
      .like-count{
        margin-left: 5px;
        font-size: 20px;
      }

      .colon-separator {
        font-size: 16px;
        margin: 0 3px;
      }
}