<div class="widget">
	<div class="widget-title">POPULAR QUESTIONS</div>
	<div class="question-item">
		<p><b>What if Kejriwal kills Modi?</b></p>
		<button class="btn-peersview-sm write-answer">
			<i class="material-icons">create</i>
			ANSWER
		</button>
	</div>
	<div class="question-item">
		<p><b>What if Kejriwal kills Modi?</b></p>
		<button class="btn-peersview-sm write-answer">
			<i class="material-icons">create</i>
			ANSWER
		</button>
	</div>
	<div class="question-item">
		<p><b>What if Kejriwal kills Modi?</b></p>
		<button class="btn-peersview-sm write-answer">
			<i class="material-icons">create</i>
			ANSWER
		</button>
	</div>
</div>