<div class="business-organization-component">

  <div class="fluid-container business-organization">
    <shared-navbar-unauth-component
      [aboutUs]=true
      [signIn]=true>
    </shared-navbar-unauth-component>
    <h1 class="text-center">Business Organization</h1>

  </div>


  <div class="container body">

    <div class="back-menu">
      <a routerLink="/support" href="/support">Back to Main Menu</a>
    </div>


    <h4>How to Advertise your services on Peersview</h4>
    <p>You can offer student discount for your services and advertise them on Peersview.

    </p>
    <br>

    <div class="field-helpful">
      <span class="helpful-title">Was this article helpful?</span>
      <span class="helpful-action">

        <a class="helpful-yes" data-toggle="tooltip" title="Yes"></a>
        <a class="helpful-no" data-toggle="tooltip" title="No"></a>
      </span>
      <span class="helpful-result">(0 out 0 found this helpful)</span>

      <span class="helpful-contact">Have more questions?
      <a routerLink="/contact" href="/contact">Contact Us</a>
      </span>

    </div>

  </div>
</div>
