<div class="page-bg hero-page">
    <!--nav start-->
    <div class="container">
        <app-navbar-unauth></app-navbar-unauth>
        <!--/.nav-collapse -->
        <div class="clear"></div>
        <div class="landing-content">
            <div class="landing-header">
                <h1>SIGN UP</h1>
            </div>

            <div class="form-signin">
                <div class="row form-bg">
                    <div class="col-md-6 form-inner email-sign-form" [ngClass]='{"mobile-hidden" : !isFormVisible}'>
                        <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
                            <input type="text" class="form-control" placeholder="Full Name" id="name" name="name"
                                [(ngModel)]="model.name"
                                #name="ngModel"
                                required
                                pattern="[-'a-zA-Z]+\s[-'a-zA-Z\s]+"
                            />
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                                <div *ngIf="name.errors.required">
                                    Name is required
                                </div>
                                <div *ngIf="name.errors.pattern">
                                    At least two Names are required
                                </div>
                            </div>

                            <input type="text" #email="ngModel" class="form-control" placeholder="Email" id="email" [(ngModel)]="model.email" name="email" required email/>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                <div *ngIf="email.errors.required">
                                    Email is required
                                </div>
                                <div *ngIf="email.errors.email">
                                    Email is invalid
                                </div>
                            </div>

                            <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                                [(ngModel)]="model.password"
                                #password="ngModel"
                                required
                                minlength="8"
                            />
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                                <div *ngIf="password.errors.required || password.errors.minlength">
                                    Password required at least 8 characters
                                </div>
                            </div>

                            <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword"
                                [(ngModel)]="model.confirmPassword"
                                #confirmPassword="ngModel"
                                validateEqual="password"
                                required
                            />
                            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
                                <div *ngIf="!confirmPassword.errors.validateEqual">
                                    Password mismatch
                                </div>
                            </div>

                            <!-- <re-captcha (captchaExpired)='captchaExpired($event)' (captchaResponse)="captchaResponse($event)" site_key="6LcccD0UAAAAAF_FBU05Gg8kaf6BmXxbRpdtLiWB"></re-captcha> -->

                            <div *ngIf="responceError" class="alert alert-danger">
                                {{responceError}}
                            </div>
                            <!-- <input type="submit" class="btn btn-blue marginT20" value="Sign Up" [disabled]="!signupForm.form.valid || !captchaChecked"/> -->

                            <input type="submit" class="btn btn-blue marginT20" value="Sign Up" [disabled]="!signupForm.form.valid"/>


                            <div class="checkbox note-text marginB0">
                                <label>
                                    <input type="checkbox" id="hasconsented" name="hasconsented"
                                        [(ngModel)]="model.hasconsented"
                                        #hasconsented="ngModel"
                                        required
                                    />
                                    I agree to the Terms & Conditions, Privacy Policy and Code of Conduct</label>
                            </div>
                            <div *ngIf="hasconsented.invalid && (hasconsented.dirty || hasconsented.touched)" class="alert alert-danger">
                                <div *ngIf="hasconsented.errors.required">
                                    This is required field
                                </div>
                            </div>
                        </form>
                    </div>
                    <app-sign-social [type]="'sign-up'" (showForm)="showForm($event)"></app-sign-social>
                </div>
            </div>
        </div>
    </div>
    <!--nav end-->
</div>
