<div class="page-bg hero-page">
    <!--nav start-->
    <div class="container">
        <app-navbar-unauth [page]="'choose-plan'"></app-navbar-unauth>
        <div class="clear"></div>
        <div class="landing-content">
            <div class="landing-header">
                <h3>The Peersview Campus Pricing Guide<br/>
                    Here are our pricing plans:</h3>
            </div>
            <table class="table plan-table">
                <thead>
                <tr>
                    <th width="33%">Compare Plans</th>
                    <th width="33%" class="cell-basic text-uppercase">Standard Campus<br/>
                        Free Access
                    </th>
                    <th width="33%" class="cell-premium text-uppercase">Premium Campus<br/>
                        Contact Us
                    </th>
                </tr>
                </thead>
                <tr>
                    <td class="cell-blank">Archives access for Users</td>
                    <td class="cell-basic">Limited</td>
                    <td class="cell-premium">All archives</td>
                </tr>
                <tr>
                    <td class="cell-blank">Tenant</td>
                    <td class="cell-basic">Multiple/Shared Tenant</td>
                    <td class="cell-premium">Single</td>
                </tr>
                <tr>
                    <td class="cell-blank">Storage</td>
                    <td class="cell-basic">5GB</td>
                    <td class="cell-premium">Unlimited</td>
                </tr>
                <tr>
                    <td class="cell-blank">Mobile access</td>
                    <td class="cell-basic">Yes</td>
                    <td class="cell-premium">Yes</td>
                </tr>
                <tr>
                    <td class="cell-blank">Class/Lecture Archives <br/>
                        <small>Note- This archive can only be accessed at the end of the Academic year.</small>
                    </td>
                    <td class="cell-basic">No</td>
                    <td class="cell-premium">Yes</td>
                </tr>
                <tr>
                    <td class="cell-blank">Security</td>
                    <td class="cell-basic">Basic</td>
                    <td class="cell-premium">Advanced</td>
                </tr>
                <tr>
                    <td class="cell-blank">Manage Admin privileges</td>
                    <td class="cell-basic">Yes</td>
                    <td class="cell-premium">Yes</td>
                </tr>
                <tr>
                    <td class="cell-blank">Support</td>
                    <td class="cell-basic">Email</td>
                    <td class="cell-premium">Email, Telephone, Dedicated account manager.</td>
                </tr>
                <tr>
                    <td class="cell-blank">&nbsp;</td>
                    <td class="cell-basic"><a routerLink="/registerCommunity" class="btn btn-primary">CREATE
                        COMMUNITY</a></td>
                    <td class="cell-premium"><a routerLink="/registerCommunity" class="btn btn-primary">START A FREE
                        TRIAL</a></td>
                </tr>
            </table>
            <div class="spacer20"></div>
            <div class="landing-header">
                <h3>Admin Privileges</h3>
            </div>
            <table class="table plan-table">
                <thead>
                <tr>
                    <th width="33%">Privilege</th>
                    <th width="33%" class="cell-basic text-uppercase">Basic</th>
                    <th width="33%" class="cell-premium text-uppercase">Premium</th>
                </tr>
                </thead>
                <tr>
                    <td class="cell-blank">Create Usage Policy</td>
                    <td class="cell-basic"><img src="/assets/images/icon-tick.png" alt=""/></td>
                    <td class="cell-premium"><img src="/assets/images/icon-tick.png" alt=""/></td>
                </tr>
                <tr>
                    <td class="cell-blank">Set Network Logo and color</td>
                    <td class="cell-basic"><img src="/assets/images/icon-tick.png" alt=""/></td>
                    <td class="cell-premium"><img src="/assets/images/icon-tick.png" alt=""/></td>
                </tr>
                <tr>
                    <td class="cell-blank">Remove or block Users</td>
                    <td class="cell-basic"><img src="/assets/images/icon-tick.png" alt=""/></td>
                    <td class="cell-premium"><img src="/assets/images/icon-tick.png" alt=""/></td>
                </tr>
                <tr>
                    <td class="cell-blank">Invite Users</td>
                    <td class="cell-basic"><img src="/assets/images/icon-tick.png" alt=""/></td>
                    <td class="cell-premium"><img src="/assets/images/icon-tick.png" alt=""/></td>
                </tr>
                <tr>
                    <td class="cell-blank">Create public groups</td>
                    <td class="cell-basic"><img src="/assets/images/icon-tick.png" alt=""/></td>
                    <td class="cell-premium"><img src="/assets/images/icon-tick.png" alt=""/></td>
                </tr>
                <tr>
                    <td class="cell-blank">Integration</td>
                    <td class="cell-basic">&nbsp;</td>
                    <td class="cell-premium"><img src="/assets/images/icon-tick.png" alt=""/></td>
                </tr>
                <tr>
                    <td class="cell-blank">Delete posts in public group</td>
                    <td class="cell-basic"><img src="/assets/images/icon-tick.png" alt=""/></td>
                    <td class="cell-premium"><img src="/assets/images/icon-tick.png" alt=""/></td>
                </tr>
                <tr>
                    <td class="cell-blank">Post announcement</td>
                    <td class="cell-basic"><img src="/assets/images/icon-tick.png" alt=""/></td>
                    <td class="cell-premium"><img src="/assets/images/icon-tick.png" alt=""/></td>
                </tr>
                <tr>
                    <td class="cell-blank">Grant & revoke public groups admin privileges</td>
                    <td class="cell-basic"><img src="/assets/images/icon-tick.png" alt=""/></td>
                    <td class="cell-premium"><img src="/assets/images/icon-tick.png" alt=""/></td>
                </tr>
                <tr>
                    <td class="cell-blank">Monitor Keywords</td>
                    <td class="cell-basic">&nbsp;</td>
                    <td class="cell-premium"><img src="/assets/images/icon-tick.png" alt=""/></td>
                </tr>
            </table>
        </div>
    </div>
    <!--nav end-->
</div>
