
<div class="status-selection">
    <label>Status:</label>
    <span class="select-options"><a>Ex-Student</a>
</span>
</div>
<form #exstudentForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="board-block">
        <div class="row row-over">
            <div class="col-md-6 paddingR0 col-sm-6 col-xs-12">
                <div class="board-header">Your Area of Expertise:</div>
                <div class="board-bar count1"> <span class="filter-field">

                <select class="form-control expertise" [(ngModel)]="model.expertise" name="expertise">
                    <option *ngFor="let course of courses" value="{{course.course}}">{{course.course}}</option>
                </select>

                </span><a href="javascript:void(0);" (click) ="addExpertise()" class="icon-add-exp"></a>
                    <div class="clear"></div>
                </div>
                <div class="board-content">
                    <ul class="added-tags-list">
                        <li *ngFor="let item of model.expertiseArray">
                            <span>{{item}}</span><a (click)="removeExpertise(item)" class="delete-tag" title="Delete"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 paddingL0 col-sm-6 col-xs-12">
                <div class="highlighted-tab board-tab-form" style="min-height:250px;">
                    <div class="board-header text-center">Ex-Student Information</div>
                    <div class="board-tab-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                        <label>Current Company</label>
                                        <input type="text" class="form-control" name="employment_place" [(ngModel)]="model.employment_place" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Current City</label>
                                    <input type="text" class="form-control" name="current_city" [(ngModel)]="model.current_city" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                         <div class="col-md-6">
                            <div class="form-group">
                             <div class="form-group onboard-input-datepicker">
                                <label>Date of Birth</label>
                                <!-- <date-picker ngModel name="date" [showClearButton]="false" [closeBySelection]="true"></date-picker> -->
                            </div>
                        </div>


<!--<input type="text" class="form-control field-calender datepicker designation" ng-focus="vm.dateOpen2 = !vm.dateOpen2" is-open="vm.dateOpen2"
                                            ng-model="vm.dt" style="padding-left: 0" datepicker-options="vm.dateOptions"
                                        />-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-button no-sep">
        <input class="btn btn-md btn-blue" value="Continue" type="submit" >
    </div>
</form>
