<div class="shared-navbar-unauth-component">
  <div class="container">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#index-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/']">
            <cl-image
              alt="peersview"
              public-id="logo"
              width="80">
            </cl-image>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="index-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="about-us text-center"><a>ABOUT US</a></li>
            <li class="sign-in">
              <a class="btn btn-success" [routerLink]="[signInOrSignUp.link]">{{signInOrSignUp.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>