.group-heading {
  position: relative;
  text-align: center;
  line-height: 25px;
}
.group-heading a {
  float: right;
  display: inline-block;
  width: 200px;
  position: absolute;
  right: 5px;
  top: -15px;
}
