<div class="about-me-modal-modal">
  <div >
      <h4 class="modal-heading">About Me</h4>

    <div class="modal-body ng-scope">
      <div class="form-group">
        <textarea
          class="form-control"
          rows="5"
          placeholder="Tell people about yourself..."
          [(ngModel)]="aboutMe"></textarea>
      </div>
    </div>
    <div class="modal-footer ng-scope">
      <button type="button" class="btn btn-grey" (click)="onCancel()">Cancel</button>
      <button type="button" class="btn btn-blue" (click)="onSave();">Save</button>
    </div>
  </div>
</div>
