<div class="campus-landing-page-component">
  <div class="col-md-12 text-center contents">
    <div class="wrapper">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="campus-des">The Digital Campus Is A Collaboration Hub, Where You<br> Can Socialize with Schoolmates And Get Work Done With Classmates.</h1>
        <p class="text-center">
          <button
            class="btn-peersview-secondary btn-peersview-lg join-network"
            data-toggle="modal"
            data-target="#join-modal"
          > Find/Create your institutions Digital Campus
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
