<app-support-header
        [header]='header'
        [sub_header]='sub_header'
></app-support-header>

<div class="container">
    <div class="back-menu"><a routerLink="/support">Back to Main Menu</a></div>
    <h4 class="line-level-heading">Account security Tips:</h4>
    <p>To help keep your account secure, we recommend the following best practices:</p>
    <ul class="list-item">
        <li>Use a strong password that you don’t reuse on other websites.</li>
        <li>Use login verification.</li>
        <li>Be cautious of suspicious links and always make sure you’re on persview.com before you enter your login
            information.
        </li>
        <li>Never give your username and password out to third parties, especially those promising to get you followers,
            make you money, or verify you.
        </li>
        <li>Make sure your computer software, including your browser, is up-to-date with the most recent upgrades and
            anti-virus software.
        </li>
    </ul>
    <h4 class="line-level-heading">The Peersview Rules</h4>
    <p>We believe that everyone should have the power to create and share knowledge and social experiences with their
        without barriers. In order to protect the experience and safety of people who use Peersview, there are some
        limitations on the type of content and behavior that we allow. All users must adhere to the policies set forth
        in the Peersview Rules. Failure to do so may result in the temporary locking and/or permanent suspension of
        account(s).</p>
    <p>Please note that we may need to change these rules from time to time and reserve the right to do so. The most
        current version will always be available in the Help center.</p>
    <br/>
    <h4 class="line-level-heading">How to report directly from a Post or profile</h4>
    <p>You can report directly from an individual post or profile for certain violations, including: spam, abusive or
        harmful content, inappropriate ads, self-harm and impersonation.</p><br/>
    <h4 class="line-level-heading">How to report individual Posts for violations:</h4>
    <p>Learn how to report Post for violations.</p>
    <br/>
    <h4 class="line-level-heading">How to report profiles for violations:</h4>
    <ol class="list-item">
        <li>1. Open the profile you’d like to report.</li>
        <li>2. Select the more button on web.</li>
        <li>3. Select Report and then select the type of issue you’d like to report.</li>
        <li>4. Then you can select if user is being abusive or harmful.</li>
        <li>5. Once you’ve submitted your report.</li>
    </ol>
    <div class="field-helpful">
        <span class="helpful-title">Was this article helpful?</span>
        <span class="helpful-action">
      	<a href="javascript:void(0);" class="helpful-yes" title="Yes" data-toggle="tooltip"></a>
        <a href="javascript:void(0);" class="helpful-no" title="No" data-toggle="tooltip"></a>
      </span>
        <span class="helpful-result">(0 out of 0 found this helpful)</span>
        <span class="helpful-contact">Have more questions? <a routerLink="/contact">Contact us</a></span>
    </div>
</div>