<div id="join-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-brand text-center p-peersview-1">
        <cl-image
          class="mouse-pointer"
          public-id="peersviewBrand"
        >
        </cl-image>
      </div>
      <h4 class="modal-heading text-center">Digital Campus</h4>
      <div class="modal-body">
        <div>
          <div class="form-group">
            <label class="form-label">Search for Your Institution</label>
            <select
              class="form-control"
              (change)="onSelectedCampus($event.target.value);"
            >
              <option [attr.value]="'default'">Select</option>
              <option
                *ngFor="let campus of campuses; let i = index"
                [attr.value]="campus.id"
              >{{campus.name}}</option>
            </select>
          </div>
        </div>
        <div class="create-modal-btn">
          <a class="create-modal-btn-link"
            data-toggle="modal"
            data-target="#create-modal">
            Can't Find Your Institution? Create Your Digital Campus
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn-peersview-primary btn-peersview-md m-peersview-xr-1"
          (click)="modalClose.click();onJoinWithInstitution();"
        >
          Done
        </button>
        <button
          class="btn-peersview-cancel btn-peersview-md btn-cancel-select-institution"
          data-dismiss="modal"
          #modalClose
        > Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div
  id="invite-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-brand text-center p-peersview-1">
        <cl-image
          class="mouse-pointer"
          public-id="peersviewBrand"
        >
        </cl-image>
      </div>
      <h4 class="modal-heading text-center">Invite Your University</h4>
      <div class="modal-body">
        <div class="form-group">
          <label class="form-label">Name of institution</label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group">
          <label class="form-label">Institution Email</label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group">
          <label class="form-label">Message</label>
          <textarea class="form-control" rows="4"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn-peersview-cancel btn-peersview-md m-peersview-xr-1"
          data-dismiss="modal"
        > Cancel
        </button>
        <button class="btn-peersview-primary btn-peersview-md">
          Invite
        </button>
      </div>
    </div>
  </div>
</div>


<div
  id="create-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-brand text-center p-peersview-1">
        <cl-image
          class="mouse-pointer"
          public-id="peersviewBrand"
        >
        </cl-image>
      </div>
      <h4 class="modal-heading text-center">Create Your Digital Campus</h4>
      <div class="modal-body">
        <div class="form-group">
          <label class="form-label">Name of institution</label>
          <input class="form-control" type="text" [(ngModel)]="newCampus.name">
        </div>
        <div class="form-group">
          <label class="form-label">Institution Email</label>
          <input class="form-control" type="text" [(ngModel)]="newCampus.email">
        </div>
        <div class="form-group">
          <label class="form-label">Select your Year of Enrollment</label>
          <jp-multi-datepicker class="form-control" tabindex="-1"  mode="YEAR" [(ngModel)]="newCampus.enrollment_year" [max]="2020"></jp-multi-datepicker>
        </div>
        <div class="form-group">
          <label class="form-label">Add logo</label>
          <input type="file" class="form-control" (change)="onFileChange($event)"/>
        </div>
      </div>
      <div class="modal-footer right">
        <button
          class="btn-peersview-cancel btn-peersview-md m-peersview-xr-1 btn-cancel-select-institution"
          data-dismiss="modal"
          #closeCreateCampusModal
        > Cancel
        </button>
        <button class="btn-peersview-primary btn-peersview-md" (click)="uploadLogo()">
          Done
        </button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" data-toggle="modal" data-target="#join-campus-modal" #openJoinCampusModal/>
<div
  id="join-campus-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-brand text-center p-peersview-1">
        <cl-image
          class="mouse-pointer"
          public-id="peersviewBrand"
        >
        </cl-image>
      </div>
      <h4 class="modal-heading text-center">Join Your Digital Campus</h4>
      <div class="modal-body">
        <div class="form-group">
          <label class="form-label">Institution Email</label>
          <input class="form-control" type="text" [(ngModel)]="campus.email">
        </div>
        <div class="form-group">
          <label class="form-label">Select your Year of Enrollment</label>
          <jp-multi-datepicker class="form-control" tabindex="-1"  mode="YEAR" [(ngModel)]="campus.enrollment_year" [max]="2020"></jp-multi-datepicker>
        </div>
      </div>
      <div class="modal-footer right">
        <button
          class="btn-peersview-cancel btn-peersview-md m-peersview-xr-1 btn-cancel-select-institution"
          data-dismiss="modal"
          #closeJoinCampusModal
        > Cancel
        </button>
        <button class="btn-peersview-primary btn-peersview-md" (click)="joinCampus()">
          Done
        </button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" data-toggle="modal" data-target="#email-verify-modal" #openEmailVerifyCampusModal/>
<div
  id="email-verify-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-brand text-center p-peersview-1">
        <cl-image
          class="mouse-pointer"
          public-id="peersviewBrand"
        >
        </cl-image>
      </div>
      <h4 class="modal-heading text-center">Verify Your Email Address</h4>
      <div class="modal-body">
        <p>
          We've sent an email to your email address. Please check your email and verify your email address first.
        </p>
      </div>
      <div class="modal-footer">
        <button
          class="btn-peersview-cancel btn-peersview-md m-peersview-xr-1"
          data-dismiss="modal"
        > Ok
        </button>
      </div>
    </div>
  </div>
</div>

<div class="campus-landing-page-component">
  <div class="col-md-12 text-center contents">
    <div class="wrapper">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="campus-des">The Digital Campus Is A Collaboration Hub, Where You<br> Can Socialize with Schoolmates And Get Work Done With Classmates.</h1>
<!--         <p class="hidden-md hidden-lg"><strong>The Campus Is The Best Way To Connect With Your Classmates And School Mates.</strong></p>
        <h3 class="hidden-xs hidden-sm">Begin Networking Through Your University's Digital Campus</h3>
        <p class="hidden-md hidden-lg">Begin Networking Through Your University's Digital Campus</p>
 -->        <p class="text-center">
          <button
            class="btn-peersview-secondary btn-peersview-lg join-network"
            data-toggle="modal"
            data-target="#join-modal"
          > Find/Create your institutions Digital Campus
          </button>
<!--           <button
            class="btn-peersview-secondary btn-peersview-lg invite-university"
            data-toggle="modal"
            data-target="#invite-modal"
          > Invite your University
          </button> -->
        </p>
      </div>
    </div>
  </div>
</div>
