<div class="index-campus-page-component">
  <div class="header">
    <h3>The Peersview Campus</h3>
    <h1>A Digital Campus for Students Within an Academic Institution</h1>
    <p>University life is more interesting when you are part of a community</p>
  </div>
  <div class="content container">
    <div class="row">
      <div class="col-md-6 content-left">
        <div class="image text-center">
          <cl-image
            public-id="campusPeersCycle">
          </cl-image>
        </div>
        <h1 class="font-family">“What is the Peersview Campus”</h1>
       <p>The Peersview campus is a combination of networking channels designed to increase engagement and
        collaboration among students of an academic institution.It gives students the opportunity to network
        across Campuses,Faculities,Modes of study and Years ofIndexCampusPageStudentsComponent study</p>
      </div>
      <div class="col-md-6 content-right">
        <h2>How it works</h2>
        <div class="video-player">
          <cl-image
            public-id="videoPlayer" class="img-responsive">
          </cl-image>
        </div>
        <p>Peersview creates a vibrant and engaging online campus for students.</p>
        <p><a routerLink="/contact" class="btn request-a-demo">Request a Demo</a></p>
      </div>
    </div>
  </div>
  <div class="benefits">
    <cl-image
      class="peersview-brand"
      public-id="peersviewBrand">
    </cl-image>
    <h1 class="text-center">Benefits Of The Peersview Campus</h1>
    <ul class="choose-category text-center">
      <li [ngClass]="{'active': section === 'students'}">
        <a (click)="section = 'students'">Students</a>
      </li>
      <li [ngClass]="{'active': section === 'institutions'}">
        <a (click)="section = 'institutions'">Academic Institutions</a>
      </li>
      <li [ngClass]="{'active': section === 'faq'}">
        <a (click)="section = 'faq'">FAQ</a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <index-campus-page-students-component
      [hidden]="section !== 'students'">
    </index-campus-page-students-component>
    <index-campus-page-institutions-component
      [hidden]="section !== 'institutions'">
    </index-campus-page-institutions-component>
    <index-campus-page-faq-component
      [hidden]="section !== 'faq'">
    </index-campus-page-faq-component>
  </div>
</div>