<div class="app-edit-interest-modal-component">
  <h3 class="modal-heading">Interest</h3>
  <div class="modal-body">
    <div>
      <div class="form-group">
        <label>Search For More Interests</label>
        <!-- <input type="text" class="form-control"> -->
        <mat-form-field class="form-control">
          <input matInput placeholder="What are your interest?" aria-label="Interest" [matAutocomplete]="reactiveAuto" (keydown)="searchInterests();" [(ngModel)]="interestKeyword">
          <mat-autocomplete #reactiveAuto="matAutocomplete">
            <mat-option (onSelectionChange)="addSelectedInterest(interest)" *ngFor="let interest of interests" [value]="interest.name">
              <span>{{ interest.name }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-group">
        <ul class="tags">
          <li *ngFor="let interest of this.userInterests">
            <a (click)="onDelete(interest);">{{interest.interest ? interest.interest.name : interest.name}}<i class="delete-tag"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-grey" (click)="onClose()">Cancel</button>
    <button type="button" class="btn btn-blue" (click)="update()">Update Interests</button>
  </div>
</div>
