<div class="edit-interest-modal">
  <h3 class="modal-heading">Interest</h3>
  <div class="modal-body">
    <div>
      <div class="form-group">
        <label>Search For More Interests</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <ul class="tags">
          <li *ngFor="let interest of this.userInterests">
            <a (click)="onDelete(interest);">{{interest.interest.name}}<i class="delete-tag"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-grey" (click)="onClose()">Cancel</button>
    <button type="button" class="btn btn-blue" (click)="update()">Update Interests</button>
  </div>
</div>
