<div class="edit-interest-modal">
  <!--<div class="modal-brand"><img src="images/peersview-brand.png" alt=""/></div>-->
  <h3 class="modal-heading">Interest</h3>
  <!--<h5 class="modal-heading">Forums are great for colaborating and sharing things with your peers</h5>-->
  <!--<div class="modal-divider"></div>-->
  <div class="modal-body">
    <div>
      <div class="form-group">
        <label>Search For More Interests</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <ul class="tags">
          <li><a href="javascript:void(0);">Politics<i class="delete-tag"></i></a></li>
          <li><a href="javascript:void(0);">Fashions<i class="delete-tag"></i></a></li>
          <li><a href="javascript:void(0);">Music<i class="delete-tag"></i></a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-grey" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-blue" (click)="update()">Update Interests</button>
  </div>

</div>
