<app-support-header
        [header]='header'
        [sub_header]='sub_header'
></app-support-header>

<div class="container">
    <div class="back-menu"><a routerLink="/support">Back to Main Menu</a></div>
    <p class="text-bold">I cannot remember the password I used!</p>
    <p>Click the forgot password link in the Sign in page to have a reset link emailed to you.</p>
    <ul class="list-item">
        <li>If your password is not working, request a new password by entering your email address in the forgot
            password form.
        </li>
        <li>If our system cannot find your email address, you may be entering the wrong one, Keep reading.</li>
    </ul>
    <p class="text-bold">I cannot remember the email address I used on my account.</p>
    <ul class="list-item">
        <li>Use your Account's <span class="text-bold">Name</span> to log in.</li>
    </ul>
    <p class="text-bold">Changing Your Peersview Password</p>
    <ul class="list-item">
        <li>Check Account setting</li>
    </ul>
    <p class="text-bold">Changing Privacy Settings</p>
    <ul class="list-item">
        <li>Check Account setting</li>
    </ul>
    <div class="field-helpful">
        <span class="helpful-title">Was this article helpful?</span>
        <span class="helpful-action">
      	<a href="javascript:void(0);" class="helpful-yes" title="Yes" data-toggle="tooltip"></a>
        <a href="javascript:void(0);" class="helpful-no" title="No" data-toggle="tooltip"></a>
      </span>
        <span class="helpful-result">(0 out of 0 found this helpful)</span>
        <span class="helpful-contact">Have more questions? <a routerLink="/contact">Contact us</a></span>
    </div>
</div>