<div class="using-online-campus-component">

  <div class="fluid-container using-online-campus">
    <shared-navbar-unauth-component
      [aboutUs]=true
      [signIn]=true>
    </shared-navbar-unauth-component>
    <h1 class="text-center">Using the Online Campus</h1>

  </div>


  <div class="container body">


    <div class="back-menu">
      <a routerLink="/support" href="/support">Back to Main Menu</a>
    </div>

    <h4>Custom Groups</h4>

    <p class="text-bold">All students</p>
    <p>All students would be automatically included or added to the All students group. (Students are automatically a
      member of this upon sign up.)</p>


    <p class="text-bold">Fresher’s group</p>
    <p>The fresher is a group for new students in every academic year. You have the option to either join this group or
      not.</p>

    <p class="text-bold">Student Groups

    </p>
    <p>This is a social or study group, users can create themselves and invite other member they wish to be part of the
      group. User can either create a public group or a private group.

    </p>

    <p class="text-bold">Joining Your Course group

    </p>
    <p>Join the group of students studying your course, the group is open to both seniors and juniors studying the same
      course.

    </p>

    <p class="text-bold">Joining Classes</p>
    <p>After selecting your course, you have the option to select the classes you are taking, and join to collaborate
      and interact with your classmates on the Go.

    </p>


    <div class="field-helpful">
      <span class="helpful-title">Was this article helpful?</span>
      <span class="helpful-action">

        <a class="helpful-yes" data-toggle="tooltip" title="Yes"></a>
        <a class="helpful-no" data-toggle="tooltip" title="No"></a>
      </span>
      <span class="helpful-result">(0 out 0 found this helpful)</span>

      <span class="helpful-contact">Have more questions?
      <a routerLink="/contact" href="/contact">Contact Us</a>
      </span>

    </div>


  </div>
</div>
