<div class="create-ad-campaign-objective-component">
    <div class="content">
        <div class="card-wrapper">
            <mat-card>
                <i class="material-icons">favorite</i>
                <div>
                    <p>Brand Awareness</p>
                    <span>
                        Address, An image and
                        Description on your
                        business
                    </span>
                </div>
            </mat-card>
            <mat-card>
                <i class="material-icons">near_me</i>
                <div>
                    <p>Conversion and Clicks</p>
                    <span>
                        Post link to route you need
                        users to.
                    </span>
                </div>
            </mat-card>
            <mat-card>
                <i class="material-icons">wifi</i>
                <div>
                    <p>Brand Engagement</p>
                    <span>
                        Sponsored posts from
                        Users profile on Peersview.
                    </span>
                </div>
            </mat-card>
        </div>
    </div>
</div>