<div class="new-message">
  <div class="create-new-forum">
    <!--<div class="modal-brand"><img src="images/peersview-brand.png" alt=""/></div>-->
    <h3 class="modal-heading">New Message</h3>
    <!--<h5 class="modal-heading">Forums are great for colaborating and sharing things with your peers</h5>-->
    <div class="modal-divider"></div>
    <div class="modal-body">

        <div class="modal-brand"><img src="assets/images/peersview-brand.png" alt=""></div>
        <div class="modal-body">
          <div class="create-post">
            <textarea class="form-control" placeholder="Whats happening?"></textarea>
          </div>
        </div>

    </div>
    <div class="modal-body">
      <button type="button" class="btn btn-grey" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-blue">Send</button>
    </div>

  </div>
</div>
