<div class="index-community-screenshot-page-component">
  <div class="container commnity-body">
    <div class="col-md-9 col-md-offset-2  col-xs-12 col-sm-12">
      <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/src/assets/images/homepage/home-page-post.png" class="img-responsive" alt="" height="300" >
          </div>
          <div class="item">
            <img src="/src/assets/images/homepage/home-page-poll.png" class="img-responsive" alt="" height="300">
          </div>
          <div class="item">
            <img src="/src/assets/images/homepage/home-page-share-story.png" class="img-responsive" alt="" height="300">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
