<div class="profile-accomplishments">
	
	<div class="accomplishments hidden-xs">
		<span>
			<strong>Accomplishments</strong>
		</span>
		<div class="row">
			<div class="col-sm-12 accomplishments-data">
				<span class="peersview-secondary-color font-size">{{user?.accomplishments}}</span>
			</div>
		</div>
	</div>
	<div class="profile-bottom-section">
			<div class="media-pictures text-center">
				<span *ngIf="isUserProfile">
					Current GPA
				</span>
				<span *ngIf="!isUserProfile">
					Current GPA
				</span>
				<i class="material-icons color-purple profile-add-icon" *ngIf="isUserProfile">add</i>
			</div>
			<div class="media-pictures text-center">
				<span *ngIf="isUserProfile">
					Awards / Certifications
				</span>
				<span *ngIf="!isUserProfile">
					Awards / Certifications
				</span>
				<i class="material-icons color-purple profile-add-icon" *ngIf="isUserProfile">add</i>
			</div>
		<div class="media-pictures text-center">
			<span *ngIf="isUserProfile">
				Your work experience
			</span>
			<span *ngIf="!isUserProfile">
				Work experience
			</span>
			<i class="material-icons color-purple profile-add-icon" (click)="openAddExperienceDialog()" *ngIf="isUserProfile">add</i>
		</div>
		<div *ngFor="let experience of workExperiences" class="experience-item">
			<p class="company-name">{{experience.name}}</p>
			<p class="company-role">{{experience.role}}</p>
			<p class="company-duration">{{experience.from | experienceDate}} - {{experience.to | experienceDate}}</p>
			<i class="material-icons color-purple profile-update-icon" (click)="openUpdateExperienceDialog(experience)" *ngIf="isUserProfile">create</i>
		</div>
		<div class="collections text-center">
			<span *ngIf="isUserProfile">
				Your skills
			</span>
			<span *ngIf="!isUserProfile">
				Skills
			</span>
			<i class="material-icons color-purple profile-add-icon" (click)="openAddSkillsDialog()" *ngIf="isUserProfile">add</i>
		</div>
		<div class="skills-wrapper">
			<span *ngFor="let skill of userSkills" class="skill-item">{{skill.name}}</span>
		</div>
	</div>
</div>