<app-navbar [active]="'forum'"></app-navbar>
<div class="forum-page-bg">
    <div class="container forum fixed-header grey">
        <div class="row">
            <div class="col-md-3 forum-leftmenu fixed-sidebar-wrapper forum-sidebar">
              <app-forum-left-menu [page]="'careers'"></app-forum-left-menu>
            </div>
            <div class="col-md-9 forum-tab fixed-sidebar-content">
                <div class="page-title">
                    <p>Careers</p>
                </div>
                <div class="forum-header">
                  <!-- <div class="menu-wrapper dark pull-right visible-xs">
                    <button (click)="mobileMenuOpen = !mobileMenuOpen" class="forum-mobile-menu btn flat-btn">
                      Careers <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                    <ul *ngIf="mobileMenuOpen">
                      <li><a  routerLink="/forum/home">Commmunity</a> </li>
                      <li><a  routerLink="/forum/careers">Careers</a> </li>
                    </ul>
                  </div> -->
                    <div class="question-widget big">
                        <h4 class="question-title">Share a post</h4>
                        <div class="question-input">
                                    <span class="by-user-img">
                                        <img src="/assets/images/profile.jpg" alt=""/>
                                        <p>Mark Grey</p>
                                    </span>
                            <div class="by-user-text">
                                <i class="input-caret grey-caret"></i>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Title"/>
                                    <textarea class="form-control" placeholder="Description of your post..."
                                              rows="2"></textarea>
                                </div>

                                <a href="javascript:void(0);" style="width:160px; line-height: 25px;"
                                   class=" btn btn-blue">Post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 forum-feed">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="header-tab">Latest posts</span>
                            <!--top post-->
                            <div class="top-post">
                                <div class="row">
                                    <div class="col-md-3 forum-user-details text-right">
                                        <img src="/assets/images/user4.jpg" alt="">
                                        <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                                        <div class="post-share ">
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i></div>
                                    </div>
                                    <div class="col-md-9 top-user-left">
                                        <p class="post-time">10 h ago</p>
                                        <h3 class="post-title grey text-bold">Saudi Government Linked To 9/11 Hijackers
                                            In Newly Released U.S. Report</h3>
                                    </div>
                                    <div class="col-xs-12 post-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est
                                            laborum</p>
                                      <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="106"></app-post-footer>

                                      <div class="post-sub-footer">
                                        <button class="flat-btn btn btn-blue follow-button" (click)="follow($event)">
                                          <i class="material-icons">redo</i>
                                          <span class="btn-text">Follow</span>
                                        </button>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-post">
                                <div class="row">
                                    <div class="col-md-3 forum-user-details text-right">
                                        <img src="/assets/images/user4.jpg" alt="">
                                        <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                                        <div class="post-share ">
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i></div>
                                    </div>
                                    <div class="col-md-9 top-user-left">
                                        <p class="post-time">10 h ago</p>
                                        <h3 class="post-title grey text-bold">Saudi Government Linked To 9/11 Hijackers
                                            In Newly Released U.S. Report</h3>
                                    </div>
                                    <div class="col-xs-12 post-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est
                                            laborum</p>
                                      <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="106"></app-post-footer>

                                      <div class="post-sub-footer">
                                        <button class="flat-btn btn btn-blue follow-button" (click)="follow($event)">
                                          <i class="material-icons">redo</i>
                                          <span class="btn-text">Follow</span>
                                        </button>
                                      </div>

                                    </div>
                                </div>
                            </div>
                            <div class="top-post">
                                <div class="row">
                                    <div class="col-md-3 forum-user-details text-right">
                                        <img src="/assets/images/user4.jpg" alt="">
                                        <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                                        <div class="post-share ">
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i></div>
                                    </div>
                                    <div class="col-md-9 top-user-left">
                                        <p class="post-time">10 h ago</p>
                                        <h3 class="post-title grey text-bold">Saudi Government Linked To 9/11 Hijackers
                                            In Newly Released U.S. Report</h3>
                                    </div>
                                    <div class="col-xs-12 post-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est
                                            laborum</p>
                                      <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="106"></app-post-footer>

                                      <div class="post-sub-footer">
                                        <button class="flat-btn btn btn-blue follow-button" (click)="follow($event)">
                                          <i class="material-icons">redo</i>
                                          <span class="btn-text">Follow</span>
                                        </button>
                                      </div>

                                    </div>
                                </div>
                            </div>
                            <div class="top-post">
                                <div class="row">
                                    <div class="col-md-3 forum-user-details text-right">
                                        <img src="/assets/images/user4.jpg" alt="">
                                        <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                                        <div class="post-share ">
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i></div>
                                    </div>
                                    <div class="col-md-9 top-user-left">
                                        <p class="post-time">10 h ago</p>
                                        <h3 class="post-title grey text-bold">Saudi Government Linked To 9/11 Hijackers
                                            In Newly Released U.S. Report</h3>
                                    </div>
                                    <div class="col-xs-12 post-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est
                                            laborum</p>
                                      <app-post-footer [likes]="123" [views]="670" [share]="false" [replies]="106"></app-post-footer>

                                      <div class="post-sub-footer">
                                        <button class="flat-btn btn btn-blue follow-button" (click)="follow($event)">
                                          <i class="material-icons">redo</i>
                                          <span class="btn-text">Follow</span>
                                        </button>
                                      </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                          <div stickyWidget>
                            <app-peers-may-know></app-peers-may-know>
                            <app-sidebar-image></app-sidebar-image>
                            <app-sidebar-footer></app-sidebar-footer>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
