<div class="app-navbar-component">
  <div class="header">
     <nav class="navbar navbar-default nav-landing navbar-fixed-top">
        <div class="container">
           <div class="navbar-header">
              <span class="mobile-action">
                 <li class="dropdown search" [class.open]="searchOpen">
                    <a href="javascript:void(0);" data-toggle="dropdown" (click)="openRightMenu('searchOpen')">
                       <cl-image public-id="searchIcon"></cl-image>
                    </a>
                    <div id="search-form" class="dropdown-menu">
                       <span class="icon-arrow-up"></span>
                       <div class="form-container">
                          <form action="">
                             <input type="text" class="search-field" placeholder="Type search text here...">
                             <div class="submit-container"><input type="submit" value="" class="submit"></div>
                          </form>
                          <div class="clear"></div>
                          <a [routerLink]="['/advanced-search']" class="advance-search-link">Advanced Search</a>
                       </div>
                    </div>
                 </li>
                 <a routerLink="/notification" class="notification"><i></i></a>
                 <a routerLink="/messages" class="message"><i></i></a>
                 <span class="dropdown userli someclass" [class.open]="userMenuOpen">
                    <a href="javascript:void(0);" data-toggle="dropdown" (click)="userMenuOpen = !userMenuOpen">
                    <img class="profile-pic" src="/assets/images/profile.jpg" alt="">
                    <span class="header-caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" *ngIf="userMenuOpen">
                       <span class="icon-arrow-up"></span>
                       <li><a routerLink="/my/profile">My Profile</a></li>
                       <li><a routerLink="/account-settings">Account Setting</a></li>
                       <li><a routerLink="/support" target="_blank">Peersview Support</a></li>
                       <li><a routerLink="/">Log-Out</a></li>
                    </ul>
                 </span>
              </span>
              <a class="navbar-brand" href="/home">
                 <cl-image public-id="logo" alt="peersview"></cl-image>
              </a>
           </div>
           <div>
              <ul class="nav navbar-nav navbar-left">
                 <li class="nav-home">
                    <a routerLink="/home" [ngClass]="{active: active === 'home'}">
                       <cl-image public-id="homeIcon" class="light"></cl-image>
                       <cl-image public-id="homeIconBlack" class="dark"></cl-image>
                       Home
                    </a>
                 </li>
                 <li class="nav-forum">
                    <a routerLink="/forum/home" [ngClass]="{active: active === 'forum'}">
                       <cl-image public-id="forumIcon" class="light"></cl-image>
                       <cl-image public-id="forumIconBlack" class="dark"></cl-image>
                       Community
                    </a>
                 </li>
                 <li class="nav-comm">
                    <a routerLink="/community" [ngClass]="{active: active === 'campus'}">
                       <cl-image public-id="peopleIcon" class="light"></cl-image>
                       <cl-image public-id="peopleIconBlack" class="dark"></cl-image>
                       Campus
                    </a>
                 </li>
                 <li class="nav-events">
                    <a routerLink="/events/landing" [ngClass]="{active: active === 'leisure'}">
                       <cl-image public-id="eventIcon" class="light" ></cl-image>
                       <cl-image public-id="peopleIconBlack" class="dark"></cl-image>
                       Leisure
                    </a>
                 </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                 <li class="dropdown search" [class.open]="searchOpen">
                    <a href="javascript:void(0);" data-toggle="dropdown" (click)="openRightMenu('searchOpen')">
                       <cl-image public-id="searchIcon"></cl-image>
                    </a>
                    <div id="search-form" class="dropdown-menu">
                       <span class="icon-arrow-up"></span>
                       <div class="form-container">
                          <form action="">
                             <input type="text" class="search-field" placeholder="Type search text here...">
                             <div class="submit-container"><input type="submit" value="" class="submit"></div>
                          </form>
                          <div class="clear"></div>
                          <a [routerLink]="['/advanced-search']" class="advance-search-link">Advanced Search</a>
                       </div>
                    </div>
                 </li>
                 <li class="message" [class.open]="messagesOpen">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" (click)="openRightMenu('messagesOpen')">
                       <cl-image public-id="messageIcon"></cl-image>
                    </a>
                    <div class="inline-flyout dropdown-menu">
                       <span class="icon-arrow-up"></span>
                       <div>
                          <div class="flyout-title">Messages
                             <a routerLink="/messages" class="ext-action">New Message</a>
                          </div>
                          <ul class="conversation-list">
                             <li class="co-row" *ngFor="let message of messages">
                                <a routerLink="/messages">
                                   <div class="co-img"><img src="/assets/images/user1.jpg" alt="" /></div>
                                   <div class="co-info"><span class="co-name">{{message.sender}}</span> <span class="co-day">{{message.created_at | date: "EEE"}}</span></div>
                                </a>
                             </li>
                             <li class="co-row">
                                <a routerLink="/messages">
                                   <div class="co-img"><img src="/assets/images/user2.jpg" alt=""></div>
                                   <div class="co-info"><span class="co-name">Faith Black</span> <span class="co-day">Tue</span></div>
                                </a>
                             </li>
                             <li class="co-row">
                                <a routerLink="messages">
                                   <div class="co-img"><img src="/assets/images/user3.jpg" alt=""></div>
                                   <div class="co-info"><span class="co-name">Olivia Metcalfe</span> <span class="co-day">Tue</span></div>
                                </a>
                             </li>
                             <li class="co-row">
                                <a routerLink="messages">
                                   <div class="co-img"><img src="/assets/images/user4.jpg" alt=""></div>
                                   <div class="co-info"><span class="co-name">Adekunle Amodu</span> <span class="co-day">Tue</span></div>
                                </a>
                             </li>
                             <li class="co-row">
                                <a routerLink="messages">
                                   <div class="co-img"><img src="/assets/images/user5.jpg" alt=""></div>
                                   <div class="co-info"><span class="co-name">Gordon Piper</span> <span class="co-day">Tue</span></div>
                                </a>
                             </li>
                          </ul>
                          <div class="flyout-view"><a routerLink="/messages">View All</a></div>
                       </div>
                    </div>
                 </li>
                 <li class="notification" [class.open]="notificationOpen">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" (click)="openRightMenu('notificationOpen')">
                       <cl-image public-id="notificationIcon"></cl-image>
                    </a>
                    <div class="inline-flyout dropdown-menu">
                       <span class="icon-arrow-up"></span>
                       <div>
                          <div class="flyout-title">Notifications</div>
                          <ul class="conversation-list">
                             <li class="co-row" *ngFor="let notification of notifications">
                                <a href="javascript:void(0);">
                                   <div class="co-img"><img src="/assets/images/user1.jpg" alt=""></div>
                                   <div class="co-info"><span class="co-name">{{notification.notification}}</span> <span class="co-time">{{notification.created_at | timeAgo}}</span></div>
                                </a>
                             </li>
                          </ul>
                          <div class="flyout-view"><a [routerLink]="['/notification']">View All</a></div>
                       </div>
                    </div>
                 </li>
                 <li class="dropdown userli" [class.open]="userMenuOpen">
                   <a href="javascript:void(0);" data-toggle="dropdown-menu" (click)="openRightMenu('userMenuOpen')">
                       <span class="welcome-user" *ngIf="_user">
                       Welcome
                       <span class="user-name"> {{_user.firstName}}</span>
                       </span>
                       <cl-image
                          public-id="{{_user.profilePicture}}" 
                          *ngIf="_user?.profilePicture"
                          [ngStyle]="{'border-radius': '50%'}"></cl-image>
                       <span class="header-caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                       <span class="icon-arrow-up"></span>
                       <li><a href="/my/profile">My Profile</a></li>
                       <li><a href="/account-settings">Account Setting</a></li>
                       <li><a href="/support" target="_blank">Peersview Support</a></li>
                       <li><a href="/sign-out">Log-Out</a></li>
                    </ul>
                 </li>
              </ul>
           </div>
        </div>
      </nav>
   </div>
</div>
