<div class="em-index-first-page-component">
  <div class="container">
    <shared-navbar-unauth-component
      [peersviewLogo]=true
      [logo]=true
      [isLogoBlue]=true
      [aboutUsSecond]=true
      [signUpSecond]=true>
    </shared-navbar-unauth-component>
    <div class="clear"></div>
    <div class="banner-title text-center">
      <div class="tagline">
        <h1>Find Your Future Leaders</h1>
        <h3>The talent discpvery recruitment network. Peersview connects students and graduates with potential employers</h3>
      </div>
      <button
        class="btn-peersview-primary btn-peersview-lg peersview-font-weigth-bold" 
        [routerLink]="['/sign-up']">Sign Up for Free</button>
  </div>
</div>