.mobile-campus-nav-component {
	.campus-details {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		h3 {
			margin: auto;
		}
	}
	.mobile-nav-links {
		ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			margin-top: 5px;
			li {
				padding-bottom: 5px;
				a {
					font-weight: 500;
					font-size: 14px;
					text-transform: uppercase;
					color: #9a9a9a;
				}
			}
			li.active {
				border-bottom: 2px solid #9a9a9a;
			}
		}
	}
}