<div class="mobile-campus-nav-component">
	<div class="campus-details">
			<cl-image
			class="mouse-pointer"
			public-id="peersviewBrand"
			height="56px"
		  >
		  </cl-image>
		<h3 class="text-center">Peersview Campus</h3>
	</div>
	
	<div class="mobile-nav-links">
		<ul>
			<li [routerLinkActive]="'active'">
				<a [routerLink]="['all-students']">All Students</a>
			</li>
			<li [routerLinkActive]="'active'">
				<a [routerLink]="['freshers-feed']">Freshers Feed</a>
			</li>
			<li [routerLinkActive]="'active'">
				<a [routerLink]="['course-feed']">Course feed</a>
			</li>
			<li>
				<a href="#communityClassesList">Classes</a>
			</li>
			<li>
				<a href="#studentHome">Student group</a>
			</li>
			<li>
				<a href="#communityGroup">Societies &amp; Clubs</a>
			</li>
			<li>
				<a href="#marketPlace">Market Place</a>
			</li>
			<li>
				<a href="#communityJobCenter">Mentoring</a>
			</li>
		</ul>
	</div>
</div>