<div class="add-experience-modal">
  <h5 class="modal-heading" *ngIf="isEdit">Edit Awards / Extracurriculars</h5>
  <h5 class="modal-heading" *ngIf="!isEdit">Add Awards / Extracurriculars</h5>
  <div class="modal-body ng-scope">
    <div class="form-group">
      <label>Position:</label>
      <input type="text" [(ngModel)]="form.position" class="form-control">
    </div>
    <div class="form-group">
      <label>Organization:</label>
      <input type="text" [(ngModel)]="form.organization" class="form-control">
    </div>
    <div class="form-group">
      <input type="checkbox" [(ngModel)]="form.current_position"/> Current Position
    </div>
    <div class="form-group flex">
      <div class="datepicker-wrapper">
        <label>From:</label>
        <mat-form-field>
          <input
            matInput
            placeholder="From"
            [matDatepicker]="picker1"
            name="from"
            [value]="form.from"
            [(ngModel)]="form.from"
            required
            >
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="datepicker-wrapper">
        <label>Till:</label>
        <mat-form-field>
          <input
            matInput
            placeholder="Till"
            [matDatepicker]="picker2"
            name="to"
            [value]="form.to"
            [(ngModel)]="form.to"
            required
            >
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <label>Location:</label>
      <input type="text" [(ngModel)]="form.location" class="form-control">
    </div>
    <div class="form-group">
      <label>Description:</label>
      <textarea type="text" [(ngModel)]="form.description" class="form-control"></textarea>
    </div>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn-peersview-secondary btn-peersview-sm" (click)="onCancel()">Cancel</button>
    <button type="button" class="btn-peersview-primary btn-peersview-sm" (click)="onSave()">Save</button>
  </div>
</div>