<div class="widget peers-online-widget">
  <h5 class="widget-title"><i class="material-icons">blur_on</i> Active Poll</h5>
  <h4>TIME REMAINING <span>2 Days, 6 hours, 45 minutes</span></h4>
  <p>This is the active poll and you are welcome to submit your answer ?</p>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      This is the answer one
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      This is the answer two
    </label>
  </div>
  <div class="radio disabled">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
      This is the answer three
    </label>
  </div>
  <div class="widget-bottom">
    <a class="link-und">Submit your answer</a>
  </div>
</div>
