h4 {
  font-size: 12px;
  font-family: 'Conv_MavenPro-Bold';
}

h4 span {
  float: right;
  font-family: 'Conv_MavenPro-Regular';

}

p {
  font-size: 12px;
  font-family: 'Conv_MavenPro-Bold';
  color: #7e7e7e;
}
