<div class="campus-student-group-landing-component">
  <div class="page-title">
    <h2 class="text-center m-peersview-y-3">MARKETPLACE
      <button
        class="pull-right btn-peersview-primary btn-peersview-md"
        [routerLink]="['../item-to-sell']">SELL YOUR ITEM
      </button>
    </h2>
  </div>
  <div>
    <div class="col-md-4" *ngFor="let item of myCampusMarketPlace">
      <div class="box-list">
        <div class="box-title"><a href="#marketPlaceAds">{{item.title}}</a><span class="pull-right price"> ${{item.price | number}}</span></div>
        <img src="/src/assets/images/courses/course-biology.jpg" class="img-responsive" alt="">
      </div>
    </div>
  </div>
</div>