<div class="complete-profile-modal">
  <h5 class="modal-heading">Complete your profile</h5>
  <div class="modal-body ng-scope">
    <p>
      Please complete your Bio, Work Experience and Skills section of your profile.
    </p>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn-peersview-secondary btn-peersview-sm" (click)="onSave()">Go to profile</button>
    <button type="button" class="btn-peersview-primary btn-peersview-sm" (click)="onCancel();">Remind me later</button>
  </div>
</div>