.shared-sidebar-footer-component {
  text-align: center;
  padding: 15px;
  font-size: 11px;
  margin-bottom: 30px;
  ul li {
    display: inline-block;
    margin: 0 7px 0 0;
    padding: 3px 0;
  }
  p {
    padding-top: 10px;
  }
}