<app-navbar [active]="'campus'"></app-navbar>
<div class="container fixed-header">
    <div class="row">
        <div class="col-md-2 fixed-sidebar-wrapper">
            <div class="sticky-width wide">
                <!--left sidebar-->
              <app-community-navbar [active]="'marketplace'"></app-community-navbar>
                <!--left sidebar-->
            </div>
        </div>
        <div class="col-md-10 fixed-sidebar-content">
            <h1 class="page-title">Market Place <a routerLink="/marketplace/sell" class="btn btn-blue pull-right">Sell
                your Item</a></h1>
            <div>
                <div class="col-md-4" *ngFor="let item of marketplaceitems">
                    <div class="box-list">
                        <div class="box-title"><a routerLink="/marketplace/ads">{{item.title}}</a><span
                                class="pull-right price">${{item.price}}</span></div>
                        <img src="{{item.image}}" class="img-responsive" alt=""/></div>
                </div>
            </div>
        </div>
    </div>
</div>
