<div class="shared-navbar-component">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <span class="mobile-action">
          <!-- <li class="dropdown search">
            <a data-toggle="dropdown" id="users-search">
              <i class="material-icons search-icon" >search</i>
            </a>
            <div class="dropdown-menu" aria-labelledby="users-search">
              <span class="icon-arrow-up"></span>
              <div class="form-container">
                <form>
                  <input class="search-field" placeholder="Type search text here..." type="text">
                  <div class="submit-container"><input class="submit" type="submit" value=""></div>
                </form>
                <div class="clear"></div>
                <a class="advance-search-link" ng-reflect-router-link="/advanced-search" href="/advanced-search">Advanced Search</a>
              </div>
            </div>
          </li> -->

          <span class="dropdown userli">
            <a data-toggle="dropdown" id="users-search">
              <i class="material-icons search-icon" >search</i>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="users-search">
              <div class="form-container">
                <form>
                  <input class="search-field" placeholder="Type search text here..." type="text">
                  <div class="submit-container"><input class="submit" type="submit" value=""></div>
                </form>
                <div class="clear"></div>
                <a class="advance-search-link" ng-reflect-router-link="/advanced-search" href="/advanced-search">Advanced Search</a>
              </div>
            </ul>
          </span>

          <i class="material-icons notification-icon" [routerLink]="['/notification']">notifications_none</i>
          <i class="material-icons notification-icon" [routerLink]="['/messages']">mail_outline</i>
          <span class="dropdown userli">
             <a id="users-menu" data-toggle="dropdown">
               <cl-image
                  public-id="{{user.profilePicture}}"
                  *ngIf="user?.profilePicture"
                  width="22"
                  [ngStyle]="{'border-radius': '50%'}">
                </cl-image>
               <span class="header-caret"></span>
             </a>
             <ul class="dropdown-menu" aria-labelledby="users-menu">
                <span class="icon-arrow-up"></span>
                <li><a routerLink="/my/profile">My Profile</a></li>
                <li><a routerLink="/account-settings">Account Setting</a></li>
                <li><a routerLink="/support" target="_blank">Peersview Support</a></li>
                <li><a routerLink="/">Log-Out</a></li>
             </ul>
          </span>
        </span>
        <a class="navbar-brand" href="/home">
          <cl-image
            alt="peersview"
            public-id="logo"
            width="75">
          </cl-image>
        </a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown search">
            <a data-toggle="dropdown" href="javascript:void(0);">
              <cl-image
                public-id="searchIcon"
                width="22" >
              </cl-image>
            </a>
            <div class="dropdown-menu" id="search-form">
              <span class="icon-arrow-up"></span>
              <div class="form-container">
                <form action="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                  <input class="search-field" placeholder="Type search text here..." type="text">
                  <div class="submit-container"><input class="submit" type="submit" value=""></div>
                </form>
                <div class="clear"></div>
                <a class="advance-search-link" ng-reflect-router-link="/advanced-search" href="/advanced-search">Advanced Search</a>
              </div>
            </div>
          </li>
          <li class="message">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <cl-image
                public-id="messageIcon"
                width="22">
              </cl-image>
            </a>
            <div class="inline-flyout dropdown-menu">
              <span class="icon-arrow-up"></span>
              <div>
                <div class="flyout-title">Messages
                  <a class="ext-action" routerlink="/messages" ng-reflect-router-link="/messages" href="/messages">New Message</a>
                </div>
                <ul class="conversation-list">
                  <li class="co-row">
                    <a routerlink="/messages" ng-reflect-router-link="/messages" href="/messages">
                      <div class="co-img"><img alt="" src="/assets/images/user2.jpg"></div>
                      <div class="co-info"><span class="co-name">Faith Black</span> <span class="co-day">Tue</span></div>
                    </a>
                  </li>
                  <li class="co-row">
                    <a routerlink="messages" ng-reflect-router-link="messages" href="/profile/messages">
                      <div class="co-img"><img alt="" src="/assets/images/user3.jpg"></div>
                      <div class="co-info"><span class="co-name">Olivia Metcalfe</span> <span class="co-day">Tue</span></div>
                    </a>
                  </li>
                  <li class="co-row">
                    <a routerlink="messages" ng-reflect-router-link="messages" href="/profile/messages">
                      <div class="co-img"><img alt="" src="/assets/images/user4.jpg"></div>
                      <div class="co-info"><span class="co-name">Adekunle Amodu</span> <span class="co-day">Tue</span></div>
                    </a>
                  </li>
                  <li class="co-row">
                    <a routerlink="messages" ng-reflect-router-link="messages" href="/profile/messages">
                      <div class="co-img"><img alt="" src="/assets/images/user5.jpg"></div>
                      <div class="co-info"><span class="co-name">Gordon Piper</span> <span class="co-day">Tue</span></div>
                    </a>
                  </li>
                </ul>
                <div class="flyout-view"><a routerlink="/messages" ng-reflect-router-link="/messages" href="/messages">View All</a></div>
              </div>
            </div>
          </li>
          <li class="notification">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
              <cl-image
                public-id="notificationIcon"
                width="20">
              </cl-image>
            </a>
            <div class="inline-flyout dropdown-menu">
              <span class="icon-arrow-up"></span>
              <div>
                <div class="flyout-title">Notifications</div>
                <ul class="conversation-list">
                  <!--bindings={
                    "ng-reflect-ng-for-of": ""
                    }-->
                </ul>
                <div class="flyout-view"><a ng-reflect-router-link="/notification" href="/notification">View All</a></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>