<div class="shared-navbar-component">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <span class="dropdown userli">
          <a data-toggle="dropdown" id="users-search">
            <i class="material-icons search-icon" >search</i>
          </a>
          <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="users-search">
            <div class="form-container">
              <form>
                <input class="search-field" placeholder="Type search text here..." type="text">
                <div class="submit-container"><input class="submit" type="submit" value=""></div>
              </form>
              <div class="clear"></div>
              <a class="advance-search-link" ng-reflect-router-link="/advanced-search" href="/advanced-search">Advanced Search</a>
            </div>
          </ul>
        </span>

        <i class="material-icons notification-icon" [routerLink]="['/notification']">notifications_none</i>
        <i class="material-icons notification-icon" [routerLink]="['/messages']">mail_outline</i>
        <span class="dropdown userli">
           <a id="users-menu" data-toggle="dropdown">
             <cl-image
                public-id="{{user.profilePicture}}"
                *ngIf="user?.profilePicture"
                width="22"
                [ngStyle]="{'border-radius': '50%'}">
              </cl-image>
             <span class="header-caret"></span>
           </a>
           <ul class="dropdown-menu" aria-labelledby="users-menu">
              <span class="icon-arrow-up"></span>
              <li><a routerLink="/my/profile">My Profile</a></li>
              <li><a routerLink="/account-settings">Account Setting</a></li>
              <li><a routerLink="/support" target="_blank">Peersview Support</a></li>
              <li><a routerLink="/">Log-Out</a></li>
           </ul>
        </span>
        <!-- <a class="navbar-brand" href="/home">
          <cl-image
            alt="peersview"
            public-id="logo"
            width="75">
          </cl-image>
        </a> -->
      </div>
    </div>
  </nav>
</div>