<form #studentForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="status-selection">
            <label>Status:</label>
            <span class="select-options">
        <a>Student</a>
        </span>
        </div>

        <div class="board-block">
            <div class="board-bar count5">
                <div class="filter-field">
                    <input type="text" class="form-control institue" placeholder="Name of your School"
                            [(ngModel)]="model.schoolName" name="schoolName"/>
                </div>
                <div class="filter-field arrow-icon">
                    <select class="form-control designation" [(ngModel)]="model.userStudyLevelId"
                            name="userStudyLevelId">
                        <option value="0">Select Level of Study</option>
                        <option *ngFor="let level of studyLevel" [value]="level.id">
                            {{level.name}}
                        </option>
                    </select>
                </div>
                <div class="filter-field arrow-icon">
                    <select class="form-control designation" [(ngModel)]="model.courseIds" name="courseIds">
                        <option value="0">Course</option>
                        <option *ngFor="let course of courses" [value]="course.id">
                            {{course.name}}
                        </option>
                    </select>
                </div>


                <div class="filter-field">
                    <!-- <date-picker ngModel name="date" [showClearButton]="false" [closeBySelection]="true"></date-picker> -->
                    <mat-input-container>
                      <input mdInput matInput [matDatepicker]="picker" placeholder="Date of birth" (focus)="picker.open()" [(ngModel)]="model.birthDate" name="birthDate">
                      <mat-datepicker-toggle mdSuffix [for]="picker"></mat-datepicker-toggle>
                  </mat-input-container>
                  <mat-datepicker #picker></mat-datepicker>
                </div>


                <div class="filter-field">
                    <input type="text" class="form-control designation" placeholder="Current City"
                            [(ngModel)]="model.city" name="city"/>
                </div>


                <div class="filter-field arrow-icon last-border">
                    <select class="form-control designation" [(ngModel)]="model.gender" name="gender">
                    <option value="gender">Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Prefer not to respond</option>
                    </select>
                </div>


                <div class="clear"></div>
            </div>
            <div class="board-content">

            </div>
        </div>
    <div class="bottom-button no-sep">
        <button class="btn btn-md btn-blue" value="Continue" type="submit">Continue</button>
    </div>
</form>
