.full-brainstorming-map {
  &__input-icon {
    //padding: 6px 12px;
    //font-size: 14px;
    //font-weight: normal;
    //line-height: 1;
    //color: #555;
    //text-align: center;
    //background-color: #eee;
    //border: 1px solid #ccc;
    //border-radius: 4px;
  }
  .brain-map-image .brain-inputs{
    width: 100%;
    text-align: right;
  }
  .input-group-addon {
    padding: 0;
    width: 40px;
  }
  &__input {
    width: auto;
  }

  @media (max-width: 767px) {
    &__input {
      min-width: 50px;
    }
    &__input-wrapper {
      display: flex !important;
    }
  }

}
