<div class="full-brainstorming-map" #brainstormingMap>
  <div class="brain-map-image">
    <div class="brain-inputs" *ngIf="showInput">
      <div class="full-brainstorming-map__input-wrapper clearfix input-wrapper active">
        <div>
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon2">
                <img *ngIf="inputImage" [src]="'assets/images/shapes/' + inputImage + '.png'" alt="">
            </span>
            <input type="text"
                   [attr.maxlength]="maxCharacters"
                   class="form-control full-brainstorming-map__input"
                   placeholder="Keyword"
                   [(ngModel)]="keyword">
          </div>
        </div>
        <button class="btn btn-blue" (click)="addKeyword()">Add</button>
      </div>
    </div>
    <div [id]="mapId"></div>
    <!--<img src="/assets/images/brain-big.jpg"/>-->
  </div>
</div>
