<div class="peers-list">
  <app-navbar></app-navbar>
  <div class="container fixed-header">
    <div class="row">
      <div class="col-md-9 peers-list__container">
        <div class="sec-heading">Peers List</div>
        <div class="">
          <div class="row">
            <div class="col-md-4" *ngFor="let peer of peers">
              <div class="profile-widget peers profile-sm">
                <div class="top-info">
                  <a href="user-profile.html" class="user-img">
                    <img [src]="profilePicture" alt="Peersview">
                  </a>
                  <span class="user-profile-info">
                    <h2><a href="user-profile.html">{{peer.firstName | titlecase }} {{peer.lastName | titlecase }}</a></h2>
                    <ul class="peers-info">
                      <li><i class="icon-institute" data-toggle="tooltip" title="" data-original-title="Institution"></i>{{peer.institutionName | titlecase}}</li>
                      <li><i class="icon-course" data-toggle="tooltip" title="" data-original-title="Course"></i>{{peer.schoolName}}</li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <app-sidebar-image class="hidden-xs"></app-sidebar-image>
        <app-sidebar-footer></app-sidebar-footer>
      </div>
    </div>
  </div>
</div>