<div class="detail-page container">
    <div>
        <div class="borad-outer">
            <div class="status-selection">
                <label>Status:</label>
                <span class="select-options dropdown "> <a href="javascript:void(0);"
                                                           data-toggle="dropdown">Student <span
                        class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0);">Ex-Student</a></li>
          <li><a href="javascript:void(0);">Student</a></li>
        </ul>
        </span></div>
            <div class="board-block">
                <div class="row row-over">
                    <div class="col-md-6 paddingR0">
                        <div class="board-header">Select Courses</div>
                        <div class="board-bar count2"> <span class="filter-field">
              <input class="form-control search-text" placeholder="Search a course" type="text">
              </span> <span class="filter-field">
              <input class="form-control expertise" placeholder="Add a new course" type="text">
              </span> <a href="javascript:void(0);" class="icon-add-exp"></a>
                            <div class="clear"></div>
                        </div>
                        <div class="board-tab-content">
                            <div class="scroll-list">
                                <ul class="list-values">
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Accounting and Finance</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Agriculture &amp; Forestry</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Anatomy &amp; Physiology</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Anthropology</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Architecture &amp; The built environment</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Astronomy</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Biological science</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Business &amp; Management</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Chemistry</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Classics &amp; Ancient History</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Communication and Media studies</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Computer Science and Information Systems</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Creative Arts</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Dentistry</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Development Studies</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Earth &amp; Marine Science</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Economics</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Education &amp; Training</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Engineering- Aeronautical</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Engineering- Civil &amp; Structural</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Engineering- Computer&amp; Network</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Engineering- Electrical</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Engineering- Mineral &amp; Mining</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Engineering-Chemical</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Engineering-Mechanical</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                English Language &amp; Literature</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Ethnicity, Gender &amp; Diversity</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Finance </label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Geography</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Hospitality &amp; Leisure Management </label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Human Resource Management</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                International Relations</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Journalism</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Law and Legal Studies</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Library &amp; Information Management</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Life Sciences</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Linguistics</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Logistics &amp; Supply Chain Management</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Marketing</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Material Science</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Mathematics</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Medicine</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Modern Language</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Nursing</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Optometry</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Others</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Performing Arts</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Pharmacology</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Pharmacy</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Philosophy</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Product Design</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Psychology</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Public Policy</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Social &amp; Political science</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Social Work</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Sociology</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Sports</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Sports Science</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Statistics and Operations</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Theology, Divinity and Religious Studies</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Urban Planning</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Veterinary Science</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Zoology</label>
                                            <a href="javascript:void(0);" class="add-new"></a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 paddingL0">
                        <div class="highlighted-tab">
                            <div class="board-header text-center">Added Courses (2)</div>
                            <div class="board-tab-content marginT20">
                                <ul class="added-tags-list">
                                    <li><span>Agriculture & Forestry</span><a href="javascript:void(0);"
                                                                              class="delete-tag"></a></li>
                                    <li><span>Finance</span><a href="javascript:void(0);" class="delete-tag"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="bottom-button no-sep">
            <input class="btn btn-md btn-blue" value="Continue" type="button"
                   onClick="parent.location='onloard-3.html'">
        </div>
