.page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background: rgba(244, 244, 244, 0.8);
  transition: all 0.2s;
  .outer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    height: 221px;
    width: 210px;
    margin: auto;
  }
  .inner {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin: 5em;
    border-radius: 50%;
    vertical-align: middle;
    background:rgb(99,26,144);
    animation: 1.15s infinite ease-in-out;
   animation-name: cssload-loader;
    &:before, &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: 1.15s infinite ease-in-out;
    }
  }
}

@keyframes cssload-loader {
  from {transform: scale(0); opacity: 1;}
  to	 {transform: scale(1); opacity: 0;}
}