<div class="digital-campus-component">
  <shared-navbar-unauth-component
    [aboutUs]=true
    [signIn]=true
    [signUp]=true>
  </shared-navbar-unauth-component>
  <div class="header">
    <div class="content-body text-center">
      <h1>Connecting The Student Community of Your University</h1>
      <p>The Digital Campus is designed to help your college or university drive student engagement. It supports communication and
        collaboration between students across Campuses, Faculties, Study levels and Classes.</p>
    </div>
  </div>
  <div class="content container">
    <h2 class="text-center peersview-primary-color">EVERYTHING YOU NEED TO ENGAGE YOUR STUDENTS</h2>
    <div class="row">
      <p class="content-description text-center">
        The digital campus helps your students access broader networks within the school community.
      </p>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4><b>STUDENT-CENTERED</b></h4>
          </div>
          <div class="card-body">
            The Peersview Digital Campus helps centralize the collective knowledge of the entire school, hereby making the
            crowd sourcing for knowledge or information more efficient for all students.
          </div>
        </div>
        <div class="card">
            <div class="card-header">
              <h4><b>CO-CURRICULAR NETWORK</b></h4>
            </div>
            <div class="card-body">
              Dedicated sections for Clubs and Societies, and An online marketplace for your students.
            </div>
          </div>

      </div>
      <div class="col-md-4 content-left">
        <div class="image text-center">
          <cl-image
            public-id="campusPeersCycle">
          </cl-image>
        </div>
      </div>
      <div class="col-md-4">
       <div class="card">
          <div class="card-header">
            <h4><b>INCLUSIVE ACCESS</b></h4>
          </div>
          <div class="card-body">
            Instructors and school administrators can interact with students and provide new opportunities for holistic growth.
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4><b>PEER MENTORING</b></h4>
          </div>
          <div class="card-body">
            Help junior students benefit from senior students "peer mentors" who act as 'big brother/sister' when needed.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="all-students-page-section p-peersview-y-3">
    <img src="/src/assets/images/all-students.png" class="img-responsive" alt="">
  </div>
  <div class="benefits">
    <cl-image
      class="peersview-brand"
      public-id="peersviewBrand">
    </cl-image>
    <h1 class="text-center">Benefits Of The Digital Campus</h1>
    <ul class="choose-category text-center">
      <li>
        <a
          class="btn-peersview-white btn-peersview-md"
          [ngClass]="{'active': section === 'institutions'}"
          (click)="section = 'institutions'">Academic Institutions
        </a>
      </li>
      <li>
        <a
          class="btn-peersview-white btn-peersview-md"
          [ngClass]="{'active': section === 'students'}"
          (click)="section = 'students'">Students
        </a>
      </li>
      <li>
        <a
          class="btn-peersview-white btn-peersview-md"
          [ngClass]="{'active': section === 'instructors'}"
          (click)="section = 'instructors'">Instructors and Teaching Assistants
        </a>
      </li>
      <li>
        <a
          class="btn-peersview-white btn-peersview-md"
          [ngClass]="{'active': section === 'networkAdministrators'}"
          (click)="section = 'networkAdministrators'">Network Administrators
        </a>
      </li>
      <li>
        <a
          class="btn-peersview-white btn-peersview-md"
          [ngClass]="{'active': section === 'faq'}"
          (click)="section = 'faq'">FAQ
        </a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <digital-campus-institutions-component
      [hidden]="section !== 'institutions'">
    </digital-campus-institutions-component>
    <digital-campus-students-component
      [hidden]="section !== 'students'">
    </digital-campus-students-component>
    <digital-campus-instructors-component
      [hidden]="section !== 'instructors'">
    </digital-campus-instructors-component>
    <digital-campus-network-administrators-component
      [hidden]="section !== 'networkAdministrators'">
    </digital-campus-network-administrators-component>
    <digital-campus-faq-component
      [hidden]="section !== 'faq'">
    </digital-campus-faq-component>
  </div>
  <index-footer-component></index-footer-component>
</div>
