<div id="digital-camput-sub-pages">
  <div class="nav-bar-digital-campus">
    <shared-navbar-unauth-component
      [peersviewLogo]=true
      [logo]=false
      [aboutUs]=true
      [signUp]=true
      [signIn]=true>
    </shared-navbar-unauth-component>
  </div>
  <div class="digital-campus-component">
    
      <div class="text-left">
        <div class="container">
          <div class="header">
            <h1>Connect Your University's Community, <br>with Peersview</h1>
            <p>Drive engagement and collaboration among students in different Campuses, <br>Faculties and Classes from
            orientation to graduation.</p>
            <button
                class="button-learn-more mt-50"
                [routerLink]="['/about-us']">
                Request a demo
              </button>
        </div>
      </div>
    </div>
    <div class="content container">
      <h1 class="text-center peersview-primary-color">Everything you need to engage your students
      </h1>
      <p class="content-description text-center">
          The digital campus helps your students access broader networks within the school community.
        </p>
      <div class="row mt-50">
      
        <div class="col-md-5 col-sm-12 col-xs-12">


          <div class="card-wrapper mb-50">
            <div class="card-header">
              <h3 class="peersview-primary-color">Build the student community</h3>
            </div>
            <div class="card-body">
              The Digital Campus connects students with relevant people, content, announcements, events,
              and conversations across the institution.
            

            </div>
            <button class="button-learn-more btn-peersview-secondary  mt-50" routerLink='institutions'>Learn more</button>
          </div>


          <!-- <div class="card-wrapper mb-50">
            <div class="card-header">
                <h3 class="peersview-primary-color">Academic Institutions</h3>
            </div>
            <div class="card-body">
              Infusing social interactions with learning.<br>
              <button class="button-learn-more btn-peersview-secondary mt-50" routerLink="institutions">Learn more</button>

            </div>
          </div> -->


          <div class="card-wrapper mb-50">
            <div class="card-header">
                <h3 class="peersview-primary-color">Group managment</h3>
            </div>
            <div class="card-body">
              Stay in control of your institution’s campus.You can manage your students and moderate their public
              conversations.
            

            </div>
            <button class="button-learn-more btn-peersview-secondary  mt-50" routerLink="network-administrators">Learn more
              </button>
          </div>

        </div>

        <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-2">

          <div class="card-wrapper mb-50">
            <div class="card-header">
              <h3 class="peersview-primary-color">Co-curricular network</h3>
            </div>
            <div class="card-body">
              Students can create dedicated Groups and Pages for Clubs and societies,
              or whatever is acceptable at your institution.
              
            </div>
            <button class="button-learn-more btn-peersview-secondary  mt-50" routerLink='students'>Learn more</button>

          </div>


          <!-- <div class="card-wrapper mb-50">
            <div class="card-header">
                <h3 class="peersview-primary-color">Students</h3>
            </div>
            <div class="card-body">
              Join Your Institutions Online Campus.<br>
              <button class="button-learn-more btn-peersview-secondary  mt-50" routerLink='students'>Learn more</button>
            </div>
          </div> -->

          <div class="card-wrapper mb-50">
            <div class="card-header">
                <h3 class="peersview-primary-color">FAQ</h3>
            </div>
            <div class="card-body">
              Frequently asked questions
              
            </div>
            <button class="button-learn-more btn-peersview-secondary  mt-50" routerLink='faqs'>See more</button>

          </div>

        </div>

      </div>


    </div>
    <!-- <div class="all-students-page-section p-peersview-y-2">
      <h2 class="text-center col-xs-12 peersview-primary-color">STUDENT FRIENDLY & OPTIMIZED FOR FACULTY</h2>
      <cl-image
        public-id="all-students"
        class="img-responsive"
      >
      </cl-image>
    </div> -->

    <!--  <div id="benefits">-->

    <!--    <div class="benefits-heading">-->
    <!--      <cl-image-->
    <!--        class="peersview-brand"-->
    <!--        public-id="peersviewBrand">-->
    <!--      </cl-image>-->

    <!--      <h1 class="text-center">Benefits Of The Digital Campus</h1>-->

    <!--      <ul class="choose-category text-center">-->

    <!--        <li>-->
    <!--          <a-->
    <!--            class="btn-peersview-white btn-peersview-md"-->
    <!--            [ngClass]="{'active': section === 'institutions'}"-->
    <!--            (click)="section = 'institutions'">Academic Institutions-->
    <!--          </a>-->
    <!--        </li>-->

    <!--        <li>-->
    <!--          <a-->
    <!--            class="btn-peersview-white btn-peersview-md"-->
    <!--            [ngClass]="{'active': section === 'students'}"-->
    <!--            (click)="section = 'students'">Students-->
    <!--          </a>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--          <a-->
    <!--            class="btn-peersview-white btn-peersview-md"-->
    <!--            [ngClass]="{'active': section === 'instructors'}"-->
    <!--            (click)="section = 'instructors'">Instructors and Teaching Assistants-->
    <!--          </a>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--          <a-->
    <!--            class="btn-peersview-white btn-peersview-md"-->
    <!--            [ngClass]="{'active': section === 'networkAdministrators'}"-->
    <!--            (click)="section = 'networkAdministrators'">Network Administrators-->
    <!--          </a>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--          <a-->
    <!--            class="btn-peersview-white btn-peersview-md"-->
    <!--            [ngClass]="{'active': section === 'faq'}"-->
    <!--            (click)="section = 'faq'">FAQ-->
    <!--          </a>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--    </div>-->


    <!--    <div class="tab-content">-->
    <!--      <digital-campus-institutions-component-->
    <!--        [hidden]="section !== 'institutions'">-->
    <!--      </digital-campus-institutions-component>-->
    <!--      <digital-campus-students-component-->
    <!--        [hidden]="section !== 'students'">-->
    <!--      </digital-campus-students-component>-->
    <!--      <digital-campus-instructors-component-->
    <!--        [hidden]="section !== 'instructors'">-->
    <!--      </digital-campus-instructors-component>-->
    <!--      <digital-campus-network-administrators-component-->
    <!--        [hidden]="section !== 'networkAdministrators'">-->
    <!--      </digital-campus-network-administrators-component>-->
    <!--      <digital-campus-faq-component-->
    <!--        [hidden]="section !== 'faq'">-->
    <!--      </digital-campus-faq-component>-->
    <!--    </div>-->

    <!--    <router-outlet></router-outlet>-->


    <!--  </div>-->
    <index-footer-component></index-footer-component>
  </div>
</div>
