<div class="shared-peers-you-may-know-component">
  <span class="peers-you-may-know-header">
    <div>Peers You May Know</div>
    <div class="view-all">
      <a [routerLink]="['/peers/list']" class="peersview-primary-color">VIEW ALL</a>
    </div>
  </span>
  <div class="peer-item" *ngFor="let peer of peers">
    <cl-image 
      public-id="{{peer?.profilePicture}}"
      height="45px"
      radius="max"
      class="pull-left"
      >
    </cl-image>
    <span class="peer-name">{{peer.firstName}} {{peer.lastName}}</span>
    <div>
      <button class="flat-btn"><i class="material-icons">person_add</i></button>
      <span><i class="material-icons">account_balance</i>{{peer.institutionName}}</span>
      <span>
        <i class="material-icons">school</i>{{peer.schoolName}}
        <span class="pull-right peers-widget-close" (click)="removepeer(peer)">
          <i mdTooltip="Dismiss" class="material-icons">clear</i>
        </span>
      </span>
    </div>
  </div>
</div>
