<div class="shared-peers-you-may-know-component">
  <span class="peers-you-may-know-header">
    <div>Peers You May Know</div>
    <div class="view-all">
      <a [routerLink]="['/peers/list']" class="peersview-primary-color">VIEW ALL</a>
    </div>
  </span>
  <div class="peer-item" *ngFor="let peer of peers">
    <button class="flat-btn"><i class="material-icons">person_add</i></button>
    <cl-image public-id="{{peer?.profilePicture}}">
    </cl-image>
    <p class="peer-name">{{peer.firstName}} {{peer.lastName}}</p>
    <span><i class="material-icons">account_balance</i>{{peer.institutionName}}</span>
    <span>
      <i class="material-icons">school</i>{{peer.schoolName}}
      <span class="pull-right peers-widget-close" (click)="removepeer(peer)">
        <i mdTooltip="Dismiss" class="material-icons">clear</i>
      </span>
    </span>
  </div>
</div>
