.shared-peers-you-may-know-component {
  padding: 15px;
  border-radius: 3px;
  background: #ffffff;
  border: solid 1px #d8d8d8;
  font-size: 14px;
  .peers-you-may-know-header {
    font-weight: 500;
    a {
      float: right;
    }
  }
  .view-all {
    margin-bottom: 15px;
  }
  .peer-item {
    margin: 5px 0;
    border-bottom: solid 1px #d8d8d8;
    .peer-name {
      margin-left: 5px;
      font-weight: bold;
    }
  }
}