<div class="privacy-policy-component">
    <div class="container-fluid privacy-policy">
      <shared-navbar-unauth-component
        [aboutUs]=true
        [signUp]=true>
      </shared-navbar-unauth-component>
      <h1 class="text-center">Privacy Policy</h1>
    </div>
  
    <div class="container body">
        <h4 class="heading">
            INTRODUCTION
        </h4>
        <h4 class="heading">
            Welcome to Peersview!
        </h4>
        <h4 class="heading">
            We are committed to protecting your privacy!
        </h4>
        <p>
            Peersview Media (&quot;Peersview,&quot; &quot;us,&quot; &quot;we,&quot; or &quot;our&quot;) knows that your privacy
            is important to you, and we want you to know that it is important to us too.
            We created this Policy to explain the types of information we collect uses
            and shares information about you through (i) our website located at
            <a href="">www.peersview.com.</a>
        </p>
        <p>
            By visiting and/or using any of the services, you agree to be bound by the terms
            of this privacy policy. Please read this notice carefully to understand what we
            do. If you do not understand any aspects of our Privacy Policy, please feel free
            to contact us. Your use of our Site is also governed by our Terms and User
            Service Agreement.
        </p>
        <p>
            Please note that we review our privacy practices from time to time, and that
            these practices are subject to change. Any change, update, or modification will
            be effective immediately upon posting on our Website. Peersview will notify
            Users of any changes to our Privacy Policy by posting the revised Privacy
            Policy with an updated date of revision on our Properties, along with a short
            notice of the revision posted on our homepage. Be sure to return to this page
            periodically to ensure familiarity with the most current version of this Privacy
            Policy. Your use of the service following the posting of any changes to the
            privacy policy constitutes acceptance of those changes.
        </p>
        <h4 class="heading">
            INFORMATION WE COLLECT
        </h4>
        <p>
            This Privacy Policy only applies to information that we collect through the
            Peersview Online Interface (the &quot;Site,&quot; which consists of all content and pages
            located within the Peersview.com web domain and mobile application).
        </p>
        <p>
            <strong>&quot;Personal Identifiable Information&quot;</strong> means any information about yourself
            that you may provide to us when using the Peersview Service, such as when you
            sign up for a user account, update or change information for your account,
            register through or otherwise grant access to a third-party website such as
            Facebook or Google, subscribe to a Peersview Digital Campus Service,
            complete a survey, participate in public forums or enter into a transaction
            through the Site, which may include (but is not limited to) your name, contact
            information, gender, photo, date of birth, location, billing information, and
            occupation. We may receive Personally Identifiable Information when you send
            us an email message or otherwise contact us.
        </p>
        <p>
            <strong>“Non-Personal Information”</strong> means information that cannot be used to
            directly identify you. When users come to our Site, we may track, collect and
            aggregate Non-Personal Information indicating, among other things, what
            services users access most often, the order in which they were accessed, when
            they were accessed, and which hyperlinks were &quot;clicked.&quot; We also collect
            information from the URLs from which you linked to our Site. Collecting such
            information may involve logging the IP address, operating system and browser
            software used by each user of the Site session sources, and other data which
            tracks users&#39; access to the Services. Although such information is not Personally
            Identifiable Information, we may be able to determine from an IP address a
            user’s Internet Service Provider and the geographic location of his or her point
            of connectivity.
        </p>
        <p>
            Peersview may collect and use any user data you upload to the Peersview
            network whether it is in the form of opinion, a forum post or other text, image,
            audio file, audio-visual file, software or any other material uploaded to the
            Services. When you access our Services by or through a mobile device, we may
            receive or collect and store unique identification numbers associated with your
            device, mobile carrier, device type, model and manufacturer, mobile device
            operating system brand and model, depending on your mobile device settings,
            your geographical location data. You may be able to change the settings on your
            computer or mobile device to prevent it from providing us with any location
            information.
        </p>
        <h4 class="heading">
            Cookies and other Tracking Technologies
        </h4>
        <p>
            Peersview uses Cookies and other technologies to help personalize and improve
            the User’s online experience and the overall quality of the Services. Essentially,
            cookies are a user’s identification card for the Peersview servers. Cookies
            cannot be used to run programs or deliver viruses to your computer or device.
            Cookies allow Peersview to serve you better and more efficiently. They help us
            recognize you and to personalize your experience at our Site. Cookies are not
            used to retain Personally Identifiable Information. From time to time we may
            also use additional typical methods of collecting data.
        </p>
        <p>
            You should be able to control how and whether cookies will be accepted by
            your web browser. Most browsers offer instructions on how to reset the browser
            to reject cookies in the &quot;Help&quot; section of the toolbar or by choosing the “opt-
            out” option on cookie pop up notifications. If you reject our cookies, many
            functions and conveniences of this Site may not work properly.
        </p>
        <h4 class="heading">
            HOW WE USE THE INFORMATION COLLECTED
        </h4>
        <h4 class="heading">
            Non-Personal Information
        </h4>
        <p>
            We use Non-Personal Information to build higher quality and enhanced services
            by performing statistical analyses of the collective characteristics and behaviour
            of our users, and by measuring demographics and interests regarding specific
            areas of our Site. We may also use it for other business purposes.
        </p>
        <p>
            Peersview may disclose aggregated user statistics in order to describe the
            Services to prospective partners, advertisers, and other third parties, and for
            other lawful purposes.
        </p>
        <h4 class="heading">
            Personally Identifiable Information
        </h4>
        <p>
            Subject to the provisions of this Privacy Policy, Peersview will not disclose any
            Personally Identifiable Information we gather from you on the Site. In addition
            to the other uses set forth in this Privacy Policy, we may use Personally
            Identifiable Information for the following purposes;
        </p>
        <ul class="list-item">
            <li>
                <strong>
                    To improve the products and services we offer
                </strong>
                <p>
                    Peersview uses all of the information that you provide or that we collect
                    from Users to enhance our relationship with you. Personally Identifiable
                    Information is used by Peersview to understand and analyse the usage
                    trends, learning behaviours, and preferences of our Users, to improve the
                    way the Properties work and look, and to create new features and
                    functionality on the website and mobile applications. This includes
                    remembering your recent activity so we can recommend the most
                    appropriate content for you on your next visit.
                </p>
            </li>
            <li>
                <strong>
                    To verify your identity
                </strong>
                <p>
                    We use the Personally Identifiable Information that we collect for
                    verifying your identity, and for authenticating that log-in submissions
                    made on the Site were made by you.
                </p>
            </li>
            <li>
                <strong>
                    To verify your transactions
                </strong>
                <p>
                    We use billing information collected to verify your transactions, confirm
                    purchases, process billing, security and also for authentication.
                </p>
            </li>
            <li>
                <strong>
                    To facilitate your use of the Forums
                </strong>
                <p>
                    In order to participate in the Forums, you may be required to register with
                    us and/or provide us with Personal Information such as your name and
                    email address. Please be aware that information posted or sent by or to
                    you via any public Forum can be viewable by other users and the public.
                    In addition, we may publish this information via extensions of our
                    Platform that use third-party services, like mobile applications. We may
                    archive this information and/or use it in future versions of the Forums and
                    for future communications with you, and/or provide it to our Academic
                    Institution partners for improved services. We may also use or publish
                    posts submitted on the Forums without using Personally Identification
                    Information.
                </p>
            </li>
            <li>
                <strong>
                    To perform research
                </strong>
                <p>
                    We may share general data (e.g. Forum discussions), information about
                    your activity on our Site, and demographic data from surveys operated by
                    us with our Academic Institution partners and other business partners so
                    that these partners may use the data for research related to online learning
                    and campus interaction.
                </p>
            </li>
            <li>
                <strong>
                    For user to user communication
                </strong>
                <p>
                    We provide certain features that may allow you to share information with
                    other Users. For example, when you provide your profile with your name,
                    photo, short biography, university affiliation and location, ask questions
                    on your page, comment on, share or like a post, such profile info,
                    comments, shares or likes will be visible to other Users of the Peersview
                    Services. Whenever you share information with other Users, any Personal
                    Information that you choose to include in, or is associated with, such
                    Postings will be accessible by such other Users. As with most online
                    services, once you make your Personal Information available to others in
                    any of these ways, it may be collected and used by the recipients without
                    restriction.
                </p>
            </li>
            <li>
                <strong>
                    To inform users of new products and services, including promotional
                    offers
                </strong>
                <p>
                    We may share your Personally Identifiable Information with Academic
                    Institution partners and other business partners of Peersview so that
                    Peersview Academic Institution partners and other business partners may
                    share information about their products and services that may be of
                    interest to you.
                </p>
            </li>
            <li>
                <strong>
                    To contact you with information that we believe will be of interest to
                    you
                </strong>
                <p>
                    If you have given Peersview consent, we may use your Personal
                    Information to provide you with information about Peersview’s features,
                    services and other offers that may be of interest to you.
                </p>
                <p>
                    When you send us an email message or otherwise contact us, we may use
                    the information provided by you to respond to your communication
                    and/or as described in this Privacy Policy. We may also archive this
                    information for future communications with you.
                </p>
            </li>
        </ul>
    </div>
  </div>