<div class="privacy-policy-component peersview-primary-bg-color">
    <div class="container">
        <shared-navbar-unauth-component
            [signIn]=true
            [signUp]=true>
        </shared-navbar-unauth-component>
        <h3 class="text-left">INTRODUCTION</h3>
        <h3 class="text-left">Welcome to Peersview!</h3>
        <h3 class="text-left">We are committed to protecting your privacy!</h3>
        <p>Peersview Media (&quot;Peersview,&quot; &quot;us,&quot; &quot;we,&quot; or &quot;our&quot;) knows that your privacy
            is important to you, and we want you to know that it is important to us too.
            We created this Policy to explain the types of information we collect uses
            and shares information about you through (i) our website located at
            www.peersview.com.</p>
    </div>
</div>