<div class="about-us-how-it-is-started-component">
  <div class="container">
    <div class="details-info">
      <div class="col-md-6 col-sm-9">
        <h1>How it all started</h1>
        <p>
          Every profesional started as a student. As the founders of Peersview, we realized that what students
          need most to become succesful is a mix of academic support and a sense of community.
        </p>
        <p>
          To achieve this, we designed Peersview to increase peer-to-peer interactions among students,
          with an innovative blend of social networking features.
        </p>
        <p>
          Here at Peersview, we foster an incredibly diverse community of students; from various academic institutions around the world.
          Our vision is to have every student on our platform feel empowered and connected from debating about topics in college to discussing
          professional passions.<br> We also want to help all students find career opportunities around their professional passions, by connecting them with open internships and entry level jobs.
          <br> We are helping companies adopt a proactive approach with their future talent acquisitions by connecting them with the top talents 
          in various academic institutions.
        </p>
        <p>
          Ultimately, we aim to build student communities for various professional fields and to improve access to job opportunities for the up-and-coming talents within these fields.
        </p>
      </div>
    </div>
  </div>
</div>