.about-us-how-it-is-started-component {
  background: url('https://res.cloudinary.com/peersview-com/image/upload/v1519587948/howItIsStartedBg.jpg') no-repeat;
  background-size: cover;
  .details-info p {
    font-size: 2rem;
  }
}