<div class="create-club-modal">
  <div class="create-new-forum">
    <!--<div class="modal-brand"><img src="images/peersview-brand.png" alt=""/></div>-->
    <h3 class="modal-heading">Create A Club/Society</h3>
    <!--<h5 class="modal-heading">Forums are great for colaborating and sharing things with your peers</h5>-->
    <div class="modal-divider"></div>
    <div class="modal-body">
      <div class="form-group">
        <label>Club Title</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Club Description</label>
        <textarea class="form-control"></textarea>
      </div>

    </div>
    <div class="modal-footer">
      <!--<span><img class="create-club-img" src="/assets/images/profile.jpg" alt="" /></span>-->

      <button type="button" class="btn btn-grey">Add Logo</button>
      <button type="button" class="btn btn-blue">Create</button>
    </div>

  </div>
</div>

