<div class="modal-brand"><img [src]="peersviewBrand" alt=""/></div>
<h4 class="modal-heading">Invite Your University</h4>
<div class="modal-body">
    <div class="form-group">
        <label class="form-label">Name of institution</label>
        <input class="form-control" type="text">
    </div>
    <div class="form-group">
        <label class="form-label">Institution Email</label>
        <input class="form-control" type="text">
    </div>
    <div class="form-group">
        <label class="form-label">Message</label>
        <textarea class="form-control" rows="4"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-grey" (click)="cancel()" >Cancel</button>
    <button type="button" class="btn btn-blue">Invite</button>
</div>