<div class="shared-post-options-component">
  <ul class="body">
    <li class="star-section">
      <button class="flat-btn" (click)="likepost()">
        <i class="material-icons like">thumb_up</i>
      </button>
      <!-- <i class="material-icons star" *ngFor="let star of stars" [ngClass]="{'yellow-fill': star === 'star'}">{{star}}</i> -->
      <shared-stars-component [ratingCount]="ratingCount"></shared-stars-component>
      <span style="vertical-align: sub;margin-left: 5px;" *ngIf="likes"><span class="link-name" >Likes</span> ({{likes}})</span>
    </li>
    <li class="eye-section">
      <i class="material-icons eye">remove_red_eye</i> {{views}} <span class="link-name">&nbsp; views</span>
    </li>
    <li class='share-section' *ngIf="share">
      <button class="flat-btn purple" (click)="openShare()">
        <i class="material-icons">share</i> <span class="link-name">Share</span><ng-container *ngIf="share">({{share}})</ng-container>
      </button>
    </li>
    <li (click)="onOpenSharedPostDetailModalComponent()" class="reply-section">
      <!-- <a class="reply-link"> -->
      <i class="material-icons reply">reply</i>{{replies}} <span class="link-name">Replies</span>
      <!-- </a> -->
    </li>
    <li>
      <div ngbDropdown class="d-inline-block" placement="bottom-right">
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <ul>
            <!-- *ngIf="share !== false"  -->
            <!-- <li class="dropdown-item">
              <a class="flat-btn purple" href="#"><i class="material-icons">delete</i>Delete</a>
            </li> -->
             <!-- *ngIf="user.id !== post.author_id" -->
            <li class="dropdown-item">
              <a class="flat-btn purple" (click)="report()"><i class="material-icons">flag</i>Report</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>