<div class="shared-post-options-component">
  <ul class="body">
    <li class="star-section">
      <div class="star-section-container text-center">
        <span>{{likes}} Views</span>
        <button
        class="btn-peersivew-transparent"
        [ngClass]="post.isUserPostLike === 1 ? 'liked' : 'not-yet-liked'"
        (click)="likepost()" [disabled]="isLikingOrUnlikingPost">
          <i class="material-icons like">thumb_up</i>
          <shared-stars-component [ratingCount]="ratingCount"></shared-stars-component>
        </button>
      </div>
    </li>
    <li (click)="openViewModal()" class="eye-section">
      <div class="eye-section-container">
        <span>{{views}} Views</span>
        <button class="btn-peersivew-transparent">
          <i class="material-icons share">remove_red_eye</i>
        </button>
      </div>
    </li>
    <li (click)="openReplyContainer()" class="reply-section">
      <div class="reply-section-container">
        <span>{{post.postReply.length}} {{post.postReply.length >= 2 ? 'Replies' : 'Reply'}}</span>
        <button class="btn-peersivew-transparent">
          <i class="material-icons share">reply</i>
        </button>
      </div>
    </li>
    <li class='share-section'>
      <div class="share-section-container">
        <span>{{share}} Share</span>
        <button class="btn-peersivew-transparent" (click)="openShare()">
          <i class="material-icons share">share</i>
        </button>
      </div>
    </li>
    <li>
      <div class="d-inline-block" placement="bottom-right">
        <div aria-labelledby="dropdownBasic1">
          <ul>
            <!-- *ngIf="share !== false"  -->
            <!-- <li class="dropdown-item">
              <a class="flat-btn purple" href="#"><i class="material-icons">delete</i>Delete</a>
            </li> -->
            <!-- *ngIf="user.id !== post.author_id" -->
            <!-- <li class="dropdown-item">
              <a class="flat-btn purple" (click)="report()"><i class="material-icons">flag</i>Report</a>
            </li> -->
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <div class="col-xs-12 reply-container" [hidden]="hideReplySection">
    <hr>
    <div class="form-group">
      <div class="input-group">
        <input required [(ngModel)]="reply.comment" type="text" class="form-control" required>
        <span class="input-group-btn">
          <button class="btn btn-peersview-primary" type="button" (click)="submitPostReply()" [disabled]="commentSubmitting">Reply</button>
        </span>
      </div>
      <div class="replies-container" *ngIf="post.postReply">
        <ul class="unstyled" *ngFor="let item of post.postReply">
          <li class="comment-container">
            <span>
            <span class="purple">
              <b>{{item.user.firstName | titlecase}} {{item.user.lastName | titlecase}}</b>
            </span> {{item.comment}}
            </span>
            <div> <small>{{item.createdAt | date : 'short'}}</small></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
