$iconArrowRight: url('https://res.cloudinary.com/peersview-com/image/upload/v1518100570/iconArrowRight.png');

.shared-post-options-component {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .body {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .dropdown-item a {
    cursor: pointer;
  }
  .like {
    margin: 0;
    color: #631990;
  }
  .star {
    margin: 0;
    font-size: 18px;
    letter-spacing: -3px;
  }
  .yellow-fill {
    color: orange;
  }
  .star-section, .reply-section, .eye-section {
    margin: 0;
    color: #631990;
    cursor: pointer;
  }
  .star-section {
    display: inline-flex;
  }
}