<div class="edit-accomplishments-modal">
  <h3 class="modal-heading">Accomplishments</h3>
  <div class="modal-body">
    <div>
      <div class="form-group">
        <textarea class="form-control" rows="5" (change)="onChangeAccomplishments($event.target.value)">{{user.accomplishments}}</textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-grey" (click)="onClose();">Cancel</button>
    <button type="button" class="btn btn-blue" (click)="onAddOrUpdate();">{{user.accomplishments ? 'Update': 'Add'}}</button>
  </div>
</div>
