<div class="sign-up-component">
  <shared-navbar-unauth-component [signInOrSignUp]="{link: '/sign-in', name: 'SIGN-IN'}"></shared-navbar-unauth-component>
  <div class="container">
    <div class="col-lg-12">
      <div class="text-center color-white">
        <h1>SIGN UP</h1>
      </div>
      <div class="row background">
        <div class="col-sm-6 left-side">
          <form #signUpForm="ngForm" (ngSubmit)="onSignUp()" class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Full Name"
                  name="name"
                  autocomplete="name"
                  [(ngModel)]="user.name"
                  #username="ngModel"
                  required
                  pattern="[-'a-zA-Z]+\s[-'a-zA-Z\s]+" />
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                  <div *ngIf="username.errors.required">
                    Name is required
                  </div>
                  <div *ngIf="username.errors.pattern">
                    At least two Names are required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  name="email"
                  autocomplete="email"
                  [(ngModel)]="user.email"
                  #userEmail="ngModel"
                  required
                  email/>
                <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="alert alert-danger">
                  <div *ngIf="userEmail.errors.required">
                    Email is required
                  </div>
                  <div *ngIf="userEmail.errors.email">
                    Email is invalid
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                  autocomplete="password"
                  [(ngModel)]="user.password"
                  #password="ngModel"
                  required
                  minlength="8" />
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                  <div *ngIf="password.errors.required || password.errors.minlength">
                    Password required at least 8 characters
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirm Password"
                  name="confirmPassword"
                  autocomplete="confirmPassword"
                  [(ngModel)]="user.confirmPassword"
                  #confirmPass="ngModel"
                  validateEqual="password"
                  required />
                <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="alert alert-danger">
                  <div *ngIf="!confirmPass.errors.validateEqual">
                    Password mismatch
                  </div>
                </div>
              </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Sign Up"/>
            <div class="checkbox">
              <label>
                <input
                  type="checkbox"
                  name="hasconsented"
                  [(ngModel)]="hasAgreed"
                  #hasAgreedToTerms="ngModel"
                  required/>
                    I agree to the Terms & Conditions, Privacy Policy and Code of Conduct
              </label>
            </div>
            <div *ngIf="hasAgreedToTerms.invalid && (hasAgreedToTerms.dirty || hasAgreedToTerms.touched)" class="alert alert-danger">
              <div *ngIf="hasAgreedToTerms.errors.required">
                This is required field
              </div>
            </div>
          </form>
        </div>

        <div class="col-sm-6">
        </div>
      </div>
      <!-- <app-sign-social [type]="'sign-up'" (showForm)="showForm($event)"></app-sign-social> -->
    </div>
  </div>
</div>