.shared-followee-component {
  padding: 0 10px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  font-family: 'Conv_MavenPro-Bold';
  .view-all {
    padding: 15px;
    font-family: 'Conv_MavenPro-Bold';
    text-decoration: none;
    cursor: pointer;
  }
}