<div class="shared-followee-component">
  <h5>
    <i class="material-icons social-icon color-purple">reply</i>
    <div class="following-label">Following (<strong>{{followee.length}}</strong>)</div>
  </h5>
  <ul class="users-list">
    <li
      data-toggle="tooltip"
      title="{{follows.followee.firstName}} {{follows.followee.lastName}}"
      *ngFor="let follows of followee">
        <cl-image
          public-id="{{follows.followee.profilePicture}}"
          radius="max"
          width="50">
        </cl-image>
        <img src="/assets/images/user1.jpg" alt="" ng-click="vm.openUsersProfile('sm')"/>
    </li>
  </ul>
  <div 
    *ngIf="followee.length > 0" 
    class="view-all text-right color-purple"
    >
    View All
  </div>
  <h4 *ngIf="followee.length === 0" class="text-center">
    No Followings
  </h4>
</div>