<div class="share-modal">
  <div class="create-new-forum">
    <!--<div class="modal-brand"><img src="images/peersview-brand.png" alt=""/></div>-->
    <h3 class="modal-heading">Share Post</h3>
    <!--<h5 class="modal-heading">Forums are great for colaborating and sharing things with your peers</h5>-->
    <div class="modal-divider"></div>
    <div class="modal-body">
      <div class="share-block-form">
        <span class="share-user"><img src="/assets/images/profile.jpg" alt="" /></span>
        <div class="form-group">
          <label>John Smith</label>
          <textarea placeholder="Say something about this..." class="form-control"></textarea>
        </div>
      </div>

      <div class="post-share-block">
        <div class="row">
          <div class="col-md-4"><img src="/assets/images/post-img3.jpg" alt="" class="img-responsive" /></div>
          <div class="col-md-8">
            <h4>Looks like team "Giggle Waters" had the last giggle after all! Congratulations to the Champion</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <button class="btn btn-grey" mat-dialog-close>Cancel</button>
      <button type="button" class="btn btn-blue">Share</button>
    </div>

  </div>
</div>

