<div class="profile-right-sidebar-component">
  <input 
    type="button" 
    class="hidden-xs hidden-sm btn btn-white follow-btn"
    [value]="followed? 'Followed': 'Follow'" 
    [ngClass]="{'followed-btn' : followed}"
    (click)="onClickFollowButton()"
  />
  
  <shared-followee-component></shared-followee-component>
  <shared-social-component></shared-social-component>
  <shared-followers-component></shared-followers-component>
  <shared-sidebar-footer-component></shared-sidebar-footer-component>
</div>