<h3 class="sub-title">Select your Status</h3>
<div class="row">
    <div class="col-md-4">
        <a (click)='setStep.emit("2")' class="student-bg selection" style="cursor:pointer">Student</a>
    </div>
    <div class="col-md-4">
        <a (click)='setStep.emit("2ex")' class="exstudent-bg selection" style="cursor:pointer">Ex-Student</a>
    </div>
    <div class="col-md-4">
        <a (click)='setStep.emit("2org")' class="business-org-bg selection" style="cursor:pointer">Academic Institution <span
                class="sep-line"></span> Business Organisation</a>
    </div>
</div>
