<div class="index-campus-page-institutions-component">
    <div class="container">
      <div class="row">
        <div class="col-md-6 header-block">
          <div class="font-family text-center">
            <h5>Academic institution</h5>
            <h1>Bringing improved social interaction and learning to your academic institution.</h1>
          </div>
          <div class="bubble">
            <h4><em>Ease enrolment and orientation process for new students.</em></h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="inline-widget bubble">
            <div class="inline-widget-header color-light-purple">
              <i
                class="material-icons"
                slideToggle
                [class]="'instititution-bubble-one'">add
              </i>
              <h4>Connect the entire school as a community</h4>
            </div>
            <div class="inline-content instititution-bubble-one">
              <ul>
                <li>Connect students outside of the classroom</li>
                <li>Bring together your entire university community in one place for example, part-time
                  and full time students
                </li>
                <li>Bridge across faculties, campuses, modes of study and year levels</li>
              </ul>
            </div>
          </div>
          <div class="inline-widget bubble">
            <div class="inline-widget-header color-light-purple">
              <i
                class="material-icons"
                slideToggle
                [class]="'instititution-bubble-two'">add
              </i>
              <h4>Increased teaching efficiency</h4>
            </div>
            <div class="inline-content instititution-bubble-two">
              <p>Expand learning beyond the physical classroom, since there is limited time for student
                questions within the classroom.</p>
              <p>Peersview provides a platform where every student has the opportunity to engage and
                interact with one another on the go about lessons.</p>
            </div>
          </div>
          <div class="inline-widget bubble">
            <div class="inline-widget-header color-light-purple">
              <i
                class="material-icons"
                slideToggle
                [class]="'instititution-bubble-three'">add
              </i>
              <h4>Create a social learning</h4>
            </div>
            <div class="inline-content instititution-bubble-three">
              <p>Our survey depicted that majority of students believed they would have a better student
                experience if they could find peers with similar interest with little effort.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="inline-widget bubble">
            <div class="inline-widget-header color-light-purple">
              <h4>Conduct quick and efficient surveys on students</h4>
            </div>
          </div>

          <div class="inline-widget bubble">
            <div class="inline-widget-header color-light-purple">
              <i
                class="material-icons"
                slideToggle
                [class]="'instititution-bubble-four'">add
              </i>
              <h4>Encourage team work and higher engagement among students</h4>
            </div>
            <div class="inline-content instititution-bubble-four">
              <p>Peersview campus facilities interaction and collaboration on among classmates on the
                go.</p>
            </div>
          </div>

          <div class="inline-widget bubble">
            <div class="inline-widget-header color-light-purple">
              <i
                class="material-icons"
                slideToggle
                [class]="'instititution-bubble-five'">add
              </i>
              <h4>Understand your students better</h4>
            </div>
            <div class="inline-content instititution-bubble-five">
              <p>Capture interesting data on your students. Peersview delivers insightful information into
                levels of student satisfaction.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="request-demo text-center">
        <a routerLink="/contact" class="btn btn-primary text-center">Request a Demo</a>
      </div>
    </div>
</div>