<app-navbar [active]="'campus'"></app-navbar>
<div class="container fixed-header grey">
    <div class="row">
        <div class="col-md-2 fixed-sidebar-wrapper">
          <div class="sticky-width wide">
                <!--left sidebar-->
              <app-community-navbar [active]="'student-home'"></app-community-navbar>
                <!--left sidebar-->
            </div>
        </div>
        <div class="col-md-10 fixed-sidebar-content">
            <div class="page-title">
                <p>Student Groups<a routerLink="/group/create" class="btn btn-blue pull-right">Create A Group</a></p>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <ngb-tabset>
                  <ngb-tab title="Public Groups">
                    <ng-template ngbTabContent>
                      <!--Public Groups-->
                      <div class="deals-wrapper">
                        <div class="deals-item" *ngFor="let group of publicgroups">
                          <span class="active-user">252</span>
                          <h4>{{group.name | titlecase}}</h4>
                          <p>{{group.description| titlecase}}</p>
                          <a routerLink="/group/feed">Read more</a>
                        </div>
                        <app-sidebar-footer></app-sidebar-footer>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>My Groups</ng-template>
                    <ng-template ngbTabContent>
                      <!--My Groups-->
                      <div class="deals-wrapper">
                        <div class="deals-item" *ngFor="let group of mygroups">
                          <span class="active-user">252</span>
                          <h4>{{group.name | titlecase}}</h4>
                          <p>{{group.description| titlecase}}</p>
                          <a routerLink="/group/feed">Read more</a>
                        </div>
                        <app-sidebar-footer></app-sidebar-footer>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>
        </div>
    </div>
</div>
