<div class="borad-outer">
  <div class="status-selection">
    <h3 class="sub-title">Tell us about all the stuff you love</h3>
  </div>
  <div class="board-block">
    <div class="row-over">
      <div class="col-md-6 paddingR0 paddingL0">
        <div class="board-header">Select 5 interests of yours</div>
        <div class="board-bar count1">
          <span class="filter-field">
            <input [(ngModel)]="term" (ngModelChange)="search()" class="form-control search-text" placeholder="Search your interests" type="text" >
          </span>
          <a href="javascript:void(0);" class="icon-add-exp"></a>
          <div class="clear"></div>
        </div>
        <div class="board-tab-content">
          <div class="scroll-list">
            <ul class="tile-view" *ngIf='searchResult.length && term'>
              <li *ngFor="let interest of searchResult" class="{{getInterestClass(interest)}} interest-checkbox search-result-interest" [ngClass]="{'disabled': selectedInterests.length >= maxSelectedInterestsCount && !interest.isselected, 'has-subinterests': interest.subinterests.length}">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="{{interest.value}}"[ngModel]="interest.isselected" (change)="toggleInterest(interest)"/>
                    {{interest.value}}
                  </label>
                  <ul class="added-tags-list">
                    <li class="subinterest" {{subinterest}} *ngFor="let subinterest of subinterests" [ngClass]="{'activesubinterest': subinterest.isselected === true, 'disabled' : subinterest.isdisabled}" (click)="toggleSubInterest(subinterest)">
                      {{subinterest.value}}
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <ul class="tile-view" *ngIf='!searchResult.length && term'>
              Nothing found on request "{{term}}"
            </ul>

            <ul class="tile-view" *ngIf='!searchResult.length && !term'>
              <li *ngFor="let interest of interests" class="{{getInterestClass(interest)}} interest-checkbox" [ngClass]="{'disabled': selectedInterests.length >= maxSelectedInterestsCount && !interest.isselected}">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="{{interest.value}}" [ngModel]="interest.isselected" (change)="toggleInterest(interest)"/>
                    {{interest.value}}
                  </label>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-md-6 paddingR0 paddingL0">
        <div class="highlighted-tab" style="min-height:328px;">
          <div class="board-header text-center">Select Sub-Interests</div>
          <div class="board-tab-content marginT20">
            <ng-container *ngFor="let selectedInterest of selectedInterests; let selectedInterestIndex = index">
              <li class="interest-title">{{(selectedInterest.value).toUpperCase()}}</li>
              <ul class="added-tags-list">
                <ng-container *ngFor="let subinterest of selectedInterest.subinterests; let selSubInterestIndex = index">
                  <li class="subinterest" [ngClass]="{'activesubinterest': subinterest.isselected === true, 'disabled' : subinterest.isdisabled}" (click)="toggleSubInterest(subinterest, selectedInterestIndex)"><span>{{subinterest.value}}</span> {{subinterest.name}} <i class="delete-tag" *ngIf="subinterest.suggested" (click)="deleteSuggested(subinterest.id, selectedInterestIndex, selSubInterestIndex); $event.stopPropagation()"></i></li>
                  <!-- <div *ngIf="subinterest.last_in_group || last" class="bottom-button marginT10">
                  <input type="text" class="int-input" placeholder="Suggest a Sub-Interest in {{subinterest.interest_value}}"
                  (keyup.enter)="saveSubinterest($event, subinterest.interestid)">
                  </div> -->
                </ng-container> <br>
                <div class="suggest-interest-container">
                  <input type="text" class="suggest-sub-interest-input" placeholder="{{'Suggest a Sub-interest for ' + (selectedInterest.value).toUpperCase()}}" [(ngModel)]="suggestedInterest[selectedInterestIndex]" (keypress)="submitSuggested($event, selectedInterest.id, selectedInterestIndex)"
                    [disabled]="isDisabled[selectedInterestIndex]" />
                  <button type="button" class="btn btn-xs btn-primary visible-sm visible-xs visible-md" (click)="submitSuggested($event, selectedInterest.id, selectedInterestIndex)">Submit</button>
                </div>
              </ul>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-button no-sep">
    <input class="btn btn-md btn-blue" value="Finish" type="button" (click)="submitInterests()">
  </div>
