<div class="shared-post-textarea-component">
  <div class="post-menu">
    <li role="presentation" [ngClass]="{'active' : typePost === 'post'}">
      <a (click)="onClickWhichTypeIsSelected('post')">Write a Post</a></li>
    <li role="presentation" [ngClass]="{'active' : typePost === 'poll'}">
      <a (click)="onClickWhichTypeIsSelected('poll')">Create Poll</a></li>
    <li
      role="presentation"
      *ngIf="shareMenu"
      [ngClass]="{'active' : typePost === 'share'}"
    >
      <a (click)="onClickWhichTypeIsSelected('share')">Share a Story</a></li>
  </div>
  <div class="post" *ngIf="typePost === 'post'">
    <textarea class="form-control" placeholder="Whats happening?" name="post_title" [(ngModel)]="post.message"></textarea>

    <shared-upload-image-component
      *ngIf="isToogleUploadComponentVisible"
      [uploadOptions]="{'queueLimit': 4, 'event': 'post_post'}"
      (uploadComplete)="onUploadComplete($event)"
    ></shared-upload-image-component>

    <div class="text-right options">
      <label
        class="img-upload flat-btn"
        (click)="isToogleUploadComponentVisible = !isToogleUploadComponentVisible"
      >
        <i class="material-icons">image</i>
      </label>
      <button
        type="submit"
        class="btn-peersview-primary btn-peersview-sm"
        [disabled]="isButtonDisabledOnSubmit"
        (click)="onAddPost();"
      >
        Add Post
      </button>
    </div>
  </div>
  <!-- POLL -->
  <div
    class="poll"
    *ngIf="typePost === 'poll'"
  >
    <form>
      <textarea
        class="form-control"
        name="newPollQuestion"
        [(ngModel)]="createPoll.question"
        placeholder="Ask something..."
      >
      </textarea>
      <ul class="poll-option">
        <li *ngFor="let item of pollOptions; let i = index;">
          <input
            type="text"
            placeholder="Add an option"
            name="{{item}}"
            [(ngModel)]="createPoll.options[i]"
          />
        </li>
      </ul>
      <div>
        <a
          id="add-poll-opt"
          class="btn-add-new"
          (click)="onAddPollOption()"
        >
          Add New
        </a> <br/>
        <p
          class="text-danger"
          style="margin-left:11px;"
          *ngIf="errorMessage"
        >
          {{this.errorMessage}}
        </p>
      </div>
      <div class="bottom-block">
        <div class="duration-poll">
          <span>Poll Duration(Days):</span>
          <input
            name="newPollDuration"
            type="number"
            [(ngModel)]="createPoll.duration"
          >
        </div>
        <button
          class="btn btn-peersview-primary btn-sm post-btn poll-btn"
          type="submit"
          [disabled]="isButtonDisabledOnSubmit"
          (click)="onAddPoll()"
        >
          ADD POST
        </button>
      </div>
    </form>
  </div>
  <!-- Share a Story -->
  <div
    class="share"
    *ngIf="typePost === 'share'"
  >
    SHARE
  </div>
</div>
