.shared-post-textarea-component {
  .post-menu {
    display: inline-flex;
    li {
      padding: 10px;
      a {
        font-size: 14px;
        font-weight: 500;
        color: #323c47;
      }
    }
    .active a {
      background-color: #f4f4f4;
      border-bottom: 2px solid #323c47;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      &:hover {
        background-color: #f4f4f4;
        color: #323c47;
      }
    }
  }
  .post {
    position: relative;
    textarea {
      height: 140px;
    }
  }
  .options {
    padding: 10px;
  }

  .post-btn {
    margin-top: -15px;
  }

  // Custom, iPhone Retina
  @media only screen and (min-width : 320px) {}
  // extra Small Devices, Phones
  @media only screen and (min-width : 480px) {
    .post-menu {
      li a {
        font-size: 15px;
      }
    }
  }
  // Small Devices, Tablets
  @media only screen and (min-width : 768px) {
    .post-menu {
      li a {
        font-size: 18px;
      }
    }

  }
  // Medium Devices, Desktops
  @media only screen and (min-width : 992px) {}
  // Large Devices, Wide Screens
  @media only screen and (min-width : 1200px) {}

}
@media screen and (max-width:767px ) {

    .shared-post-textarea-component .post textarea {
        height: auto !important;
        resize: none;
    }
}
