<div class="menu_nav forum-left-menu">
  <div class="sticky sticky-width wide community-menu">
    <div class="fixed-sidebar text-lower">
      <ul class="forum-menu">
        <li [ngClass]="{'active-link': page === 'forum'}" class="forum-career forum-menu-item">
          <a routerLink="/forum/home">
            <span class="link-text"> Community</span>
          </a>
        </li>
        <li [ngClass]="{'active-link': page === 'careers'}" class="forum-career forum-menu-item">
          <a routerLink="/forum/careers">
            <span class="link-text"> Careers</span>
          </a>
        </li>
        <li [ngClass]="{'active-link': page === 'private-forums'}" class=" forum-home forum-menu-item">
          <a (click)="isCollapsed = !isCollapsed">
            <!--routerLink="/forum/home"-->
            <div class="forum-menu-item-wrapper">
              <span class="link-text">
                Private Community
                <i class="material-icons forum-menu-item-caret" *ngIf="isCollapsed">keyboard_arrow_down</i><i class="material-icons forum-menu-item-caret" *ngIf="!isCollapsed">keyboard_arrow_up</i>
              </span>
            </div>
          </a>
          <div class="forum-menu-collapse-content create_private_community ">
            <div [ngbCollapse]="isCollapsed">
              <!--id="collapseExample"-->
              <div class="card">
                <div class="card-body">
                  <button type="button" class="forum-menu-collapse-content__button" (click)="addNewForum()">
                    <i class="material-icons" style="color: #631a90;">add_circle_outline</i>
                    <!-- Add new -->
                    Create Private Community
                  </button>
                  <ul class="forum-menu-list">
                    <li class="forum-menu-list-item">
                      <a routerLink="/forum/forum-item">Community name</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
