<app-support-header
        [header]='header'
        [sub_header]='sub_header'
></app-support-header>

<div class="container">
    <div class="back-menu"><a routerLink="/support">Back to Main Menu</a></div>
    <h4 class="line-level-heading">Custom Groups</h4>
    <p class="text-bold">All students</p>
    <p>All students would be automatically included or added to the All students group. (Students are automatically a
        member of this upon sign up.)</p>
    <p class="text-bold">Fresher’s group</p>
    <p>The fresher is a group for new students in every academic year. You have the option to either join this group or
        not.</p>
    <p class="text-bold">Student Groups</p>
    <p>This is a social or study group, users can create themselves and invite other member they wish to be part of the
        group. User can either create a public group or a private group.</p>
    <p class="text-bold">Joining Your Course group</p>
    <p>Join the group of students studying your course, the group is open to both seniors and juniors studying the same
        course.</p>
    <p class="text-bold">Joining Classes</p>
    <p>After selecting your course, you have the option to select the classes you are taking, and join to collaborate
        and interact with your classmates on the Go.</p>
    <div class="field-helpful">
        <span class="helpful-title">Was this article helpful?</span>
        <span class="helpful-action">
      	<a href="javascript:void(0);" class="helpful-yes" title="Yes" data-toggle="tooltip"></a>
        <a href="javascript:void(0);" class="helpful-no" title="No" data-toggle="tooltip"></a>
      </span>
        <span class="helpful-result">(0 out of 0 found this helpful)</span>
        <span class="helpful-contact">Have more questions? <a routerLink="/contact">Contact us</a></span>
    </div>
</div>