<app-navbar [active]="'campus'"></app-navbar>

<div class="container fixed-header">
    <div class="row">
        <div class="col-md-2 fixed-sidebar-wrapper">
          <div class="sticky-width wide">
                <app-community-navbar [active]="'job-center'"></app-community-navbar>
            </div>
        </div>
        <div class="col-md-10 fixed-sidebar-content">
            <h1 class="page-title text-center">Job Center <br/>
                <small>Search and directly apply for local Jobs in Toronto</small>
            </h1>
            <ul id="careers-listing">
                <li class="career-item" *ngFor="let job of jobs">
                    <div class="row">
                        <div class="career-main col-md-6">
                            <h5><a href="javascript:void(0);">{{job.title | titlecase }}</a></h5>
                            <span class="career-type"><strong>Contract:</strong>{{job.hoursPerWeek}} Hours a week</span> <span
                                class="career-list">{{job.pricePerHour}} an hour</span></div>
                        <div class="col-md-3 career-category"><span class="item-loc">{{job.location |titlecase}}</span>
                        </div>
                        <div class="career-details col-md-3"><a href="javascript:void(0);"
                                                                class="btn btn-primary"><span>Read More</span></a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
