.profile-component {
  profile-left-sidebar-component {
    position: sticky;
    top: 5%;
    ::-webkit-scrollbar {
      width: 0px;  /* remove scrollbar space */
      background: transparent;  /* optional: just make scrollbar invisible */
    }
  }
  profile-content-component {
    margin-top: 6%;
    padding: 0;
  }
  profile-right-sidebar-component {
    position: sticky;
    top: 5%;
  }
  // Custom, iPhone Retina
  @media only screen and (min-width : 320px) {
    .profile-left-sidebar-component {
      margin-top: 95px;
    }
  }
  // extra Small Devices, Phones
  @media only screen and (min-width : 480px) {}
  // Small Devices, Tablets
  @media only screen and (min-width : 768px) {}
  // Medium Devices, Desktops
  @media only screen and (min-width : 992px) {
    .profile-left-sidebar-component {
      margin-top: 0;
    }
  }
  // Large Devices, Wide Screens
  @media only screen and (min-width : 1200px) {}
}

