campus-marketplace-item-to-sell-component {
	h2 {
		color: #631990;
	} 
	.form-group {
		.form-control {
			border-color: #d29ff1;
		}
		.terms {
			color: #666;
			font-size: 11px;
			margin-top: 10px;
		}
	}
}