<app-support-header
        [header]='header'
        [sub_header]='sub_header'
        [nav-name]="navName"
></app-support-header>

<!--header start-->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="help-widget">
                <div class="help-title">Using Peersview</div>
                <div class="help-content">
                    <ul>
                        <li><a routerLink="using-peers-view">How can I Create a profile?</a></li>
                        <li><a routerLink="using-peers-view">Who are Ex-students?</a></li>
                        <li><a routerLink="using-peers-view">How to Become Top rated?</a></li>
                    </ul>
                </div>
                <a routerLink="using-peers-view" class="view-more">More</a></div>
        </div>
        <div class="col-md-3">
            <div class="help-widget">
                <div class="help-title">Fix A problem</div>
                <div class="help-content">
                    <ul>
                        <li><a routerLink="fix-problem">I can’t access my account</a></li>
                        <li><a routerLink="fix-problem">How do I reset my Password?</a></li>
                        <li><a routerLink="fix-problem">Close my Account</a></li>
                    </ul>
                </div>
                <a routerLink="fix-problem" class="view-more">More</a></div>
        </div>
        <div class="col-md-3">
            <div class="help-widget">
                <div class="help-title">Policies and Reporting</div>
                <div class="help-content">
                    <ul>
                        <li><a routerLink="polices">How can I report violations?</a></li>
                        <li><a routerLink="polices">How can I keep my account safe?</a></li>
                        <li><a routerLink="polices">How can I Use the Forum?</a></li>
                    </ul>
                </div>
                <a routerLink="polices" class="view-more">More</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="help-widget">
                <div class="help-title">Using the Online Campus</div>
                <div class="help-content">
                    <ul>
                        <li><a routerLink="using-online-campus">How can I register in the Campus?</a></li>
                        <li><a routerLink="using-online-campus">I’m I eligible to join the Campus?</a></li>
                    </ul>
                </div>
                <a routerLink="using-online-campus" class="view-more">More</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="help-widget">
                <div class="help-title">Business Organisations</div>
                <div class="help-content">
                    <ul>
                        <li><a routerLink="busy-org">What charges apply for Advertising events?</a></li>
                    </ul>
                </div>
                <a routerLink="busy-org" class="view-more">More</a></div>
        </div>
        <div class="col-md-3">
            <div class="help-widget">
                <div class="help-title">Network Administrators</div>
                <div class="help-content"></div>
                <a routerLink="network-admin" class="view-more">More</a>
            </div>
        </div>
    </div>
    <p class="text-center"><a href="contact" class="btn btn-blue">Contact Us</a></p>
</div>
