<div class="help-center-component">


  <div class="fluid-container help-center">
    <shared-navbar-unauth-component
      [aboutUs]=true
      [signIn]=true>
    </shared-navbar-unauth-component>
    <h1 class="text-center">How can we help?</h1>
    <p class="text-center">Get answers for the most common questions</p>
  </div>


  <div class="container body">

    <div class="row">

      <div class="col-md-3">
        <div class="help-widget">

          <div class="help-title">
            USING PEERSVIEW
          </div>

          <div class="help-content">

            <ul>
              <li><a routerLink="using-peers-view" href="/support/using-peers-view">How ca I Create profile?</a></li>
              <li><a routerLink="using-peers-view" href="/support/using-peers-view">How are Ex-students?</a></li>
              <li><a routerLink="using-peers-view" href="/support/using-peers-view">How to Become Top rated?</a></li>
            </ul>

          </div>
          <a class=" view-more" routerLink="using-peers-view">MORE</a>
        </div>

      </div>

      <div class="col-md-3">
        <div class="help-widget">

          <div class="help-title">
            FIX A PROBLEM
          </div>

          <div class="help-content">

            <ul>
              <li><a routerLink="fix-problem" href="/support/fix-problem">I can't access my account</a>
              </li>
              <li><a routerLink="fix-problem" href="/support/fix-problem">How do i reset my password?</a>
              </li>
              <li><a routerLink="fix-problem" href="/support/fix-problem">Close my Account</a></li>
            </ul>

          </div>
          <a class=" view-more" routerLink="fix-problem">MORE</a>
        </div>

      </div>

      <div class="col-md-3">
        <div class="help-widget">

          <div class="help-title">
            POLICIES AND REPORTING
          </div>

          <div class="help-content">
            <ul>

              <li><a routerLink="policies" href="/support/policies">How can I report violations?</a></li>
              <li><a routerLink="policies" href="/support/policies"> How can I keep my account save?</a></li>
              <li><a routerLink="policies" href="/support/policies">How can I Use the Forum?</a></li>
            </ul>

          </div>
          <a class=" view-more" routerLink="policies">MORE</a>
        </div>

      </div>

      <div class="col-md-3">
        <div class="help-widget">

          <div class="help-title">
            USING THE ONLINE CAMPUS
          </div>

          <div class="help-content">
            <ul>
              <li><a routerLink="using-online-campus" href="/support/using-online-campus">How can I register in the
                Campus?</a>
              </li>
              <li><a routerLink="using-online-campus" href="/support/using-online-campus">Am I eligible to join the
                Campus?</a></li>
              <li><a routerLink="using-online-campus" href="/support/using-online-campus">How to Become Top rated?</a>
              </li>
            </ul>

          </div>
          <a class=" view-more" routerLink="using-online-campus">MORE</a>
        </div>

      </div>

      <div class="col-md-3">
        <div class="help-widget">

          <div class="help-title">
            BUSINESS ORGANISATIONS
          </div>

          <div class="help-content">
            <ul>
              <li><a routerLink="busy-org">What charges apply for Advertising events?</a></li>
              <li></li>
              <li></li>
            </ul>

          </div>
          <a class=" view-more" routerLink="busy-org">MORE</a>
        </div>

      </div>

      <div class="col-md-3">
        <div class="help-widget">

          <div class="help-title">
            NETWORK ADMINISTRATORS
          </div>

          <div class="help-content" routerLink="network-admin">
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>

          </div>
          <a class=" view-more" routerLink="network-admin">MORE</a>
        </div>

      </div>

    </div>

  </div>
  <p class="text-center">
    <a class="btn btn-blue">Contact us</a>
  </p>

</div>

