<app-navbar [active]="'leisure'"></app-navbar>
<div class="container fixed-header">
    <div class="spacer20"></div>
    <div class="events-banner" id="event-slider">
        <h3 class="text-bold">Discover and Create Great Social Events</h3>
    </div>
    <h3 class="page-title events text-center text-bold">Select Your City to View Leisures</h3>
    <div class="alert alert-warning text-center">You need at least 2,000 members from your city on Peersview to access
        the leisure opportunities in your city.
    </div>
    <div class="spacer10"></div>
    <div class="city-block" [ngClass]="{'_expanded': expanded}">
        <ul class="row">
            <li class="col-md-3" *ngFor="let city of canadiancities">
                <div class="radio custom" (click)="toEvent(city.id)">
                    <input id="city_{{city.id}}" type="radio" name="event-city"/>
                    <label for="city_{{city.id}}">{{city.name}}</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="text-center" [hidden]="expanded">
      <button type="button" class="btn btn-success" (click)="expanded = true" >View More Cities</button>
    </div>
    <div class="text-center" [hidden]="!expanded">
      <button type="button" class="btn btn-success" (click)="expanded = false" >View Less Cities</button>
    </div>
    <br>
    <p class="text-center text-danger">Currently Available To Members In Canada Only</p>
    <br/>
</div>
