<div class="modal-body post-detail-modal post-detail-modal-component">
  <button class="close" mat-dialog-close>×</button>
  <!--post-->
  <div class="top-post">
    <div class="row">
      <div class="col-md-3 forum-user-details text-right">
        <cl-image
          public-id="{{post.user.profilePicture}}">
        </cl-image>
        <p>{{post.user.firstName}} {{post.user.lastName}}</p>
        <shared-stars-component [ratingCount]="post.ratingCount"></shared-stars-component>
      </div>
      <div class="col-md-9 top-user-left">
        <p class="post-time">10 h ago</p>
        <h3 class="post-title grey" ng-click="vm.openPostDetail('lg')">{{post.title}}</h3>
      </div>
      <div class="col-xs-12 post-text">
        <!-- post.attachments here -->
        <p>{{post.message}}</p>
        <app-post-footer
          [post]="post"
          [disableRepliesLink]="disableRepliesLink"
          [likes]="post.likeCount"
          [ratingCount]="post.ratingCount"
          [views]="post.pageviewCount"
          [share]="post.shareCount"
          [replies]="post.postReplyCount"></app-post-footer>
      </div>
    </div>
  </div>
  <div class="forum-header">
    <div class="question-widget" style="margin: 0 auto;">
      <h4 class="question-title">Add a reply</h4>
      <div class="question-input clearfix">
        <span class="by-user-img">
          <cl-image
            public-id="{{user?.profilePicture}}"
            *ngIf="user?.profilePicture">
          </cl-image>
          <p>{{user?.firstName}} {{user?.lastName}}
            <span class="mobile-time visible-xs">10h ago</span>
          </p>
        </span>
        <span class="by-user-text">
          <i class="input-caret grey-caret"></i>
          <div style="width: 100%;">
            <input type="text" class="form-control" placeholder="">
          </div>
        </span>
        <div class="bottom-block">
          <label for="uploadImage" class="img-upload flat-btn">
            <i class="material-icons">link</i>
          </label>
          <a href="javascript:void(0);" class=" btn btn-blue pull-right">Post</a>
        </div>
      </div>
    </div>
  </div>
</div>