<app-navbar [active]="'campus'"></app-navbar>

<div class="container fixed-header grey">
    <div class="row">
        <div class="col-md-2 fixed-sidebar-wrapper">
          <div class="sticky-width wide">
                <app-community-navbar [active]="'freshers-home'"></app-community-navbar>
            </div>
        </div>
        <div class="col-md-10 fixed-sidebar-content">
            <h1 class="text-center main-title">Select Your Year of Enrolment</h1>
            <div>
                <div class="col-md-4">
                    <div class="enrolmemt-box">
                        <h3>2013/14<br/>
                            Academic Year</h3>
                        <p><a routerLink="/community/year-enrollment" class="btn btn-primary">Join</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="enrolmemt-box shade1">
                        <h3>2014/15<br/>
                            Academic Year</h3>
                        <p><a routerLink="/community/year-enrollment" class="btn btn-primary">Join</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="enrolmemt-box shade2">
                        <h3>2015/16<br/>
                            Academic Year</h3>
                        <p><a routerLink="/community/year-enrollment" class="btn btn-primary">Join</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
