<div class="fix-a-problem-component">

  <div class="fluid-container fix-problem">
    <shared-navbar-unauth-component
      [aboutUs]=true
      [signIn]=true>
    </shared-navbar-unauth-component>
    <h1 class="text-center">Fix a Problem</h1>

  </div>


  <div class="container body">


    <div class="back-menu">
      <a routerLink="/support" href="/support">Back to Main Menu</a>
    </div>

    <p class="text-bold">I cannot remember the password I used!

    </p>
    <p>Click the forgot password link in the Sign in page to have a reset link emailed to you.

    </p>

    <ul class="list-item">
      <li>
        If your password is not working, request a new password by entering your email address in the forgot password
        form.
      </li>
      <li>
        If our system cannot find your email address, you may be entering the wrong one, Keep reading.
      </li>
    </ul>



    <p class="text-bold">I cannot remember the email address I used on my account.
    </p>

    <ul class="list-item">
      <li>
        Use your Account's <span class="text-bold">Name</span> to log in.
      </li>
    </ul>

    <p class="text-bold">Changing Your Peersview Password</p>

    <ul class="list-item">
      <li>
        Check Account setting
      </li>
    </ul>

    <p class="text-bold">Changing Privacy Settings .</p>

    <ul class="list-item">
      <li>
        Check Account setting
      </li>
    </ul>

    <div class="field-helpful">
      <span class="helpful-title">Was this article helpful?</span>
      <span class="helpful-action">

        <a class="helpful-yes" data-toggle="tooltip" title="Yes"></a>
        <a class="helpful-no" data-toggle="tooltip" title="No"></a>
      </span>
      <span class="helpful-result">(0 out 0 found this helpful)</span>

      <span class="helpful-contact">Have more questions?
      <a routerLink="/contact" href="/contact">Contact Us</a>
      </span>

    </div>

  </div>
</div>
