<app-navbar></app-navbar>
<div class="container fixed-header grey">
  <div class="row">
    <div class="col-md-2 fixed-sidebar-wrapper">
      <div class="post-share options-dropdown">
        <span class="purple text-bold">CREDITS: {{credits}}</span>
      </div>
      <div stickyWidget class="sticky-width sticky wide">
        <!--left sidebar-->
        <div class="fixed-sidebar not-fixed">
          <div class="sidebar-info">
            <img class="user-avatar" src="/assets/images/john.jpg" alt="" (click)="openAvatar()" />
            <h4>{{user?.Username}}</h4>
            <ul class="post-share user-star">
              <li>
                <i class="star" *ngFor="let i of [1,2,3,4,5]" [ngClass]="{ 'fill': stars > i-1 }"></i>
              </li>
            </ul>
            <a class="flat-btn btn grey edit" routerLink="/account-settings">Edit Profile<i
              class="material-icons purple">create</i> </a>
          </div>
          <div class="info-group">
            <div class="profile-info">
              <span> <i class="material-icons purple about_ur_self">info</i><p class="about_ur_self">{{user?.aboutMe || 'Tell us about yourself'}}</p></span>
              <a class="flat-btn btn edit" (click)="openAboutMeModal()">
                <i class="material-icons purple">create</i>
              </a>
            </div>
            <div class="profile-info">
              <span> <i class="material-icons purple">person</i>{{user?.employment_place}}</span>
            </div>
            <div class="profile-info">
              <span> <i class="material-icons purple">account_balance</i>{{user?.institution_name}}</span>
            </div>
            <div class="profile-info">
              <span> <i class="material-icons purple">school</i> Accounting and Finance</span>
            </div>
            <div class="profile-info">
              <span> <i class="material-icons purple">today</i> 2nd July</span>
            </div>
          </div>
          <div class="widget media-widget hidden-xs">
            <h5 class="widget-title">
              <i class="material-icons purple">local_offer</i>
              Interests
              <a class="flat-btn btn edit" (click)="openInterest()">
                <i class="material-icons purple">create</i>
              </a>
            </h5>
            <ul class="tags">
              <li><a href="javascript:void(0);" *ngFor="let item of user?.interests">{{item}}</a></li>
            </ul>
          </div>
          <div class="widget media-widget hidden-xs">
            <h5 class="widget-title"><i class="material-icons purple">book</i>Accomplishments<a
              class="flat-btn btn edit" (click)="openAccomplishments()"><i
              class="material-icons purple">create</i> </a></h5>
            <div class="accomplish">
              {{user?.accomplishments}}
            </div>
          </div>
          <div class="widget media-widget hidden-xs">
            <h5 class="widget-title "><i class="material-icons purple">photo_library</i> Media / Pictures (14)</h5>
            <ul class="media">
              <li><i class="btn-play"></i><a href="javascript:void(0);"><img
                src="/assets/images/media1.jpg" alt=""/></a></li>
              <li><i class="btn-play"></i><a href="javascript:void(0);"></a></li>
              <li><i class="btn-play"></i><a href="javascript:void(0);"><img
                src="/assets/images/media2.jpg" alt=""/></a></li>
              <li><i class="btn-play"></i><a href="javascript:void(0);"><img
                src="/assets/images/media3.jpg" alt=""/></a></li>
            </ul>
            <div class="text-right widget-bottom">
              <a href="javascript:void(0);" class="btn flat-btn purple">View All</a>
            </div>
          </div>
          <div class="widget media-widget hidden-xs">
            <h5 class="widget-title"><i class="material-icons purple">collections</i>Awards (3)</h5>
            <div id="awards-slider">
              <owl-carousel class="owl-theme" [items]="items" [options]="properties">
                <div class="item"><img src="/assets/images/stars.jpg" alt=""></div>
                <div class="item"><img src="/assets/images/stars.jpg" alt=""></div>
                <div class="item"><img src="/assets/images/stars.jpg" alt=""></div>
              </owl-carousel>
            </div>
          </div>
        </div>
        <!--left sidebar-->
      </div>
    </div>
    <div class="col-md-10 fixed-sidebar-content ">
      <!--right sidebar-->
      <div class="col-md-4 col-md-push-8">
        <div stickyWidget>
          <br class="visible-xs-block">
          <app-following></app-following>
          <app-social-widget></app-social-widget>
          <app-followers></app-followers>
          <app-sidebar-image></app-sidebar-image>
          <app-sidebar-footer class="hidden-xs"></app-sidebar-footer>
        </div>
      </div>
      <!--right sidebar-->
      <!--content area-->
      <div class="col-md-8 col-md-pull-4 my-profile">
        <div>
          <div class="tab-pill hidden-xs"><span>TIMELINE</span></div>
          <!--post-->
          <div class="top-post">
            <div class="row">
              <div class="col-md-3 forum-user-details text-right">
                <img src="/assets/images/user4.jpg" alt="">
                <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                <div class="post-share ">
                  <i class="star fill"></i>
                  <i class="star fill"></i>
                  <i class="star fill"></i>
                  <i class="star fill"></i>
                  <i class="star"></i></div>
              </div>
              <div class="col-md-9 top-user-left">
                <p class="post-time">10 h ago</p>
                <h3 class="post-title grey" ng-click="vm.openPostDetail('lg')">Saudi Government Linked
                  To 9/11 Hijackers In Newly Released U.S. Report</h3>
              </div>
              <div class="col-xs-12 post-text">
                <img class="img-responsive" src="/assets/images/post-img1.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                <app-post-footer [likes]="123" [views]="670" [share]="123" [replies]="106"></app-post-footer>

              </div>
            </div>
          </div>
          <div class="top-post">
            <div class="row">
              <div class="col-md-3 forum-user-details text-right">
                <img src="/assets/images/user4.jpg" alt="">
                <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                <div class="post-share ">
                  <i class="star fill"></i>
                  <i class="star fill"></i>
                  <i class="star fill"></i>
                  <i class="star fill"></i>
                  <i class="star"></i></div>
              </div>
              <div class="col-md-9 top-user-left">
                <p class="post-time">10 h ago</p>
                <h3 class="post-title grey" ng-click="vm.openPostDetail('lg')">Saudi Government Linked
                  To 9/11 Hijackers In Newly Released U.S. Report</h3>
              </div>
              <div class="col-xs-12 post-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                <app-post-footer [likes]="123" [views]="670" [share]="123" [replies]="106"></app-post-footer>
              </div>
            </div>
          </div>
          <div class="top-post">
            <div class="row">
              <div class="col-md-3 forum-user-details text-right">
                <img src="/assets/images/user4.jpg" alt="">
                <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                <div class="post-share ">
                  <i class="star fill"></i>
                  <i class="star fill"></i>
                  <i class="star fill"></i>
                  <i class="star fill"></i>
                  <i class="star"></i></div>
              </div>
              <div class="col-md-9 top-user-left">
                <p class="post-time">10 h ago</p>
                <h3 class="post-title grey" ng-click="vm.openPostDetail('lg')">Saudi Government Linked
                  To 9/11 Hijackers In Newly Released U.S. Report</h3>
              </div>
              <div class="col-xs-12 post-text">
                <app-post-footer [likes]="123" [views]="670" [share]="123" [replies]="106"></app-post-footer>
              </div>
            </div>
          </div>
          <!--post-->
          <div class="load-more"><a href="javascript:void(0);">load more...</a></div>
        </div>
      </div>
      <!--content area-->
      <div class="visible-xs-block">
        <app-sidebar-footer></app-sidebar-footer>
      </div>
    </div>
  </div>
</div>