.home-component {
  span.stars,
  span.stars span {
    display: block;
    width: 70px;
    height: 16px;
    background: url("assets/images/star-icon-sm.png") 0 -21px repeat-x;
  }

  span.stars {
    margin: auto;
  }

  span.stars span {
    margin: initial;
    background-position: 0 0;
  }
}
