/**
 * Basically Just used position and top
 * changes for the conmponent selector
 * css styles; nothing more nothing less
 */
.home-component {
  position: relative;
  .container-fluid {
    margin: 0;
    padding: 0;
  }
  home-left-sidebar-component {
    position: sticky;
    top: 5%;
  }
  home-right-sidebar-component {
    position: sticky;
    top: 5%;
  }
  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {
    padding-top: 112px;
  }
  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {}
  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {}
  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    padding-top: 50px;
  }
  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {}
}
