<div class="digital-campus-students-component">


  <div class="nav-bar-students">
    <shared-navbar-unauth-component
      [aboutUs]=true
      [signIn]=true
      [signUp]=true>
    </shared-navbar-unauth-component>

  </div>


  <div class="container">

    <h3 class="text-center">Students</h3>
    <h1 class="text-center">Join Your Institutions Online Campus.</h1>

    <div class="content">

      <div class="row">
        <div class="col-md-6">
          <div class="inline-widget">
            <div class="inline-widget-header color-light-purple">
              <h4 class="peersview-primary-color-light">Collaboration made easy</h4>
            </div>
            <ul>
              <li>A new way to work together</li>
              <li>Have real-time engagement with classmates on the go</li>
              <li>Collaborate on assignments</li>
              <li>Work on group project on the go</li>
              <li>Prepare for and discuss exams as a group from any location.</li>
            </ul>

          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="inline-widget">
            <div class="inline-widget-header color-light-purple">

              <h4 class="peersview-primary-color-light">Every student in your Institution in one place</h4>
            </div>
            <ul>
              <li>Connect and engage with students across your school</li>
              <li>Find interesting students from different departments and faculties</li>
            </ul>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="inline-widget">
            <div class="inline-widget-header color-light-purple">

              <h4 class="peersview-primary-color-light">More efficient learning</h4>
            </div>
            <ul>
              <li>Improve your critical thinking and understanding, with debates and discussions about lectures.</li>
            </ul>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="inline-widget bubble">
            <h4 class="peersview-primary-color-light">Configuration</h4>
            <ul>
              <li>Peersview support team works with you to ensure a successful launch.</li>
              <li>Manage and streamline registration process of your students on the campus.</li>
            </ul>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="col-md-6">
          <div class="inline-widget">
            <div class="inline-widget-header color-light-purple">
              <h4 class="peersview-primary-color-light">New students, settle in with ease</h4>
            </div>
            <ul>
              <li>Make friends with other freshers</li>
              <li>Ask questions</li>
            </ul>

          </div>
        </div>
      </div>


      <div class="row">
        <div class="clear"></div>
        <div class="col-md-6">
          <div class="inline-widget">
            <h4 class="peersview-primary-color-light">Join clubs and societies</h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="inline-widget">
            <h4 class="peersview-primary-color-light">Buy and sell items from other students</h4>
          </div>
        </div>
      </div>

    </div>


  </div>

  <index-footer-component></index-footer-component>
</div>
