<div id="digital-camput-sub-pages">
  <div class="nav-bar-students">
    <shared-navbar-unauth-component
      [peersviewLogo]=true
      [logo]=false
      [digitalCampus]=true
      [signIn]=true
      [signUp]=true>
    </shared-navbar-unauth-component>
  </div>
  <div class="digital-campus-students-component wrapper-section">
    <div class="container">
      <div class="row">
      <div class="col-md-12 header-block">
          <div class="font-family text-center mt-50 text-color">
            <h1>Join Your Institutions Online Campus.</h1>
          </div>
          <div class="students-img text-center">
            <img src="https://res.cloudinary.com/peersview-com/image/upload/v1562663294/students_k9a718.png" class="img-fluid">
          </div>
        </div>
      </div>  
    
      <div class="main-section mb-50">
          <div class="row mt-50">
              <div class="col-md-5 col-sm-12 col-xs-12">
                  <div class="inline-widget  mouse-pointer mb-50">
                      <h4 class="text-black">Collaboration made easy</h4>
                      <ul>
                          <li>A new way to work together</li>
                          <li>Have real-time engagement with classmates on the go</li>
                          <li>Collaborate on assignments</li>
                          <li>Work on group project on the go</li>
                          <li>Prepare for and discuss exams as a group from any location.</li>
                      </ul>
            
                  </div>
                    <div class="inline-widget  mouse-pointer mb-50">
    
    
                        <h4 class="text-black">Configuration</h4>
                        <ul>
                            <li>Peersview support team works with you to ensure a successful launch.</li>
                            <li>Manage and streamline registration process of your students on the campus.</li>
                        </ul>
                    </div>
            
            
                  
                    <div class="inline-widget  mouse-pointer">
                        <h4 class="text-black">Join clubs and societies</h4>
                    </div>
                    
              </div>
              <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-2">
                  <div class="inline-widget  mouse-pointer mb-50">
            
                      <h4 class="text-black">Every student in your Institution in one place</h4>
                      <ul>
                          <li>Connect and engage with students across your school</li>
                          <li>Find interesting students from different departments and faculties</li>
                      </ul>
            
                    </div>
            
                    <div class="inline-widget  mouse-pointer mb-50">
                      <h4 class="text-black">More efficient learning</h4>
                      <ul>
                          <li>Improve your critical thinking and understanding, with debates and discussions about lectures.</li>

                      </ul>
                    </div>
                    <div class="inline-widget  mouse-pointer mb-50">
                        <h4 class="text-black">New students, settle in with ease</h4>
                        <ul>
                            <li>Make friends with other freshers</li>
                            <li>Ask questions</li>  
                        </ul>
                    </div>
                    <div class="inline-widget  mouse-pointer mb-50">
                          <h4 class="text-black">Buy and sell items from other students</h4>
                        </div>
                  
    
              </div>
          </div>
          </div>
    </div>


      




    <index-footer-component></index-footer-component>
  </div>
</div>
