<div class="employers-community-component">
  <div class="col-md-12">
		<div class="col-md-6 first-text">
			<h3>Recruit diverse talent from various academicinstitutions</h3>
			<p>100k+ validated profiles</p>
		</div>
		<div class="col-md-6 first-img">
		  	<img src="https://res.cloudinary.com/peersview-com/image/upload/v1574083470/Selection_012_iculcy.png"/>
		</div>
	</div>
  <div class="col-md-12">
		<div class="col-md-6 second-img">
		  	<img src="https://res.cloudinary.com/peersview-com/image/upload/v1574349490/C09533A7-AF83-4D8E-A912-89965146E371-485-00000052E5CA96E0_sbxom9.jpg"/>
		</div>
		<div class="col-md-6 second-text">
			<h3>Find your ideal candidates by targeting talents<br> within priority groups you want to hire</h3>
			<p>Apply filters like location preference or skills to find your ideal talents.</p>
		</div>
		<div class="col-md-6 second-img-mobile">
		  	<img src="https://res.cloudinary.com/peersview-com/image/upload/v1574349490/C09533A7-AF83-4D8E-A912-89965146E371-485-00000052E5CA96E0_sbxom9.jpg"/>
		</div>		
	</div>
	<div class="col-md-12">
		<div class="col-md-6 third-text">
			<h3>Personalize your employer brand to increase awareness<br> among the student community</h3>
			<p>Allow candidates to review organization information and reviews.</p>
			<p>Share employer news and updates to engage your prospects.</p>
			<p>Optimize talent recruiting events by promoting inviting potential candidates.</p>
		</div>
		<div class="col-md-6 third-img">
		  <img src="https://res.cloudinary.com/peersview-com/image/upload/v1574349490/43405E14-6871-41FE-A37B-8B7B8862867E-485-00000053AA8727C3_mskwkl.png"/>
		</div>
	</div>
	<div class="col-md-12 sign-up-button">
    <button
    class="btn-peersview-primary btn-peersview-lg peersview-font-weigth-bold" 
    [routerLink]="['/sign-up']">Sign Up</button>
	</div>
</div>