.compose-job-component {
  padding-top: 50px;

  .title {
    padding: 5px;
    border-bottom: 1px solid;

    h1 {
      font-size: 26px;
    }
  }

  .mat-form-field {
    display: block;
  }

  .price-wrapper {
    display: flex;

    select {
      width: 60px;
    }
  }

  @media (max-width: 991px) {
    .title {
      margin-top: 53px;
      padding: 5px;
      border-bottom: 1px solid;
    }
  }
}
