@import '../../../../assets/scss/variables';

.shared-stars-component {
  color: $secondary-color;
  .star {
    margin: 0;
    font-size: 18px;
    letter-spacing: -3px;
  }
  .yellow-fill {
    color: orange;
  }
}