<app-navbar></app-navbar>
<div class="container fixed-header">
  <div class="row">
    <div class="col-md-9 followers-following">
      <a class="pull-right followers-following-back-profile" routerLink="/user-profile">Back to profile</a>
      <ul class="nav nav-tabs page-tabs">
        <li><a (click)="openTab('following')"  data-toggle="tab">Following</a></li>
        <li><a (click)="openTab('followers')" data-toggle="tab">Followers</a></li>
      </ul>
      <div class="tab-content marginT20">
        <div class="tab-pane" id="following">
          <div class="row">
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info">
                  <a href="user-profile.html" class="user-img">
                    <img src="../../../assets/images/user9.jpg" alt="Peersview">
                  </a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user8.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user7.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user6.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user5.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user4.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user3.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="followers">
          <div class="row">
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/john.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user1.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user2.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user3.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user4.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user5.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user6.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user7.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="profile-widget peers profile-sm">
                <div class="top-info"><a href="user-profile.html" class="user-img"><img src="../../../assets/images/user8.jpg"
                                                                                        alt="Peersview"></a>
                  <span class="user-profile-info">
            <h2><a href="user-profile.html">Adekunle Amodu</a></h2>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm">Unfollow</a>
            </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <div class="widget ad"> AD</div>
      <div class="sidebar-footer">
        <p>Copyright 2017 All rights reserved.</p>
        <ul>
          <li><a href="javascript:void(0);">About Us</a></li>
          <li><a href="javascript:void(0);">Our Team</a></li>
          <li><a href="javascript:void(0);">Careers</a></li>
          <li><a href="javascript:void(0);">Support</a></li>
          <li><a href="javascript:void(0);">Events</a></li>
          <li><a href="javascript:void(0);">Campus</a></li>
          <li><a href="javascript:void(0);">Privacy Policy</a></li>
          <li><a href="javascript:void(0);">Terms & Conditions</a></li>
          <li><a href="javascript:void(0);">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
