<div class="create-new-forum">
  <div class="modal-brand"><img src="../../../../assets/images/peersview-brand.png" alt=""/></div>
  <h3 class="modal-heading">Create new Community</h3>
  <h5 class="modal-heading">Communities are great for colaborating and sharing things with your peers</h5>
  <div class="modal-divider"></div>
  <div class="modal-body">
    <div class="alert alert-success" id="email-confirmation" style="display:none;">
      <i class="icon-success"></i>
      Sent confirmation link to registered email.
    </div>
    <div>
      <div class="form-group">
        <label class="form-label"></label>
        <input class="form-control" type="text" placeholder="Name of your forum">
      </div>
      <div class="form-group">

        <input class="form-control" type="text" placeholder="Your Institution">
<!--
        <label class="form-label">Your Institution</label>
        <select class="form-control">
          <option>Select</option>
          <option>University of Manchester</option>
        </select>
        -->
      </div>
      <br>
      <button class="create-new-forum__add-people-to-form">
        <i class="material-icons">group_add</i>
        Add people to the community
      </button>

      <div class="modal-divider"></div>
      <div class="form-group create-new-forum__form-group">
        <label class="form-label"></label>
        <input class="form-control" type="text" placeholder="Member's name">
        <i class="material-icons create-new-forum__add-member">add_circle_outline</i>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-blue join-community">Create</button>
  </div>

</div>
