<div class="shared-community-post-reply-component">
  <div class="col-xs-12" >
    <hr>
    <div class="reply-container">
      <div class="form-group">
        <div class="input-group">
          <input required [(ngModel)]="communityAnswer.comment" type="text" class="form-control" required>
          <span class="input-group-btn">
          <button
            class="btn btn-peersview-primary"
            [disabled]="isUserCurrentlyCommenting" type="button" (click)="onCommunityPostReply()">Reply</button>
        </span>
        </div>
      </div>
    </div>
    <div *ngIf="communityPost">
      <div *ngFor="let reply of communityPost.reply">
        <ul *ngIf="reply.quoteReplyId && reply.tagUserId" style="display: flex">
          <cl-image
            public-id="{{reply.user.socialImage ? (reply.user.profilePicture === 'avatar' ? reply.user.socialImage: reply.user.profilePicture): reply.user.profilePicture}}"
            *ngIf="reply.user?.profilePicture"
            class="user-img"
            [ngStyle]="{'border-radius': '50%'}">
            <cl-transformation width="55" height="55" radius="max" gravity="custom" crop="thumb">
            </cl-transformation>
          </cl-image>
          <li class="comment-container">
            <span>
              <span class="purple">
                <b>{{reply.user.firstName | titlecase}} {{reply.user.lastName | titlecase}}</b>
              </span> {{reply.comment}}
            </span>
            <div> <small>{{reply.createdAt | date : 'short'}}</small></div>
          </li>
          <div style="margin-left: auto">
            <report-post-community-component
              [post]="reply"
              [user]="user"
              (onDeletePost)="onDeletePostReply($event)">
            </report-post-community-component>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
