@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.jp-year-picker,
.jp-month-picker {
  .mat-calendar-period-button {
    pointer-events: none;
  }
  .mat-calendar-arrow {
    display: none;
  }
}

jp-multi-datepicker {
  .app-month-picker {
    display: flex;

    .mat-form-field {
      width: 100%;

      .mat-form-field-wrapper {
        width: 100%;
      }
    }
  }
}
